<a class="display-case-cover" href="javascript:void(0)">
{{! Make badge overlays in the display-case cover for informative tooltips }}
<div class="achievement-badge compact badge-overlay"></div>
<div class="achievement-badge compact badge-overlay"></div>
<div class="achievement-badge compact badge-overlay"></div>
<div class="achievement-badge compact badge-overlay"></div>
<div class="achievement-badge compact badge-overlay"></div>
</a>
<div class="main-case fancy-scrollbar"></div>
<div class="badge-picker fancy-scrollbar"></div>

