<span class="email">{{email}}{{#unless isCoachingLoggedInUser}} <span class="pending">(pending){{/unless}}</span></span>
{{#if isMutable}}
    <span class="controls">
    {{#if isCoachingLoggedInUser}}
        <span class="remove simple-button">Verwijder</span>
    {{else}}
        <span class="accept simple-button green">Accepteer</span>
        <span class="deny simple-button">Negeer</span>
    {{/if}}
    </span>
{{/if}}
