<div class="empty-badge-picker">
<div style="font-size:180%">No badges...yet!</div>
<a href="/#browse">Watch a video</a> or <a href="/exercisedashboard">try an exercise</a> to earn your first badge.
</div>
