<div class="modal-header">
    <a href="#" class="close-button close">x</a><h3>Voeg algemene informatie toe</h3>
</div>
<div class="modal-body">
    <div class="notification info" style="display: none;">
        Voordat we jouw profiel publiek kunnen maken moet je eerst een gebruikersnaam kiezen.
    </div>
    <div class="notification error" style="display: none;">
        Als je jouw gebruikersnaam verandert kun je deze gedurende 120 dagen niet terug veranderen naar je oude gebruikersnaam.
    </div>
    <div class="username-picker">
        <div class="row nickname-row">
            <div class="labels">
                <label for="nickname">Naam:</label>
            </div>
            <div class="inputs">
                <input type="text" value="{{nickname}}" class="nickname" id="nickname"><span class="sidenote"></span>
                <p class="input-description">
                    Dit is hoe jouw naam zal verschijnen op Khan Academie en hoe jouw vrienden en coaches je kunnen herkennen.
                </p>
            </div>
        </div>
        <div class="row username-row">
            <div class="labels">
                <label for="username">Gebruikersnaam:</label>
            </div>
            <div class="inputs">
                <input type="text" value="{{username}}" class="username" id="username"><span class="sidenote"></span>
                <p class="input-description">
                    Jouw gebruikersnaam zal verschijnen in jou Khan Academie adres.
                </p>
                <p class="input-description">
                    http://www.khanacademie.nl/profile/<span class="example-username">{{gebruikersnaam}}</span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer" style="text-align: right;">
    <input id="cancel-profile-info" type="button" class="simple-button" value="Annuleer">
    <input id="save-profile-info" type="button" class="simple-button green" value="Bewaar">
</div>