<div id="vital-statistics">
    <div id="stats-charts" class="fancy-scrollbar -ce-capture">
        <div id="graph-control-container">
            <div id="graph-container">
                <div class="vital-statistics-description">
                    <div class="activity">
                        Laat zien hoe veel werk je verricht elke dag.
                    </div>
                    <div class="focus">
                        Laat zien hoe goed je bent in bepaalde vaardigheden en bepaalde onderwerpen.
                    </div>
                    <div class="skill-progress">
                        Laat zien aan welke vaardigheden je gewerkt hebt en welke je hebt voltooid.
                        <span class="graph-options">
                            <span class="progress-legend exercise-color started">Beginner</span>
                            <span class="progress-legend exercise-color proficient">Gevorderde</span>
                            <span class="progress-legend exercise-color review light">Bespreken</span>
                            <span class="progress-legend exercise-color struggling">Moeite</span>
                        </span>
                    </div>
                    <div class="skill-progress-over-time">
                        Laat zien hoe veel vaardigheden je hebt voltooid de laatste tijd.
                    </div>
                    <div class="problems">
                        Klik om gedetailleerde informatie op te vragen.
                    </div>
                </div>
                <div id="graph-progress-bar" class="throbber-progress-bar"></div>
                <div id="graph-content"></div>
            </div>
        </div>
    </div>
</div>
