{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>Wat heb je nodig?</h1>
	<hr>
	<p> Om deel te nemen zijn de volgende 
voorzieningen nodig:<br><br>
Zowel de leraar als de leerlingen moeten de beschikking hebben over een computer met internetverbinding. 
Om in te loggen op Khan Academie is daarnaast ook een Google- of Facebookaccount nodig. <br><br>
Voor het opnemen van video's is 
daarnaast het volgende nodig: <br>
<ul>
	<li>Een computer, tablet of smartboard</li> <br>
	<li> Paint of ander tekenprogramma.</li><br>
	<li>YouTube account (Je Google-account kan hier ook gebruikt worden).</li><br>
	<li>Screencast-o-matic (gratis web-based programma op <a href="www.screencast-o-matic.com">screencast-o-matic</a>) of een ander screencastprogramma.</li>
 <br><br>Khan Academie kan ook worden gebruikt op een computer, tablet of smartphone. Om in te loggen hebben de leerlingen een Google- of Facebookaccount 
nodig.</p>
	
	<p><a href="{{base_url}}/keys-to-success" class="call-to-action simple-button green">Volgende: Voor leraar en leerling →</a></p>
	
{% endblock col1content %}	
		
{% block col2content %}	
<div class="callout">

		<h3>Handige links</h3>
		<ul class="bullet">
			<li><a href="http://prezi.com/savnabakcjjt/copy-of-blended-learning-presentation-to-students/">Example presentation that invests students in blended learning from Summit San Jose</a></li>
			<li><a href="http://dl.dropbox.com/u/34796456/Khan%20Academy%20Contract.pdf">Example class contract from Los Altos</a></li>
		</ul>			
	
</div>
{% endblock col2content %}	
