{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>Different types of learners</h1>
	<hr>
	<p class="lead">Ways iktel.nl can be used to engage different types of students</p>
	
	<h3>Motivated learners</h3>
	<p>These students often use iktel.nl at home and progress through iktel.nl at impressive speeds!  If your motivated learners have already gone through all the material that you’ve prepared for them, here are some suggestions:</p>
	<ul class="bullet">
		<li>Allow your students to continue to move at their own pace by having them watch videos and practice exercises of their choosing</li>
		<li>Give your students a project that will deepen their conceptual learning of the exercises they have just mastered</li>
		<li>Sharpen your students’ social skills and conceptual understanding by having them peer tutor other students</li>
	</ul>
	
	<h3>Disengaged learners</h3>
	<p>These students may be uninterested in iktel.nl and use time on the computer to goof off or procrastinate.</p>
	<ul class="bullet">
		<li>Diagnose the problem: Does the student have all prerequisite skills necessary for the exercise being worked on? If not, consider giving the student time to complete the prerequisites first. Is there a situation outside of school that is affecting the student’s concentration?  What is the student’s history in math?  In school?</li>
		<li>Find incentives and motivators: set appropriate goals and celebrate small successes, share data with other coaches or family members/influencers, encourage and reward improvement in attitude/work ethic</li>
	</ul>
	
	<h3>Dependent learners</h3>
	<p>These students may work diligently, but they tend to ask for help frequently, be insecure in their own answers, and need lots of guidance.</p>
	<ul class="bullet">
		<li>Emphasize a series of learning habits such as taking hints and watching a video before directly asking the teacher a question</li>
		<li>If students ask you to check their answers before they submit their final answer, encourage them to double check their work and submit their final answer when they feel ready. The more time you have to spend checking student work, the less time there is to actually teach new concepts to students who need it most</li>
		<li><a href="http://dl.dropbox.com/u/38043945/Stuck%20on%20Khan%20checklist.docx">Check out an example of a "Stuck on Khan" student guide from Summit San Jose here</a></li>
	</ul>
	
	<p><a href="{{base_url}}/using-data" class="call-to-action simple-button green">Next: Using data →</a></p>
	
{% endblock col1content %}	
		
{% block col2content %}	
<div class="callout">
		<h3>Handige links</h3>
		<ul class="bullet">
			<li><a href="http://dl.dropbox.com/u/38043945/Stuck%20on%20Khan%20checklist.docx">Example "Stuck on Khan" student guide from Summit San Jose</a></li>
			<li><a href="http://khanacademy.desk.com/customer/portal/articles/414211-do-you-have-results-that-show-the-success-of-khan-academy-in-the-classrooms-">Do you have results that show the success of KA in classrooms?</a></li>
		</ul>			
	
</div>
{% endblock col2content %}	
