{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>Wat houdt Khan in de klas in?</h1>
	<hr>
	
	<p> Het doel van is dat leraren Khan 
Academie gaan gebruiken in de klas. 
Leraren en leerlingen gaan dus  
werken met Khan Academie. De leraar 
wordt coach van zijn klas en zal (een 
deel van) zijn lesmateriaal opnemen 
op video en op Khan Academie 
plaatsen. Leerlingen kunnen deze 
video's online bekijken en kunnen aan 
de slag met de oefeningen op het 
gebied van rekenen en wiskunde die 
op Khan Academie beschikbaar zijn. <br>
<br>
U kunt in principe gewoon zelfstandig 
aan de slag gaan. Voor 
onduidelijkheden of problemen kunt u 
altijd contact met ons opnemen.</p>
	
	<p><a href="{{base_url}}/classroom-culture" class="call-to-action simple-button green">Next: Classroom culture →</a></p>

{% endblock col1content %}	
		
{% block col2content %}	
<div class="callout">
		<h3>Handige links</h3>
		<ul class="bullet">
			<li><a href="http://dl.dropbox.com/u/34796456/ka-first-week.pdf">Rooster voor het gebruik van de eerste week van Khan</a></li>
			<li><a href="http://dl.dropbox.com/u/34796456/ka-first-month.pdf">Rooster voor het gebruik van de eerste maand van Khan</a></li>
		</ul>			

</div>
{% endblock col2content %}	
