{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}

	<h1>How to use this toolkit</h1>
	<hr>
		
	<p class="lead">If you're interested in using Khan Academy at your school or in your classroom, then these resources are for you.</p> 
	
	<p>Khan Academy can be used in many wonderful and creative ways, and we’re always thrilled to hear about how it’s helping to enhance student learning. Many of the suggestions in the toolkit come from classrooms currently piloting Khan Academy, and while they reflect our best knowledge of KA in classrooms to-date, other techniques may work better in your classroom. As you discover methods that work well for you, please <a href="{{base_url}}/teacher-faqs">add them to our FAQs</a>!</p> 

	<p>Depending on how you're planning to use Khan Academy in your classroom, different parts of the toolkit may be most useful to you.</p>
	
	<img class "image-centered" src="/images/toolkit/implementation-models-2.png"/>
	
	<p><strong>Supplemental models:</strong> If you’re interested in using Khan Academy as a supplemental resource (e.g., in a learning lab, as an optional or additional homework tool, as a curriculum resource), check out our sections on <a href="{{base_url}}/setting-up-accounts">setting up accounts</a>, <a href="{{base_url}}/keys-to-success">keys to success</a>, <a href="{{base_url}}/instructional-strategies">instructional strategies</a>, <a href="{{base_url}}/using-data">using data</a>, and our <a href="{{base_url}}/teacher-faqs">FAQs</a>.</p>
	<p><strong>Individualized units:</strong> In our pilot, some teachers use Khan Academy to create individualized units, in which students cover grade-level standards at their own pace. If you're interested in using Khan Academy in this way, all of the resources here should be helpful to you. In particular, check out our sections on <a href="{{base_url}}/classroom-culture">classroom culture</a>, <a href="{{base_url}}/using-data">using data</a>, and <a href="{{base_url}}/individualized-units">individualized units</a>. </p>
	<p><strong>Future models:</strong> We’re really excited about working with teachers and administrators who want to challenge some of the basic assumptions in education to meet each student’s needs. The possibilities are endless, but some of the ideas we’re hoping to see:</p>
		<ul class="bullet">
			<li>Mixed-age classes</li>
			<li>Self-paced learning, even outside of grade-level standards (i.e., students could learn topics below or above grade level, depending on their needs)</li>
			<li>Significant use of real-world problem-solving and meaningful project-based learning</li>
			<li>Cross-disciplinary courses</li>
		</ul>

	<p>If you’re interested in using Khan Academy to do something like that, please <a href="http://elizabethka.wufoo.com/forms/innovate-in-the-classroom-with-khan-academy/">apply here</a>.</p>

	<p><a href="{{base_url}}/toolkit-sections" class="call-to-action simple-button green">Next: Sections of this site →</a></p>


{% endblock col1content %}	
		
{% block col2content %}	
<div class="callout">
	<h3>Useful links</h3>
	<ul class="bullet">
		<li><a href="http://khanacademy.desk.com/customer/portal/articles/414175-what-is-the-vision-of-khan-academy-in-the-classroom-">What is the vision for KA in the classroom?</a></li>
		
</div>
{% endblock col2content %}	
