{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}

	<h1>Welcome to the Teacher Toolkit!</h1>
	<hr>

    <p class="lead">We are constantly learning from inspiring teachers and students.</p>
		
	<p>Since late 2010, we have partnered with educators using Khan Academy in classrooms. Through these partnerships we can better understand how our tools are being used in classrooms today, equipping us to build even better tools in the future. Treat this toolkit as one view on how Khan Academy can be used in the classroom; we encourage you to continue to innovate!</p>
	<p>First, check out Sal's take on blending digital and physical learning:</p>
	<iframe width="560" height="315" src="http://www.youtube.com/embed/0OtSs2xEpzY" frameborder="0" allowfullscreen></iframe>
	<p><strong>Note:</strong> This toolkit is a work in progress! Please <a href="http://khanacademy.desk.com/customer/portal/questions/170780-i-wish-there-were-this-feature-on-khan-academy-">send us your feedback</a> on a) how we can improve and b) which resources you found particularly helpful. In return, we will handsomely reward you with smiles and gratitude :)</p>

	<p><a href="{{base_url}}/how-to-use-this-toolkit" class="call-to-action simple-button green">Next: How to use this toolkit →</a></p>

{% endblock col1content %}

{% block col2content %}
<div class="callout">
	<h3>Useful videos</h3>
	<span class="video-link"><iframe width="90%" height="150" src="http://www.youtube.com/embed/RoGgxrCsCEQ" frameborder="0" allowfullscreen></iframe></span>
	<ul class="bullet">
		<li><a href="http://www.khanacademy.org/talks-and-interviews/v/the-gates-notes---students-in-los-altos">Perspective of students (video)</a></li>
		<li><a href="http://www.khanacademy.org/talks-and-interviews/v/the-gates-notes--administrators-in-los-altos">Perspective of administrators (video)</a></li>
    </ul>
</div>
{% endblock col2content %}
