{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>Individualized units with KA</h1>
	<hr>
	
	<p>In our pilot, some teachers use Khan Academy to create individualized units, in which students cover grade-level standards at their own pace. To plan these units, teachers use <a href="http://dl.dropbox.com/u/34796456/Integrating%20Khan%20Academy%20%26%20Curriculum%20Worksheets%20for%20Toolkit.v7.pptx"> these worksheets</a>, and we hope they'll be a helpful starting point for you too!</p> 

        <h3>How should I use this section of the toolkit?</h3>
        <p class="has-media"><span class="toolkit-media"><iframe width="100%" height="200" src="http://www.youtube.com/embed/4nW8o11QlLc" frameborder="0" allowfullscreen></iframe></span><p>
	<p>This section of the toolkit has 6 parts. You can read a brief summary of each part below, then <a href="http://dl.dropbox.com/u/34796456/Integrating%20Khan%20Academy%20%26%20Curriculum%20Worksheets%20for%20Toolkit.v7.pptx">download relevant worksheets and handouts</a>. </p> 
	<ol class="number">
		<li><strong>Which topics or standards will this unit cover?</strong><br>
			Lay out the topics or standards you plan to cover so you can easily search for corresponding KA resources in the next steps.</li>

		<li><strong>Is every student ready for this unit?</strong><br>
			Identify prerequisites for the upcoming unit, and use KA data to find out whether students have completed them. If some students haven't, make sure they complete them before starting the next unit. Meanwhile, students who are ready can get started on the new unit.</li>

                <p class="has-media"><span class="toolkit-media"><a href="http://dl.dropbox.com/u/34796456/Integrating%20Khan%20Academy%20%26%20Curriculum%20Worksheets%20for%20Toolkit.v7.pptx"><img width="90%" src="/images/toolkit/Flowchart.png"/></a></span>
	        <li><strong>What assignments do all students need to do?</strong><br>
		Preparing a list of assignments for the entire unit enables students to learn and practice content at their own pace.</li>

	        <li><strong>How can students use goal-setting?</strong><br>
		Setting goals helps students focus on appropriate topics (i.e., unit assignments, other topics they'd like to learn) and take responsibility for their learning; they can set goals on KA, and as their coach you can follow their progress.</li>

	        <li><strong>What can I do to help students achieve their goals?</strong><br>
		This step helps you plan how you'll intervene to meet each student's needs based on cues from KA data. For ideas on how to use data to help students meet their goals, check out our <a href="{{base_url}}/instructional-strategies"> instructional strategies</a>.</li>

	<li><strong>How and when will I assess mastery?</strong><br>
		This step will help you begin to think through testing in self-paced units.</li>
	
	<p><a href="/commoncore" target="_blank" class="call-to-action simple-button green">Next: Common Core  →</a></p>
	
{% endblock col1content %}	
		
{% block col2content %}	
<div class="callout">
		<h3>Handige links</h3>
		<ul class="bullet">
			<li><a href="http://dl.dropbox.com/u/34796456/Integrating%20Khan%20Academy%20%26%20Curriculum%20Worksheets%20for%20Toolkit.v7.pptx">Download worksheets</a></li>
			<li><a href="http://khanacademy.desk.com/customer/portal/articles/414175-what-is-the-vision-of-khan-academy-in-the-classroom-">What is the vision for KA in the classroom?</a></li>
			</ul>
</div>

{% endblock col2content %}	
