{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>Welke informatie kan je opvragen?</h1>
	
	<p><h4> Iktel houdt voor u bij welke oefeningen leerlingen maken, hoe goed ze de 
oefeningen maken en wat hun doelstellingen zijn. Hieronder ziet u een overzicht van de 
informatie die u kunt opvragen.</h4>

<h4>Het voortgangsoverzicht</h4>
Het voortgangsoverzicht zorgt ervoor dat je direct kan 
zien hoe de klas presteert bij een bepaald onderwerp 
en met welke onderdelen ze worstelen. Het 
filtersysteem maakt het mogelijk in te zoomen op een 
bepaalde leerling.<br><br>
<h4>Het dagelijkse activiteiten overzicht</h4>
Met het dagelijkse activiteiten overzicht kunt u precies 
zien waar leerlingen op een bepaald moment aan 
werken.<br><br>
<h4>Samenvatting voortgang</h4>
De samenvatting voortgang biedt u de mogelijkheid in 
te zoomen op een specifiek onderwerp. U kunt 
precies zien hoe uw klas dit onderwerp beheerst.<br><br>
<h4>Doelen</h4>
Door op doelen te klikken ziet u meteen welke doelen uw 
leerlingen voor zichzelf hebben gesteld.<br><br>
<h4>Welke informatie kunt u opvragen?</h4>
Iktel houdt voor u bij welke oefeningen leerlingen maken, hoe goed ze de 
oefeningen maken en wat hun doelstellingen zijn. Hieronder ziet u een overzicht van de 
informatie die u kunt opvragen.<br><br>
<h4>Focus</h4>
Onder focus ziet u precies op welke oefeningen en 
video's uw leerlingen zich focussen. Doordat u inzicht 
krijgt in waar zij hun tijd aan besteden kunt u hen 
gericht sturen waar u denkt dat dit nodig is.<br><br>
<h4>Activiteiten overzicht</h4>
Geeft inzicht in waar leerlingen gedurende een 
bepaalde periode aan gewerkt hebben. 
<h4>Prestaties</h4>
U kunt precies zien welke badges uw leerlingen hebben 
behaald.</p>
	
	
	

	
{% endblock col1content %}	
		
{% block col2content %}	
<div class="callout">
		<h3>Handige links</h3>
		<ul class="bullet">
			<li><a href="http://dl.dropbox.com/u/38043945/Active%20Listening%20Khan%20Academy.docx">Example lesson on active listening from East Side Palo Alto</a></li>
			<li><a href="http://dl.dropbox.com/u/38043945/OaklandUnityViewingGuide.docx">Example handout on active listening from Oakland Unity</a></li>
			<li><a href="http://khanacademy.desk.com/customer/portal/articles/414247-what-are-some-example-projects-that-have-been-used-in-khan-classrooms-">What are some example projects that have been used in Khan classrooms?</a></li>
			<li><a href="http://khanacademy.desk.com/customer/portal/articles/414161-are-you-essentially-%22flipping-the-classroom%22-with-these-pilot-implementations-">Are you essentially flipping the classroom in these pilots?</a></li>
		
		</ul>			
</div>
{% endblock col2content %}	
