{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>Why Khan Academy?</h1>
	<hr>
	
	<p class="lead">Khan Academy can help you create an engaging, dynamic classroom that meets the needs of every student.</p>
	

        <p><h3>Exercises and videos</h3></p>
        <p class="has-media"><span class="toolkit-media"><a href="/exercise/derivative_intuition"><img width="80%" src="/images/splashthumbnails/exercises/ex1.png" /></a></span>
		<ul class="bullet">
		<li>KA generates an <strong>unlimited number of random questions</strong> for students to practice topics from arithmetic through calculus. Students get automatic feedback and hints for each problem, and the system keeps track of students' progress, so you don't have to grade homework</li>
		<li>Since problems are randomly generated, <strong>students can't copy each other's homework</strong></li>
		<li>With KA's 3000+ videos and 300+ exercises, students can move ahead or relearn earlier concepts <strong>at their own pace</strong></li>
	</ul>
		
        <p><h3>Data</h3></p>
        <p class="has-media"><span class="toolkit-media"><iframe width="100%" height="200" src="http://www.youtube.com/embed/DLt6mMQH1OY" frameborder="0" allowfullscreen></iframe></span><p>
		<ul class="bullet">
		<li>All student data is available to all coaches (teachers, parents, tutors) in real time</li>
		<li>Data reports are easy to read and allow you to survey class-wide trends and deep dive into individual students’ struggles and successes</li>
		<li>Knowing exactly how each student is doing allows you to <strong>spend your time with the students who need your help most</strong></li>
	</ul>
		
        <p><h3>Student autonomy</h3></p>
		<ul class="bullet">
		<li>Content on KA is never restricted from anyone, so students always have the autonomy to explore topics about which they are curious</li>
		<li>This freedom enables students to choose and tackle concepts they may not have been exposed to in the past, which often makes them <strong>more engaged and invested</strong></li>
	</ul>	
	
	<h3>What challenges should I be prepared for before using KA in my classroom?</h3>
        <p class="has-media"><span class="toolkit-media"><iframe width="100%" height="200" src="http://www.youtube.com/embed/RoGgxrCsCEQ" frameborder="0" allowfullscreen></iframe></span><p>
	<p>With KA, students can learn at their own pace, but you'll probably need extra prep time, and you may get a bit overwhelmed at the beginning.</p>
		<p><strong>Prep time</strong>: At first, you may need more prep time to review KA data and to adjust your planning accordingly. One upside? You don't need to create minute-by-minute lesson plans because Khan Academy can keep your students engaged regardless of their level in math.</p>
		<p><strong>Data</strong>: While the data available in KA is a big plus (and the key to making this all work), it can be overwhelming to have so much data at your fingertips. Teachers who've used KA successfully recommend investing some time upfront to get familiar with the data so that you're able to take advantage of it. <a href="using-data">Find out more</a>.</p>
		<p><strong>Chaos</strong>: Dynamic classrooms are exciting and energetic, with each student working on content appropriate to him or her. While it's powerful to have a small group seminar, peer tutoring, individual work, and projects happening simultaneously, it can also feel chaotic at first. You may want to ease your way in by starting with individual work and small groups, then introducing peer tutoring and projects. The chaos is much easier to embrace when you realize that each student is engaged and truly learning.</p>
		
	
	<p><a href="{{base_url}}/setting-up-accounts" class="call-to-action simple-button green">Next: Setting up a class →</a></p>
	
{% endblock col1content %}	
		
{% block col2content %}	
<div class="callout">
		<h3>Useful links</h3>
		<ul class="bullet">
			<li><a href="/#watch">Watch our videos</a></li>
			<li><a href="/exercisedashboard">Practice math with interactive exercises</a></li>
		</ul>			
</div>

{% endblock col2content %}	
