{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>Voor de leraar en leerling</h1>
	<hr>
	<p> 
	<h2>Iktel.nl voor leraren</h2><br>
Het gebruik van iktel.nl door leraren heeft meerdere voordelen. Allereerst kunnen de 
leraren hun eigen lessen opnemen op video. Het voordeel hiervan is dat een leraar niet 
steeds dezelfde uitleg hoeft te geven; een goede video kan jaren mee. Daarnaast kunnen 
leerlingen die moeite hebben met bepaalde stof, of die graag hun geheugen willen opfrissen 
over bepaalde stof weer teruggrijpen op de video. Natuurlijk kunnen leerlingen de uitleg ook 
voorafgaand aan de les bekijken, waardoor ze voorbereid zijn en gericht vragen kunnen 
stellen over hetgeen hen nog niet duidelijks is.  In de klas ontstaat daardoor meer ruimte voor 
verdiepingen en het geven van ondersteuning. Iktel.nl maakt het mogelijk dat 
leerlingen in hun eigen tempo werken. De oefeningen die zij maken worden automatisch 
nagekeken en ze krijgen direct feedback over het resultaat. Omdat iktel.nl beschikt 
over een leerlingvolgsysteem heeft de leraar inzicht in hoe zijn klas ervoor staat: Welke 
video's ze hebben bekeken, welke oefeningen hebben ze gemaakt, welke stof beheersen ze 
en welke stof nog niet. Kortom, de leraar weet waar zijn leerlingen mee bezig zijn en kan 
gericht helpen, precies daar waar dat nodig is.</p>
<br>
<h2>Iktel.nl voor leerlingen</h2><br>

Iktel.nl heeft verschillende voordelen voor leerlingen:
Iktel.nl genereert een onbeperkt aantal vragen voor leerlingen over diverse reken- 
en wiskunde onderwerpen. De leerling krijgt direct feedback over of hij of zij het goede 
antwoord heeft gegeven. Ook kunnen er hints gevraagd worden, wanneer de leerling het 
antwoord niet direct weet. Leerlingen kunnen daarnaast ten alle tijde de video's met uitleg 
raadplegen. Wanneer ze wat meer moeite hebben met een bepaald onderwerp kunnen ze de 
uitlegvideo opnieuw kijken zonder dat ze steeds weer om hulp moeten vragen. Leerlingen die 
juist geen moeite hebben met een bepaald onderdeel hoeven niet naar de uitleg te luisteren 
over lesstof die zij al beheersen. Hierdoor kunnen leerlingen op hun eigen tempo werken. Dit 
betekent dat wanneer zij een bepaald onderdeel onder de knie hebben ze door kunnen met 
een ander onderwerp waarover ze iets willen leren. 
Iktel.nl biedt ook de mogelijkheid voor leerlingen om in overleg met de docent hun 
eigen doelen stellen. Hiermee kunnen zij hun eigen schema maken.
Voor leerlingen is iktel.nl naast nuttig ook leuk. iktel.nl bevat allerlei 
elementen van gamification waardoor leerlingen uitgedaagd worden om meer oefeningen te 
maken en video's te bekijken. Leerlingen kunnen badges winnen en die tentoonstellen in hun 
prijzenkast waardoor ze anderen kunnen motiveren ook beter hun best te doen.

	
	<p><a href="{{base_url}}/instructional-strategies" class="call-to-action simple-button green">Volgende: Welke informatie krijg ik? →</a></p>
	
{% endblock col1content %}	
		
{% block col2content %}	
<div class="callout">
		<h3>Handige links</h3>
		<ul class="bullet">
			<li><a href="http://dl.dropbox.com/u/34796456/Active%20Listening%20Khan%20Academy.docx">Lesson on active listening from Eastside Prep</a></li>
			<li><a href="http://dl.dropbox.com/u/38043945/OaklandUnityViewingGuide.docx">Handout on active listening from Oakland Unity</a></li>
			<li><a href="http://khanacademy.desk.com/customer/portal/articles/414211-do-you-have-results-that-show-the-success-of-khan-academy-in-the-classrooms-">Do you have results that show the success of KA in classrooms?</a></li>
		
		</ul>			
</div>


             <script type="text/javascript">
            var disqus_shortname = 'ka-toolkit'; 
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	
{% endblock col2content %}	
