{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>Navigatie</h1>
	<hr>
	<p class="lead">Onderstaand filmpje beschrijft hoe de site werkt. </p>
	
	<p>Bekijk alvast een Engelstalig filmpje om te ontdekken hoe de website werkt. Deze wordt spoedig vervangen voor een Nederlandstalige.</p>
	
	<iframe width="560" height="315" src="http://www.youtube.com/embed/DLt6mMQH1OY" frameborder="0" allowfullscreen></iframe>
	

	
	<p><a href="{{base_url}}/first-week" class="call-to-action simple-button green">Volgende: Starten met Khan Academie →</a></p>

{% endblock col1content %}	
		
