{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>Navigating the site</h1>
	<hr>
	<p class="lead">Come on in and make yourself at home with over 3,000 videos, 300 interactive exercises, and analytics to tie everything together.</p>
	
	<p>The core of Khan Academy consists of exercises, videos, and analytics, and we're so excited for you to use them. We've recorded a short video overview to take you through the basics:</p>
	
	<iframe width="560" height="315" src="http://www.youtube.com/embed/DLt6mMQH1OY" frameborder="0" allowfullscreen></iframe>
	
	<p>Take a look at 5 of our favorite videos:</p>
	<ul class="bullet">
		<li><a href="http://www.khanacademy.org/video/the-beauty-of-algebra">The Beauty of Algebra</a></li>
		<li><a href="http://www.khanacademy.org/video/the-golden-ratio">The Golden Ratio</a></li>
		<li><a href="http://www.khanacademy.org/video/black-holes">Black Holes</a></li>
		<li><a href="http://www.khanacademy.org/video/glucose-insulin-and-diabetes">Glucose Insulin and Diabetes</a></li>
		<li><a href="http://www.khanacademy.org/video/social-security-intro">Social Security introduction</a></li>
	</ul>
	
	<p>Play around with 5 of our exercises (be sure to check out the hints!):</p>
	<ul class="bullet">
		<li><a href="http://www.khanacademy.org/exercise/multiplication_4">Multiplication 4</a></li>
		<li><a href="http://www.khanacademy.org/exercise/negative_number_word_problems">Negative number word problems</a></li>
		<li><a href="http://www.khanacademy.org/exercise/graphing_systems_of_equations">Graphing systems of equations</a></li>
		<li><a href="http://www.khanacademy.org/exercise/scientific_notation_intuition">Scientific notation intuition</a></li>
		<li><a href="http://www.khanacademy.org/exercise/derivative_intuition">Derivative intuition</a></li>
	</ul>
	
	<p><a href="{{base_url}}/first-week" class="call-to-action simple-button green">Next: Starting out on Khan Academy →</a></p>

{% endblock col1content %}	
		
