{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>Projects in the classroom</h1>
	<hr>
	
        <p>Projects enable students to gain deeper conceptual understandings, team building skills, and valuable inquiry-driven experiences.  We encourage teachers to use projects alongside Khan Academy to 1) free up class time, 2) make sure that students have the necessary skills to be able to do the projects, and 3) enable students to apply their skills to relevant, real world problems.</p>

        <p class="has-media"><span class="toolkit-media"><img width="90%" src="/images/toolkit/Flowchart.png"/></span>

        <p>In our pilot classrooms, we’ve seen teachers use projects in the following ways:
        <ul class="bullet">
            <li>Hooks that whet students’ appetites to learn more</li>
            <li>Self-directed investigations of a math concept</li>
            <li>Creative applications of math skills</li>
            <li>Exploratory, inquiry-based experiences</li>
        </ul>

        <h3>Share your projects</h3>
        <p>If you have any project ideas that you would like to share, please send them to us at <a mailto="implementations@khanacademy.org">implementations@khanacademy.org</a> and use this <a href="">template</a> to illustrate how you have used the project alongside KA exercises and videos.</p>

        <h3>Pilot a project based curriculum</h3>
        <p>While we have seen excellent teachers use projects in conjunction with KA, we are especially interested in seeing how KA works when integrated into a project-based curriculum.  If you already teach a project-based math curriculum and have a vision of how to blend KA into your classroom, please <a href="http://elizabethka.wufoo.com/forms/innovate-in-the-classroom-with-khan-academy/">apply to our pilot</a>.</p>
	<p><a href="/projects" class="call-to-action simple-button action-gradient green">Next: Project resources →</a></p>
	
{% endblock col1content %}	
		
{% block col2content %}	
<div class="callout">
		<h3>Useful links</h3>
		<ul class="bullet">
			<li><a href="http://dl.dropbox.com/u/34796456/Active%20Listening%20Khan%20Academy.docx">Project Template</a></li>
		
		</ul>			
</div>
{% endblock col2content %}	
