{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>Setting up a class</h1>
	<p class="lead">To get the most out of Khan Academy, you'll need to set up accounts. We've created a handy guide to make sure you'll be up and running in no time.</p>
	<p>We now have our own Khan Academy login, so you can sign up for Khan Academy with any email address. If your students are over age 13, they can set up accounts with Khan Academy by clicking "login" in the upper right-hand corner of the screen, then clicking "create one" under "Login with a Khan Academy account." Students will then be prompted to enter their birthdate and any email address.</p>
	<p>Students under age 13 can have their own Khan Academy accounts too! To create an account for your child, make sure you are logged into your own account and go to <a href="www.khanacademy.org/createchild">www.khanacademy.org/createchild</a>. You will remain your child's permanent coach and can manage his or her password. Students under age 13 cannot make their profiles public or post public messages in discussion forums. If you'd like your child to be able to add other coaches (e.g., his or her teacher), click "coach" in the upper right-hand corner of the screen and choose "manage students." Hover next to your child's name and select "allow other coaches." You can find more information about under-13 accounts <a href="http://www.khanacademy.org/about/blog/post/24003343446/parents-can-now-create-accounts-for-their-children">here</a>.</p>
	
	
	<p>You can also log into Khan Academy with personal Google and facebook accounts or with Google Apps for Education accounts (most school systems qualify). If you'd like to set up Google Apps for Education accounts to register your class on Khan Academy, you can find more information here:</p>
	<ul class="bullet">
		<li><a href="http://www.google.com/apps/intl/en/edu/k12.html">Google Apps for Education registration</a></li>
		<li><a href="http://www.google.com/support/a/bin/answer.py?answer=139019">Google Apps for Education common questions</a></li>
	</ul>
	
	<h3>A smooth start to class</h3>
	<p class="has-media"><span class="toolkit-media"><img width="100%" src="/images/toolkit/login-with-Google.png"/></span>
	To get started easily, we recommend pre-registering students for class with assigned email accounts (e.g., john-appleseed@school.org for the student John Appleseed) and passwords (e.g., school2012). Students can use these email addresses and passwords to log into Khan Academy through the Khan Academy login or the Google login.</p>
		
        <p>Logging in to a new system for the first time can be a bit hectic, so we included <a href="http://dl.dropbox.com/u/33113979/KA_add_students.pdf">a sample handout</a> to guide students through the initial login process.
        <!--- <strong>TODO: add in sample document</strong></p>	--->
	
	<p>Coaches can see students' data and help support their learning. If you want to see your students' data, you'll need to be their coach. We also encourage students to add their parents as coaches for extra support. To add a coach to their accounts, students should follow the instructions below:</p>
		
	<!-- TODO(Matt): Link to coach.html template instead of copying in file contents. -->
						
    {% set coach_email = UserData.current().email if UserData.current() else "Sign in for your Coach id." %}

    <div id="empty-class">
        {% if class_is_empty %}
        <h1>You don't have any students yet.</h1>
        {% endif %}
        <h3>Each of your students needs to sign in and follow these steps:</h3>
        <ol>
            <li>
                <p>First, they should visit <a href="/profile">their profile</a> by clicking on their name at the top of the page.</p>
                <img src="/images/profile-link-in-header.png?1" class="vertical-shadow rounded-background" />
            </li>
            <li>
                <p>Then, they should click on the Coaches tab.</p>
                <img src="/images/coaches-nav.png?1" class="vertical-shadow rounded-background"/>
            </li>
            <li class="enter-email">
                <!-- Are you a flying chimpanzee? Are you changing this element or anything inside?
                If you answered yes to any of these questions, please update the positioning of the coach email.
                Look in default.css for #empty-class ol li.enter-email div.coach-email -->
                <p>Finally, they need to enter your Coach id and click the <em>Add coach</em> button.</p>
                {% if UserData.current() %}
                    <p>Your Coach id is <strong>{{ coach_email|escape }}</strong>.</p>
                {% else %}
                    <p>{{ coach_email|escape}}</p>
                {% endif %}
                <div class="coach-email">{{ coach_email|escape }}</div>
                <img src="/images/coaches-tab-in-profile.png?1" class="vertical-shadow rounded-background"/>
            </li>
        </ol>
        <p>Once students make you their coach, you'll have access to all types of interesting data about their progress and achievements.</p>
        <p>You can access that data via the <a href="/class_profile">Class Report</a>.</p>
    </div>
    
    <h1>Creating class lists</h1>
    <hr>
    <p>You can find all students who have added you as their coach by clicking “Coach” in the upper-right-hand corner of the site and choosing “manage students.” Some teachers like to separate their students into multiple class lists (e.g., one list for each class period they teach). If you’d like to split students into more than one class list,</p>
     <ul class="bullet">
    	<li>Click “create a new list” on the left-hand side of the screen</li>
    	<li>Name the list (e.g., first period or Algebra) and select "OK"</li>
    	<li>Repeat for as many class lists as you'd like to create</li>
    </ul>
    <p>Now you'll want to add students to the class lists you just created. In the center of the screen, you'll see a list of all of your students.
    <ul class="bullet">
    	<li>Hover your mouse to the right of each student’s name; you’ll see a drop-down menu of all of your class lists appear</li>
    	<li>Click the list to which you’d like to add each student. For example, if you want to add Jane to “Algebra,” hover next to her name and click the box for “Algebra.” You can add students to more than one list if you'd like</li></ul>
    <p>You can see all of the real-time reports for all of your students and for each class list you created by clicking on the “all students” drop-down menu on the upper right-hand side of the coach page and selecting the class list you’d like to view.</p>
    
	<p><a href="{{base_url}}/technology" class="call-to-action simple-button green">Next: Technology →</a></p>

{% endblock col1content %}	
		
{% block col2content %}	
<div class="callout">
		<h3>Useful links</h3>
                <ul class="bullet">
			<li><a href="http://dl.dropbox.com/u/33113979/KA_add_students.pdf">Download handout for students to add a coach</a></li>
			<li><a href="http://khanacademy.desk.com/customer/portal/articles/414069-how-can-i-add-my-class-to-khan-academy-">How can I add my class to Khan Academy?</a></li>
			<li><a href="http://khanacademy.desk.com/customer/portal/articles/414096-we-cannot-use-gmail-or-facebook-in-our-school-how-can-we-log-in-to-khan-academy-">How can we log in without gmail or facebook?</a></li>
			<li><a href="http://khanacademy.desk.com/customer/portal/articles/414103-do-you-support-any-other-ways-to-log-into-khan-academy-">Are there other ways to log into Khan Academy?</a></li>
			<li><a href="http://khanacademy.desk.com/customer/portal/articles/414104-does-khan-academy-have-its-own-login-">Does Khan Academy have its own login?</a></li>
		</ul>	
</div>


             <script type="text/javascript">
            var disqus_shortname = 'ka-toolkit'; 
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	
{% endblock col2content %}	
