{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>Teacher FAQs</h1>
	<hr>
	
	<p>Content goes here.</p>
		
{% endblock col1content %}	
		
{% block col2content %}	
<div class="callout">
		<h3>Handige links</h3>
		<ul class="bullet">
			<li><a href="#">What type of computers should I get for my classroom?</a></li>
			<li><a href="#">How fast does my internet connection need to be to run Khan Academy?</a></li>
		</ul>			
</div>
{% endblock col2content %}	
