{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>Technologie</h1>
	<hr>
	<p class="lead">Voor het gebruik van Khan Academie is slechts een internetverbinding en een moderne webbrowser nodig.</p>
	
	<p>Khan Academie is op alle browsers te gebruiken. Voor Internet-explorer is het gebruik van één van de laatste twee versies vereist. </p>
	
	<h3>Log-in / accounts</h3>
	<p>Als je veel accounts wilt gebruiken, raden wij het gebruik van Google Apps for Education aan (uitgelegd op de pagina van <a href="/toolkit/setting-up-accounts">een klas opstarten</a>)</p>
	<p>Op dit moment is het alleen mogelijk om met een Google- of Facebookaccount aan te melden. In de toekomst zal dit uitgebreid worden.</p>
	
	<h3>Computers en apparaten</h3>
	<p>Om Khan Academie te gebruiken is geen speciale software vereist. Het platform kan gebruikt worden op laptops, Notebooks, Netbooks, pc's, macs of tablets.</p>
	
	<h3>Internet verbinding</h3>
	<p>Er is slechts een internetverbinding vereist. 1.5 MBps is de minimale vereiste. Voor het afspelen van video's raden wij een hogere internetverbinding aan.<p>
	<ul class="bullet">
	
	
	<h3>YouTube filter</h3>
	<p>Als je wilt dat je leerlingen alleen gebruik kunnen maken van de Khan-video's (en dus niet van andere Youtube-content), kun je je opgeven voor<a href="http://youtube.com/education_signup">YouTube voor scholen</a></li>. Meer uitleg vind je op <a href="http://www.youtube.com/schools"></a>.</p>
	
	
	<p><a href="{{base_url}}/navigating-the-site" class="call-to-action simple-button green">Volgende: Navigatie →</a></p>

{% endblock col1content %}	
		
{% block col2content %}	
<!--
<div class="callout">
		<h3>Handige links</h3>
		<ul class="bullet">
			<li><a href="http://khanacademy.desk.com/customer/portal/articles/414115-what-types-of-computers-devices-should-i-be-using-in-the-classroom-">What type of computers should I have in my classroom?</a></li>
			<li><a href="http://khanacademy.desk.com/customer/portal/articles/414132-which-browsers-are-supported-">Which browsers are supported?</a></li>
		</ul>			
</div>
-->

             <script type="text/javascript">
            var disqus_shortname = 'ka-toolkit'; 
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	
{% endblock col2content %}	
