{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>Data gebruiken</h1>
	<hr>
	
	<p class="lead">Aanbevolen manieren om de KA data te gebruiken</p>
	
	<h3>Voortgangsrapport</h3></p>
        <p class="has-media"><span class="toolkit-media"><a href="/images/toolkit/ProgressSummary2.jpg"><img width="100%" src="/images/toolkit/ProgressSummary.jpg"/></a></span>
	<ul class="bullet"></p>
		<li><strong>Tijdens de les:</strong> Gebruik de zoekfunctie om een specifieke oefening uit te lichten. Door gebruik te maken van de data kun je veel gerichter onderwijs geven. Mix leerlingen die bepaalde onderwerpen wel en niet machtig zijn of geef individuele uitleg aan leerlingen die dat nodig hebben.</li>
		<li><strong>De dag of week van tevoren:</strong> Kijk of er bepaalde oefeningen zijn waar meerdere leerlingen moeite mee hebben en bereid lessen voor dit onderwerp voor (voor de hele klas of alleen voor deze leerlingen). Stel bijvoorbeeld ten doel in dat iedereen in de klas aan het eind van de week bepaalde opgaven onder de knie moet hebben.</li>
	<li><strong>Een week vook de volgende les:</strong> Bekijk welke oefeningen er straks behandeld gaan worden. Bepaal aan de hand van de statistieken van de leerlingen welke studenten zich op welke onderwerpen gaan richten.</li>
	</ul>
	<br>
	<h3>Dagelijks activiteiten verslag</h3>
        <p class="has-media"><span class="toolkit-media"><a href="/images/toolkit/DailyActivityReport.jpg"><img width="100%" src="/images/toolkit/DailyActivityReport2.jpg"/></a></span>
	<ul class="bullet"></p>
		<li><strong>Tijdens de les:</strong> Bekijk aan welke stof de klas aan het oefenen is en hoe snel dat gaat. Je kunt dit ook aan de klas zelf laten zien om ze te motiveren, of vergelijk de resultaten dagelijks met andere klassen.</li>
		<li><strong>Deelneming/huiswerk:</strong> Je kunt bijvoorbeeld een tijd instellen die studenten aan Khan moeten besteden. Dit kan voor zowel video kijken als oefeningen maken gelden. Dit verslag geeft een globaal inzicht hoeveel er ook daadwerkelijk tijdens of na de les is gedaan.</li>
	</ul>
	<br>
	<h3>Doelen</h3>
        <p class="has-media"><span class="toolkit-media"><a href="/images/toolkit/Goals.jpg"><img width="100%" src="/images/toolkit/GoalsReport.jpg"/></a></span>
	<ul class="bullet"></p>
		<li><strong>Tijdens de les:</strong> Gebruik de filters om te zien welke leerlingen er moeite hebben om hun doelen te behalen. Richt je op die leerlingen door ze in een ander groepje te plaatsen, of richt je direct op deze leerling.</li>
		<li><strong>De dag of week van tevoren:</strong> Controleer of er bepaalde opgaven zijn waar groepjes of individuen moeite mee hebben. Aan de hand van de gestelde doelen en opgaven waar leerlingen het moeilijk mee hebben kun je ze samen laten werken.</li>
		<li><strong>Weken van tevoren:</strong> Laat leerlingen zelf doelen bepalen, en kijk naderhand of ze ze ook behaald hebben.</li>
	</ul>
	<br>
	<h3>Voortgangsrapport</h3>
        <p class="has-media"><span class="toolkit-media"><a href="/images/toolkit/HeatMap.jpg"><img width="100%" src="/images/toolkit/ProgressReport2.jpg"/></a></span>
	<ul class="bullet"></p>
		<li><strong>Lesplanning:</strong> Kijk welke oefeningen voor problemen zorgen. Geef uitleg aan de leerlingen die dat nodig hebben en laat leerlingen werken aan oefeningen die zij minder goed beheersen.</li>
		<li><strong>Individuele aandacht:</strong> Gebruik de filters om bepaalde leerlingen uit te lichten en bekijk hun voortgang. Zie waaraan gewerkt is en waar zij moeite mee hebben.</li> 
	</ul>
	<br>
	<h3>Dagelijks activiteiten verslag</h3>
        <p class="has-media"><span class="toolkit-media"><a href="/images/toolkit/StudentActivity.jpg"><img width="100%" src="/images/toolkit/Activity.jpg"/></a></span>
	<ul class="bullet"></p>
		<li><strong>Individuele aandacht:</strong> Hier kun je zien hoeveel tijd een leerling per dag, week of maand aan KA besteedt. Hier kun je precies zien hoe lang leerlingen er over doen om zich de lesstof machtig te maken.</li> 
	</ul>
	<br>
	<br>
	<h3>Problemen per oefening</h3>
        <p class="has-media"><span class="toolkit-media"><a href="/images/toolkit/ExerciseProblems2.jpg"><img width="100%" src="/images/toolkit/ExerciseProblems.jpg"/></a></span>
	<ul class="bullet"></p>
		<li><strong>Individuele aandacht:</strong> Bekijk binnen een oefening welke sommen goed gaan en welke minder goed gaan. Ook kun je bijvoorbeeld zien na hoeveel seconden een hint wordt aangevraagd of hoeveel minuten de leerling van een video heeft gezien.</li>
	</ul>
	<br>
	<br>
	<h3>Focus</h3>
        <p class="has-media"><span class="toolkit-media"><a href="/images/toolkit/Focus2.jpg"><img width="100%" src="/images/toolkit/Focus.jpg"/></a></span>
	<ul class="bullet"></p>
		<li><strong>Individuele aandacht:</strong>: Zie precies aan welke onderwerpen een leerling de afgelopen dag, week of maand heeft gewerkt. Zo zie je of leerlingen nog moeite hebben of dat zij klaar zijn om door te gaan naar een moeilijker onderwerp.</li>
	</ul>
	<br>
	<br>
	<br>
        <br>
        <p><a href="{{base_url}}/ka-classrooms" class="call-to-action simple-button green">Ga naar de toolkit voor leraren  →</a></p>
	
{% endblock col1content %}	


		
