{% extends "coach_resources/view_toolkit.html" %}

{% block col1content %}
		
	<h1>Using data</h1>
	<hr>
	
	<p class="lead">Recommended ways to use various KA data reports</p>
	
	<h3>Progress Summary</h3></p>
        <p class="has-media"><span class="toolkit-media"><a href="/images/toolkit/ProgressSummary2.jpg"><img width="100%" src="/images/toolkit/ProgressSummary.jpg"/></a></span>
	<ul class="bullet"></p>
		<li><strong>During class:</strong> use the filtering ability to home in on a specific exercise. Using the student data, assign peer tutors, hold a small group seminar, or directly tutor an individual</li>
		<li><strong>The night or week before:</strong> check to see if there are specific exercises that groups of students might need help with and prepare to teach small group seminars in those exercises; set class goals based on this data (e.g., by the end of this week, I want everyone to move from the unstarted column to the proficient column)</li>
		<li><strong>Weeks before the next unit:</strong> use the filter to look up exercises in the upcoming unit. Use the student data to determine which students need to focus on which concepts</li>
	</ul>
	<br>
	<h3>Daily Activity Report</h3>
        <p class="has-media"><span class="toolkit-media"><a href="/images/toolkit/DailyActivityReport.jpg"><img width="100%" src="/images/toolkit/DailyActivityReport2.jpg"/></a></span>
	<ul class="bullet"></p>
		<li><strong>During class:</strong> measure how engaged and on-task students are; you can even project this report to the class for a level of transparency</li>
		<li><strong>Participation/Homework grades:</strong> if you are assigning a certain amount of time to be spent on KA per week, this report gives a rough approximation of how much time in and out of class students spend on KA</li>
	</ul>
	<br>
	<h3>Class Goals Report</h3>
        <p class="has-media"><span class="toolkit-media"><a href="/images/toolkit/Goals.jpg"><img width="100%" src="/images/toolkit/GoalsReport.jpg"/></a></span>
	<ul class="bullet"></p>
		<li><strong>During class:</strong> use the filtering ability to determine which students are struggling with their goals.  Focus on those students by assigning a peer tutor, leading a small group, or directly working with those students.</li>
		<li><strong>The night or week before:</strong> check to see if there are specific exercises that groups of students might need help with and prepare to teach small group seminars in those exercises; set class goals based on this data (e.g., by the end of this week, I want everyone to have completed four or more goals)</li>
		<li><strong>Weeks before the next unit:</strong> if students are ready, have students set goals based on the next unit to gauge how prepared they will be</li>
	</ul>
	<br>
	<h3>Progress Report</h3>
        <p class="has-media"><span class="toolkit-media"><a href="/images/toolkit/HeatMap.jpg"><img width="100%" src="/images/toolkit/ProgressReport2.jpg"/></a></span>
	<ul class="bullet"></p>
		<li><strong>Lesson planning:</strong> use this report to quickly see how the majority of students are doing within a particular exercise or use the filters to see where your class is struggling</li>
		<li><strong>Individual attention:</strong> use the filtering abilities to check on specific students to see how they have been progressing overall, what they have been working on in the past couple days, and where they are struggling</li>
	</ul>
	<br>
	<h3>Student Activity Report</h3>
        <p class="has-media"><span class="toolkit-media"><a href="/images/toolkit/StudentActivity.jpg"><img width="100%" src="/images/toolkit/Activity.jpg"/></a></span>
	<ul class="bullet"></p>
		<li><strong>Individual attention:</strong> use when you want to take a closer look at how much time a student spent on KA and how that time was used over a day, week, or month. This data can help facilitate conversations around work ethic, recognition, accomplishments, and more</li>
	</ul>
	<br>
	<br>
	<h3>Student Exercise Problems</h3>
        <p class="has-media"><span class="toolkit-media"><a href="/images/toolkit/ExerciseProblems2.jpg"><img width="100%" src="/images/toolkit/ExerciseProblems.jpg"/></a></span>
	<ul class="bullet"></p>
		<li><strong>Individual attention:</strong> use when trying to diagnose a specific challenge that a student is having with an exercise.  All bars represent problems the student did, and you can click on them to see the answers the student gave and the hints he/she took</li>
	</ul>
	<br>
	<br>
	<h3>Student Focus Report</h3>
        <p class="has-media"><span class="toolkit-media"><a href="/images/toolkit/Focus2.jpg"><img width="100%" src="/images/toolkit/Focus.jpg"/></a></span>
	<ul class="bullet"></p>
		<li><strong>Individual attention:</strong> use when trying to grasp how students are spending their time over a day, week, or month.  This report can quickly show how students spend the majority of their time, which enables teachers to see if students are on task, struggling, or ready to move forward</li>
	</ul>
	<br>
	<br>
	<br>
        <br>
        <p><a href="{{base_url}}/individualized-units" class="call-to-action simple-button green">Next: Individualized units with KA  →</a></p>
	
{% endblock col1content %}	


		
