{% extends "about/about_template.html" %}

{% import 'macros/youtube.html' as youtube %}

{% block aboutcontent %}

<div class="col1 forty-sixty" style="text-align: center; padding-top: 18px; min-width:160px; max-width:160px; margin-right: 2%;">
    <img id="about-vertical-logo" src="/images/khan-logo-vertical-transparent.png" height=250 width=178 />
</div>
<div class="col2 forty-sixty" style="max-width:81%; text-align: justify;">
<h2 class="main-headline" style="white-space: pre;">Gratis onderwijs voor iedereen overal.</h2>
    <p>
        De Khan Academie is een organisatie zonder winstoogmerk en met een bijzondere missie. Het doel is van de Khan Academie is het onderwijs wereldwijd te verbeteren door het verstrekken van gratis onderwijs aan iedereen, overal. 

    </p>
    <p>
        Al het materiaal op de site is voor iedereen beschikbaar of je nu leerling bent, of leraar, of thuisstudent, of schoolhoofd, of een tweedekanser die na twintig jaar weer naar school wil, of een vriendelijk buitenaards wezen dat op deze manier voet aan de grond probeert te krijgen op aarde. Al het materiaal van de Khan Academie en alle hulpmiddelen die wij aanbieden zijn kosteloos beschikbaar voor iedereen.   

    </p>
</div>
<div class="clear"></div>
<hr style="margin-bottom: 36px;">
<div class="col1 sixty-forty">
    {{ youtube.player_embed("DLt6mMQH1OY", "99%", 400) }}
</div>

<div class="col2 sixty-forty" >
    <h2>Hoe werkt Khan voor leerlingen?</h2>
    <p>Leerlingen kunnen op elke computer, tablet en smartphone gebruik maken van onze uitgebreide collectie video's, oefeningen en persoonlijke rapportage's. Een internetaansluiting is het enige vereiste.</p>
    <ol>
        <li>{{ youtube.jump_link("Een leerinstrument volledig op maat", 0) }}</li>
        <li>{{ youtube.jump_link("Een dynamisch hulpsysteem", 130) }}</li>
        <li>{{ youtube.jump_link("Een persoonlijk profiel, punten en badges om het leerrendement (leertempo en resultaat) bij te houdem.", 208) }} </li>
    </ol><br/>
    <h2>Hoe werkt Khan voor studiebegeleiders, ouders en leerkrachten?</h2>
    <p>Met de Khan Academie hebben studiebegeleiders, ouders en leerkrachten helder zicht op wat leerlingen leren en doen.</p>
    <ol>
        <li>{{ youtube.jump_link("Een gedetailleerd overzicht van de vorderingen van elke afzonderlijke leerling", 341) }}</li>
        <li>{{ youtube.jump_link("Actuele rapportage over alle leerlingen", 490) }}</li>
        <li>{{ youtube.jump_link("Meer informatie om gericht te kunnen begeleiden", 535) }}</li>
    </ol>
</div>
<div class="clear" style="margin-bottom:36px;"></div>
<hr class="margin-bottom: 18px;">
<div id="screenshot-tour">
    <div class="col1 sixty-forty right">
        <h2>{{ approx_vid_count|escape }} Meer dan alleen video's</h2>
        <p class="justify">
            Onze <a href="/#browse">collectie video's</a> omvat <strong>reken en wiskunde,</strong>maar ook video's over oefeningen die nog in ontwikkeling zijn,zoals <strong>. Elke video is een les van tussen de vijf en tien minuten waarin uitleg wordt gegeven over één onderwerp. 
            Geïnspireerd op de video's van Salman Khan en zijn woorden: ''Ik geef les zoals ik zelf les had willen krijgen. De lessen komen van mij en ik ben een levensecht mens die gefascineerd is door de wereld om hem heen. </em><br/>
            &mdash;
        </p>
    </div>
    <div class="col2 sixty-forty screenshot">
        <img class="rounded-background" src="/images/screenshot-tour/video.png" style="width:400px;" />
    </div>
    <div class="clear"></div>
    <br/><hr class="thin"/><br/>

    <div class="col1 forty-sixty screenshot">
        <img class="rounded-background" src="/images/screenshot-tour/problems.png" style="width:400px;" />
    </div>
    <div class="col2 forty-sixty left">
        <h2>Een enorme hoeveelheid oefeningen, met ondersteuning op elk gewenst moment</h2>
        <p class="justify">
        <a href="/exercisedashboard">Oefen rekenen en wiskunde in je eigen tempo met oefeningen die op je eigen leerstijl zijn afgestemd.</a> with our adaptive assessment environment. Je kunt <strong>beginnen met 1+1 en zo verder oefenen met rekenen </strong> of direct beginnen met een ander onderwerp waarover je kennis is weggezakt <br/><br/>
        Er is geen vaste volgorde in oefeningen of sommen.Ze worden willekeurig aangeleverd zodat ze steeds weer nieuw zijn en je nooit zonder oefenmateriaal zit. <strong>Als je een aanwijzing nodig hebt, kan een probleem met een eenvoudige klik op de ''hint'' knop worden opgedeeld in stukjes.</strong> Als je meer hulp nodig hebt, kun je altijd naar een video kijken die met het onderwerp te maken heeft. 
        </p>
    </div>
    <div class="clear"></div>
    <br/><hr class="thin"/><br/>

    <div class="col1 sixty-forty right">
        <h2>Actuele volgsystemen</h2>
        <p class="justify">
        De Khan Academie houdt precies bij wat je doet en welke vorderingen je maakt wanneer je met de Khan Academie werkt. Al deze gegevens zijn persoonlijk en worden als zodanig behandeld. Er zijn wel heldere overzichten beschikbaar voor elke gebruiker en zijn begeleider (of coach). Wanneer je erom vraagt, krijg je <strong>ogenblikkelijk informatie over alles wat je hebt geleerd<br/><br/> en de resultaten die hebt behaald.
        Je kunt elke gewenste informatie opvragen over het totaal van je activiteiten tot aan elke oefening die je hebt gemaakt. Je vindt <strong>echte informatie over je voortgang en je toename van kennis over bijvoorbeeld</strong> wiskunde. 
        </p>
    </div>
    <div class="col2 sixty-forty screenshot">
        <img class="rounded-background" src="/images/screenshot-tour/stats-small.png" style="width:400px;" />
    </div>
    <div class="clear"></div>
    <br/><hr class="thin"/><br/>

    <div class="col1 forty-sixty screenshot">
        <img class="rounded-background" src="/images/screenshot-tour/map-small.png" style="width:400px;" />
    </div>
    <div class="col2 forty-sixty left">
        <h2>De kenniskaart</h2>
        <p class="justify">
            <img class="rounded-background" src="/images/screenshot-tour/challenges-small.png" style="float:right;margin-left:20px;"/>
            <a href="/exercisedashboard">De kenniskaart</a> toont je al onze oefeningen. Je kunt <strong>in- en uitzoomen en rondneuzen</strong> in alle verschillende oefeningen, net als bij een gewone kaart. Je kunt op elke gewenste plek beginnen aan de oefeningen. De Khan Academie adviseert je over de oefeningen die het meest geschikt zijn. Je krijgt ook een seintje als het raadzaam is om oefeningen te gaan herhalen.<br/><br/>
            <strong>Als je de kenniskaart helemaal uitzoomt</strong>, vind je al onze uitdagingen waarbij een aantal kleinere oefeningen met elkaar in verband worden gebracht. Wanneer je alle oefeningen succesvol gemaakt hebt beheers je de wiskunde. <br/><br/>
            Wij zullen nieuwe oefeningen blijven toevoegen aan de kenniskaart.
        </p>
    </div>
    <div class="clear"></div>
    <br/><hr class="thin"/><br/>

    <div class="col1 sixty-forty right">
        <h2>Het klassenoverzicht</h2>
        <p class="justify">
        Leerkrachten en studiebegeleiders hebben toegang tot alle gegevens van hun leerlingen. Een leerkracht of begeleider krijgt <strong>een overzicht van wat de klas in zijn geheel presteert, maar ook van de individuele prestaties van een leerling,</strong> zodat duidelijk is waar de problemen of juist talenten schuilen. <a href="/class_profile">Het profiel van de klas</a> geeft de studiebegeleider de gelegenheid zich te concentreren op juist die onderwerpen waar extra aandacht nodig is.<br/><br/>
        Met het leerlingvolgsysteem kun je <strong>in een oogopslag zien of een leerling problemen heeft met het vermenigvuldigen van breuken, </strong>...of juist een groot talent schijnt te hebben en mijlenver voor ligt op de klas.
        </p>
    </div>
    <div class="col2 sixty-forty screenshot">
        <img class="rounded-background" src="/images/screenshot-tour/class-small.png" style="width:400px;" />
    </div>
    <div class="clear"></div>
    <br/><hr class="thin"/><br/>

    <div class="col1 forty-sixty screenshot">
        <img class="rounded-background" src="/images/screenshot-tour/badges-small.png" style="width:400px;" />
    </div>
    <div class="col2 forty-sixty left">
        <h2>Badges waar je trots op kunt zijn</h2>
        <p class="justify">
            <img class="rounded-background" src="/images/screenshot-tour/badges-3.png" style="width:228px;float:right;margin-left:20px;"/>
            Khan Academie bevat volop game-elementen. Zodra je inlogt ga je badges en punten verdienen met je activiteiten. Hoe meer jij jezelf uitdaagt, des te meer verdien je om trots op te zijn.<br/><br/>
            Een aantal van de kleinere badges zijn makkelijk te verdienen, <a href="/badges/view">de meest waardevolle badges</a> vergen meer oefening en soms jarenlange inspanning.
        </p>
    </div>
    <div class="clear"></div>
    <br/><hr class="thin"/><br/>

    <div class="center">
        <h2>A global classroom</h2>
        <p>
            You're joining millions of Khan Academy students from all over the world who learn at their own pace every single day.<br/>
            Feel free to <a href="/stories">read some of the inspirational stories</a> shared by our global community, and we'd love if you shared yours.
        </p>
    </div>
    <div class="clear"></div>

    <br/><br/>

</div>

<script>VideoControls.initJumpLinks("#about-us");</script>

{% endblock aboutcontent %}
