{% extends "about/about_template.html" %}

{% import 'macros/youtube.html' as youtube %}
{% block pagescript %}
    <style>
    #about-us {
      background: transparent; }
    #page_sub_nav {
      display:none;
    }
    </style>
{% endblock pagescript %}
{% block aboutcontent %}
<article style="width:1120px; margin: 0 auto; background: white;">
<div class="col2 forty-sixty" style="max-width:100%; text-align: justify; float: center;">
<h2 class="main-headline" style="white-space: pre;">Toekomst: Missie en visie</h2>

<h4>Gratis onderwijs voor iedereen, overal</h4>

<p>Iktel.nl is een organisatie zonder winstoogmerk en met een bijzondere missie. Het doel van iktel.nl is het onderwijs in Nederland te verbeteren door het verstrekken van gratis onderwijs aan iedereen, overal. Geïnspireerd door het bijzondere werk van Salman Khan met de Khan Academy besloot Wijnand Baretta eind 2011 de Amerikaanse website aan te passen en te vertalen naar de Nederlandse onderwijssituatie. Ontdek zelf wat er tot nu toe is bereikt! Ook geïnspireerd geraakt? Klik op <a href="http://www.iktel.nl/helpmee">Draag bij</a> hoe je zelf een bijdrage kunt leveren!
</p><p>
Al het materiaal op de site is voor iedereen beschikbaar of je nu leerling, leraar, thuisstudent, schoolhoofd, of een tweedekanser bent, die na twintig jaar weer naar school wil, of zelfs een vriendelijk buitenaards wezen dat op deze manier voet aan de grond probeert te krijgen op aarde. Al het materiaal van iktel.nl en alle hulpmiddelen die wij aanbieden zijn kosteloos beschikbaar voor iedereen.
</p>
<h4>Zou het niet fijn zijn als je altijd tijd hebt voor je leerlingen?<h4>
<p>

<img src="/images/school-plaatje-home.jpeg" alt="iktel.nl" width="400" align="left" style="padding-right: 10px;">
Iktel.nl is onafhankelijk van de Amerikaanse Khan Academy. Dit is een bewuste keuze geweest. Wij willen namelijk niet afhankelijk zijn van andere partijen en zelf kunnen kiezen waar we onze tijd en energie in steken. 
Wij streven er naar om Nederland een OpenSource platform te bieden waar leerlingen in hun eigen tempo het Nederlandse curriculum kunnen doorlopen en waar leraren zelf oefeningen en video’s kunnen toevoegen.

Door diverse tools te ontwikkelen maken we een EKO-systeem mogelijk waarbij onze inbreng steeds minder nodig zal zijn. Met EKO-systeem bedoelen wij dat het platform wordt gedragen door de onderwijs gemeenschap en dat die mensen zorgen dat de oefeningen en video’s van iktel.nl actueel en volledig blijven. Iktel.nl is op deze manier een product wat voor en door gebruikers wordt ontwikkeld en kan mede hierdoor altijd gratis beschikbaar blijven. Binnenkort wordt iktel.nl een stichting waarna het platform officieel onafhankelijk is van Perceptum.
</p>

</br><h3>Content</h3>
<p>Zodra je als kind op de basisschool of thuis begint met rekenen kun je terecht op iktel.nl. Je kunt vanuit dit punt doorstromen naar elk niveau, zolang je maar zelf oefent. Toch richten wij ons niet alleen op rekenen en wiskunde. Dit platform is namelijk ook uitermate geschikt voor natuur- en scheikunde, of bijvoorbeeld voor taal (Nederlands) zoals grammatica of om te leren lezen. 
Uiteindelijk kun je dus meerdere vakken oefenen op verschillende niveaus. Zo is het voor leerlingen van de basisschool al mogelijk om te werken aan vakken die zij normaal gesproken pas op de middelbare school zouden krijgen. Goed voor de excellentiebevordering dus. 
</p>
<h3>Oefeningen</h3>
<p>Het doel van iktel.nl is het aanbieden van het gehele Nederlandse curriculum. Het curriculum is vertaald naar leerlijnen, opgedeeld in concrete doelen (een concreet doel voor groep 4 is bijvoorbeeld “Tellen tot 100”). Vervolgens dient elk doel van een oefening en een video te worden voorzien. Leerlingen kunnen zo stap voor stap het curriculum doorlopen terwijl de leraar of coach duidelijk door het goede leerlingvolgsysteem kan zien waar welke leerling is en waar de leerling moeite mee heeft. 
De oefeningen kunnen zelf gemaakt worden. In onze <a href="http://wiki.iktel.nl/">wiki</a> zie je de gebruikte leerlijnen staan met links naar de desbetreffende oefeningen. Ook zie je hier lege plekken. Dat betekent dat hier nog geen video of oefening voor gemaakt is. In onze tool kun je zelf aangeven welke vragen er gesteld worden, welke hints er gegeven worden en wat de antwoorden zijn. Ook kun je aangeven welke visualisaties erbij gebruikt moeten worden. Op deze manier kan jij dus ook bijdragen aan het creëren van nieuwe content en het verbeteren van de site!
</p>
<h3>Video</h3>
<p>Steeds meer leraren maken instructievideo’s of nemen hun klassikale lessen op. Iktel.nl biedt een plaats om deze video’s op een gestructureerde manier aan te bieden. Bij sommige oefeningen zullen meerdere video’s te zien zijn terwijl bij andere oefeningen minder of geen video's te bekijken zijn. Door middel van een stemsysteem worden de meest gewaardeerde video’s als eerste aangeboden. Slechte video’s worden verwijderd bij een bepaald aantal negatieve stemmen. Stemmen van coaches, docenten en leraren wegen hierbij zwaarder dan die van leerlingen. Ben je een coach of een leerling? Log dan in bij het daarvoor bestemde portaal.
</p>
<h3>Taggen</h3>
<p>Docenten die zich bezighouden met “Flipping the Classroom” kunnen hun video’s uploaden. Vervolgens kunnen zij door middel van tags aangeven wat er in deze video behandeld wordt. 
Bijvoorbeeld: Iemand heeft een video over Pythagoras gemaakt. Deze kun je dan uploaden. Vervolgens verschijnen er een aantal voorbeeldtags die je aan kunt klikken. In dit geval zou het gaan om “wiskunde”, “havo”, “atheneum”, “Pythagoras”. Ook is er nog een vakje waar je zelf tags kunt invoeren om dit nog verder te specificeren. 
Het systeem geeft vervolgens suggesties om de video aan een oefening te koppelen. Ook dit gebeurt aan de hand van tags. Elke oefening is namelijk ook voorzien van tags waardoor het systeem oefeningen voorstelt om de video aan te koppelen. 
</p>
<h3>Jouw mening</h3>
<p>De stem van de gebruiker is goud waard. Jullie maken tenslotte samen het product tot een succes. Daarom is er onder elke pagina gelegenheid om te discussiëren. Alle reacties hierin worden verzameld op een centrale plek zodat je jouw mening kunt geven op de voor jou relevante onderwerpen.
</p>
<p>
Te ontwikkelen tools:
<ul>
<li>- Tool zodat gebruikers hun eigen opgaven kunnen uploaden. (Op het moment programmeert Perceptum nog alle oefeningen) Vragen, hints en antwoorden zijn hierbij verplicht om op te geven.</li> 
<li>- Uploadmogelijkheid vanaf de website.</li>
<li>- Tagsysteem voor oefeningen en video’s.</li>
<li>- Systeem voor het beoordelen van video’s.</li>
<li>- Handschriftherkenning (voor tablets).</li>
<li>- Spraakherkenning bijvoorbeeld voor lees- of uitspraakoefeningen.</li>
</ul>
</p>
<p>Wij spreken graag met mensen die samen willen werken of content (oefeningen/video’s) voor ons willen ontwikkelen. Ook staan wij open voor ideeën over bijvoorbeeld de indeling van de oefeningen of welke namen deze moeten hebben. 
</p>

</div>
<article>
{% endblock aboutcontent %}
