{% extends "about/about_template.html" %}

{% block aboutcontent %}

<div id="the-team" style="font-size: 14px;">
    <div class="col1">
        <h2>A small team trying to do something big</h2>
        <p>
            We're a small team trying our best to improve the way the world learns. Too many people around the globe don’t have access to good education materials, or they are forced to learn through a system that doesn't properly cater to their individual needs. We think the technology exists today to fundamentally change this, and we're trying to build the tools and resources every student deserves.
        </p>
        <p>
            We believe a few great people can make a big difference. We strive to hire the very best &mdash; people who are passionate, thoughtful and creative. We believe it is our obligation to relentlessly focus on what the learner values, and we make every decision with the learner in mind.
        </p>
    </div>
    <div class="col2">
        <img src="/images/team-photo.jpg" class="team-photo vertical-shadow" />
    </div>
    <div class="clear"></div>
    <br>
    <hr class="thin">
    <h2 class="section-header">Meet the team</h2>
    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/sal.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">Sal</h2>
            <h3>Founder &amp; Executive Director</h3>
            <p class="contact-links">
                <a href="http://twitter.com/khanacademy" class="contact-twitter">Twitter</a>
            </p>
            <p>
                Being founder and faculty means Sal's busy setting the vision for the Khan Academy and expanding our library of educational videos.
            </p>
            <p>
                Before quitting his job as manager of a hedge fund to run the Khan Academy full time, Sal also found time to get three degrees from MIT and an MBA from Harvard.
            </p>
        </div>
    </div>
    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/shantanu.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">Shantanu</h2>
            <h3>President &amp; COO</h3>
            <p class="contact-links">
                <a href="http://twitter.com/ShantanuKSinha" class="contact-twitter">Twitter</a>
            </p>
            <p>
                As President and COO,  Shantanu focuses on overall organizational strategy, partnerships, and operations.
            </p>
            <p>
                Before teaming up with Sal (his college classmate and high school math competitor), Shantanu was an Associate Principal in McKinsey &amp; Company's Silicon Valley office, and received four degrees from MIT.
            </p>
        </div>
    </div>
    <div class="clear"></div>
    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/bilal.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">Bilal</h2>
            <h3>Dean of Translations</h3>
            <p class="contact-links">
                <a href="mailto:translations@khanacademy.org" class="contact-email">Email</a>
            </p>
            <p>
                Bilal coordinates the translation of Khan Academy content into other languages.
            </p>
            <p>
                Prior to joining Khan Academy, he was VP Development for Global Education Management Systems (GEMS), an international network of private schools.  He completed his MBA and MA in Education from Stanford and a BS in Actuarial Science from Urbana-Champaign.
            </p>
        </div>
    </div>
    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/ben.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">Ben</h2>
            <h3>Lead Developer</h3>
            <p class="contact-links">
                <a href="http://twitter.com/kamens" class="contact-twitter">Twitter</a>
                <a href="http://bjk5.com" class="contact-blog">Blog</a>
            </p>
            <p>
                Ben started by volunteering for Khan Academy after watching one of Sal's talks and feeling left with no choice but to help.
            </p>
            <p>
                Ben was previously VP of Engineering at Fog Creek Software, where he spent five and a half years learning how to push bits around with small, fast teams.
            </p>
        </div>
    </div>
    <div class="clear"></div>
    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/jason.jpg" id="jason" />
        </div>
        <div class="card-info">
            <h2 class="pulls">Jason</h2>
            <h3>Lead Designer</h3>
            <p class="contact-links">
                <a href="http://twitter.com/jasonrr" class="contact-twitter">Twitter</a>
                <a href="http://shipordie.com" class="contact-blog">Blog</a>
            </p>
            <p>
                As Lead Designer for the Khan Academy, Jason's responsible for how things on the site look and how users interact with those things.
            </p>
            <p>
                Prior to joining the Khan Academy, Jason headed up the design team at Fog Creek Software (and worked with Ben).
            </p>
        </div>
    </div>
    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/marcia.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">Marcia</h2>
            <h3>Software Engineer</h3>
            <p class="contact-links">
                <a href="http://twitter.com/marcia_lee" class="contact-twitter">Twitter</a>
                <a href="http://missmarcialee.com" class="contact-blog">Blog</a>
                <a href="/profile/marcia" class="contact-ka">Profile</a>
            </p>
            <p>
                Marcia designs and builds any and every piece of the Khan Academy software with a constant focus on the experience of our learners.
            </p>
            <p>
                Marcia was a Program Manager for Microsoft before joining the team. She received her BS and MS in Computer Science from Stanford, with a specialization in human computer interaction.
            </p>
        </div>
    </div>
    <div class="clear"></div>
    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/jessica.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">Jessica</h2>
            <h3>Chief of Staff</h3>
            <p class="contact-links">
                <a href="http://lifeatka.tumblr.com" class="contact-blog">Blog</a>
                <a href="http://twitter.com/lifeatka" class="contact-twitter">Twitter</a>
            </p>
            <p>
                As Chief of Staff, Jessica focuses on business strategy and operations.  She is behind the scenes coordinating and smoothing the path for the rest of the team to do amazing things.
            </p>
            <p>
                Life before Khan Academy included stints at McKinsey and Company (where she worked with Shantanu) and Yahoo!  She is an alumna of Stanford and UC San Diego.
            </p>
        </div>
    </div>
    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/john.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">John</h2>
            <h3>Dean of Computer Science</h3>
            <p class="contact-links">
                <a href="http://twitter.com/jeresig" class="contact-twitter">Twitter</a>
                <a href="http://ejohn.org" class="contact-blog">Blog</a>
            </p>
            <p>
                John works to build tools and design curriculum to teach Computer Science and computer programming.
            </p>
            <p>
                John is the creator of the jQuery JavaScript library, amongst a number of other Open Source projects, and the author of two books on JavaScript development.
            </p>
        </div>
    </div>
    <div class="clear"></div>
    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/desmond.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">Desmond</h2>
            <h3>Software Engineer</h3>
            <p class="contact-links">
                <a href="http://twitter.com/dmnd_" class="contact-twitter">Twitter</a>
                <a href="http://desmondbrand.com" class="contact-blog">Blog</a>
                <a href="/profile/dmnd" class="contact-ka">Profile</a>
            </p>
            <p>
                Desmond was always fascinated by the concept of teaching at scale, so once he discovered Khan Academy he couldn't resist getting involved.
            </p>
            <p>
                Desmond used to work on ranking and metrics at Bing. He has degrees in Computer Science and Mechatronics Engineering from Swinburne University, Australia.
            </p>
        </div>
    </div>
    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/charlotte.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">Charlotte</h2>
            <h3>Manager of External Relations</h3>
            <p>
                Charlotte focuses on Khan Academy’s external relationships.
            </p>
            <p>
                Prior to joining Khan Academy, Charlotte was the Business Manager and
                Director of Admissions of The School for Ethics and Global Leadership
                (SEGL) in Washington, DC. Charlotte was the first hire at SEGL and
                helped open the school. She received her BA from Haverford College.
            </p>
        </div>
    </div>


    <div class="clear"></div>

    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/elizabeth.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">Elizabeth</h2>
            <h3>School Implementations</h3>
            <p>
	    Elizabeth works with schools to create individualized, collaborative, and joyful classroom
	    environments in which Khan Academy software and visionary teachers help students master concepts at their own pace.
            </p>
	    <p>
	    Before Khan Academy, Elizabeth worked at McKinsey &amp; Company and earned a B.A. in Intellectual History at Penn.
            </p>
        </div>
    </div>

    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/sundar.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">Sundar</h2>
            <h3>School Implementations Lead</h3>
            <p class="contact-links">
                <a href="http://khanacademy.desk.com/customer/portal/topics/189393-khan-academy-in-the-classroom/articles" class="contact-blog">FAQ</a>
                <a href="/profile/sundar" class="contact-ka">Profiel</a>
                <a href="/coach/resources" class="contact-ka">Middelen voor de lera(a)r(es)</a>
            </p>

            <p>
                Sundar leads our partnerships with schools to implement Khan Academy in the classrooms.
            </p>
            <p>
	    In his prior life, Sundar was a consultant at McKinsey &amp; Co leading operational transformation projects and
	    had stints as a Product Manager at Google and Microsoft. Sundar is an alum of IIT Bombay and CMU.
            </p>
        </div>
    </div>

    <div class="clear"></div>

    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/matt.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">Matt</h2>
            <h3>School Implementations</h3>
            <p class="contact-links">
                <a href="http://twitter.com/wahl" class="contact-twitter">Twitter</a>
                <a href="/profile/matt" class="contact-ka">Profile</a>
            </p>

            <p>
            Matt works with schools to improve our product and explore what's possible in the classroom.
            </p>
            <p>
	    	Before Khan Academy, Matt cut his teeth at McKinsey and several start-ups in the Bay Area. He studied Management Science &amp; Engineering and Computer Science at Stanford.
            </p>
        </div>
    </div>

    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/maureen.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">Maureen</h2>
            <h3>School Implementations</h3>

            <p>
            Maureen works with teachers and students to redefine what it means to be a successful learner.
            </p>
            <p>
            Before joining Khan Academy, Maureen was a Teach For America teacher at a charter school on the border of Texas and Mexico.  She is an alumna of Brown and Stanford's School of Education.
            </p>
        </div>
    </div>

    <div class="clear"></div>

    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/marcos.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">Marcos</h2>
            <h3>Designer</h3>
            <p class="contact-links">
                <a href="http://twitter.com/nsfmc" class="contact-twitter">Twitter</a>
                <a href="http://nsfmc.tumblr.com/" class="contact-blog">Blog</a>
                <a href="/profile/marcos" class="contact-ka">Profile</a>
            </p>

            <p>
                Marcos works on the design of interactive education experiences, the website and anything else.
            </p>
            <p>
                Before the Khan Academy, Marcos worked on social computing at CMU's HCI Institute &amp; with Lisa Strausfeld at Pentagram. He has an SB from MIT and an MFA from RISD.
            </p>
        </div>
    </div>

    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/james.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">James</h2>
            <h3>Software Engineer</h3>
            <p class="contact-links">
                <a href="http://twitter.com/educationJames" class="contact-twitter">Twitter</a>
                <a href="https://plus.google.com/103378437338280565699/posts" class="contact-blog">Google+</a>
            </p>

            <p>
                James keeps improving site performance and creating new features for the Khan Academy.
            </p>
            <p>
                Previously James was a lead engineer at education.com,  ran a non-profit delivering an email system to the developing world, and was a math teacher in the Peace Corps in Tanzania.  He received two degrees from CMU in Physics and Computer Science.
            </p>
        </div>
    </div>

    <div class="clear"></div>

    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/tom.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">Tom</h2>
            <h3>Software Engineer</h3>
            <p class="contact-links">
                <a href="http://twitter.com/tomyedwab" class="contact-twitter">Twitter</a>
                <a href="https://plus.google.com/u/0/110242662710180342542/posts?hl=en" class="contact-blog">Google+</a>
            </p>

            <p>
                Before joining Khan Academy, Tom studied Mathematics and Cognitive Science at UC Berkeley, then developed cutting-edge technology for video games and virtual worlds.
            </p>
        </div>
    </div>


    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/minli.JPG" />
        </div>
        <div class="card-info">
            <h2 class="pulls">Minli</h2>
            <h3>Lead of Strategic Initiatives</h3>

            <p>
                Minli focuses on Khan Academy's strategic initiatives.
            </p>

            <p>
            Before Khan Academy, Minli worked in social policy at the Singapore Government, taught high-school math, and was an Engagement Manager at McKinsey &amp; Company.  She has a B.S. in Mechanical Engineering and M.S. in Management Science &amp; Engineering from Stanford University.
            </p>
        </div>
    </div>

    <div class="clear"></div>

    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/steven.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">Steven</h2>
            <h3>(Co)Dean for Art and History</h3>
            <p class="contact-links">
                <a href="http://smarthistory.khanacademy.org/blog/" class="contact-blog">Blog</a>
            </p>

            <p>
                Steven and Beth help to create Humanities-based content and learning strategies at the Khan Academy.
            </p>
            <p>
            Before joining the team, they created the open art history site, <a href="http://smarthistory.org">Smarthistory.org</a>. Steven was Dean of the School of Graduate Studies at the Fashion Institute of Technology (SUNY) and Chair of Art and Design History at Pratt Institute. He has also worked and taught at The Museum of Modern Art. He has a Ph.D. in art history.
            </p>
        </div>
    </div>

    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/beth.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">Beth</h2>
            <h3>(Co)Dean for Art and History</h3>
            <p class="contact-links">
                <a href="http://smarthistory.khanacademy.org/blog/" class="contact-blog">Blog</a>
            </p>

            <p>
            Beth has a PhD in art history, and with Steven Zucker, founded the Webby-award winning site, <a href="http://smarthistory.org">Smarthistory.org</a>.
            </p>
            <p>
            Before joining the Khan Academy, Beth worked as Director of Digital Learning at the Museum of Modern Art, as Director of Distance Learning at the Fashion Institute of Technology (FIT), and as an Assistant Professor of Art History. Together with Steven, Beth will be creating content in art, art history and history, and looking at the ways that learning analytics and game mechanics can work in Humanities education.
            </p>
        </div>
    </div>

    <div class="clear"></div>

    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/benkomalo.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">Ben</h2>
            <h3>Software Engineer</h3>
            <p class="contact-links">
                <a href="http://twitter.com/benkomalo" class="contact-twitter">Twitter</a>
                <a href="https://plus.google.com/110287455381476170305/posts" class="contact-blog">Google+</a>
                <a href="/profile/benkomalo" class="contact-ka">Profile</a>
            </p>

            <p>
            Before joining Khan Academy, Ben worked at Google for several years where he contributed to a number of projects including Google Calendar and Android. He received a Bachelor of Software Engineering from the University of Waterloo.
            </p>
        </div>
    </div>

    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/chris.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">Chris</h2>
            <h3>Software Engineer</h3>

            <p>
            Chris wields his experience with highly reliable, multilingual websites to support lifelong learning through Khan Academy.
            </p>
            <p>
            Before joining, Chris spent a few years building the Yahoo! homepage. He earned his Bachelor's degree in Computer Science from the Rochester Institute of Technology.
            </p>
        </div>
    </div>

    <div class="clear"></div>

    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/csilvers.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">Craig</h2>
            <h3>Dean of Infrastructure</h3>

            <p>
            Craig is focused on the infrastructure that supports Khan
            Academy, from its databases to its developer tools.
            </p>
            <p>
            Before joining, Craig worked for Google, where he was the
            first employee hired by Larry and Sergey.
            </p>
        </div>
    </div>

    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/alpert.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">Ben</h2>
            <h3>Software Engineer (Intern)</h3>

            <p>
            Ben does his best to be everywhere at once and tries to fix
            problems wherever they pop up.
            </p>
            <p>
            When he's not working on things for Khan Academy, Ben studies at
            Carnegie Mellon, where he's double-majoring in computer science and
            math.
            </p>
        </div>
    </div>
    
    
    <div class="clear"></div>

    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/michael.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">Michael</h2>
            <h3>Head of Finance</h3>

            <p>
            Michael takes care of all things financial at Khan Academy.
            He, along with the Director of Wellness, also makes sure the Team
            is well supported.
            </p>
            <p>
            Prior to working with Khan Academy, Michael started Ops for Good,
            an organization that provides back office support to smaller
            nonprofits, and served as CFO at NewSchools Venture Fund.
            </p>
        </div>
    </div>

    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/kitt.jpg" id="kitt" />
        </div>
        <div class="card-info">
            <h2 class="pulls">Kitt</h2>
            <h3>Designer</h3>
            <p>
                Kitt uses a simple design process:
            </p>
            <p>
                1) Travel to the future.<br>
                2) See what he did.<br>
                3) Come back and do it now.<br>
            </p>
            <p>
                He's done time at Pixar, Disney Animation,
                and as a Hollywood peon.
            </p>
        </div>
    </div>
    
    
    <div class="clear"></div>

    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/stephanie.jpg" id="stephanie" />
        </div>
        <div class="card-info">
            <h2 class="pulls">Stephanie</h2>
            <h3>Software Engineer</h3>
            <p class="contact-links">
                <a href="http://twitter.com/stchangg" class="contact-twitter">Twitter</a>
            </p>
            <p>
                Stephanie loves to learn about all kinds of things. At Khan Academy, she wants to help make learning more fun for millions of people.
            </p>
            <p>
                Stephanie graduated from Duke with a B.S. in Electrical and Computer Engineering, but learned most of what she knows from the Internetz.
            </p>
        </div>
    </div>

    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/yunfang.jpg" id="yunfang" />
        </div>
        <div class="card-info">
            <h2 class="pulls">Yun-Fang</h2>
            <h3>Software Engineer</h3>
            <p>
               Yun-Fang is focused on using data to optimize users' learning experience and to keep them interested in learning.
            </p>
            <p>
              Before joining, Yun-Fang worked for Facebook from 2006-2011 on ads and social connections. 
            </p>
        </div>
    </div>

    <div class="clear"></div>

    <div class="team-card">
        <div class="card-photo vertical-shadow">
            <img src="/images/headshots/toby.jpg" />
        </div>
        <div class="card-info">
            <h2 class="pulls">Toby</h2>
            <h3>Director of Wellness</h3>

            <p>
            Toby works closely with everyone at Khan Academy to make sure they get daily doses of companionship and stress-relief. He makes this happen by standing close to people and quietly requesting body hugs and face smushing.
            </p>
            <p>
            In his previous life, Toby roughed animal shelters and even a gunshot before earning a doctoral degree in human-animal connection and finding his home with Maureen. He enjoys being surrounded by very soft things.
        </div>
    </div>


    <div class="clear"></div>

    <div style="text-align:center;"><p>The Khan Academy has also received the time, energy, and expertise of many <a href="/contribute/credits">volunteers and part-time contributors</a>.</p></div>

    <p>&nbsp;</p>
</div>
{% endblock aboutcontent %}

{% block bottompagescript %}
{{ super() }}
<script type="text/javascript" charset="utf-8">
$(function(){
    $('#jason').hover(
        function(){$(this).attr('src', '/images/headshots/jason-rawr.jpg');},
        function(){$(this).attr('src', '/images/headshots/jason.jpg');}
    );
    $('#stephanie').hover(
        function(){$(this).attr('src', '/images/headshots/jason-rawr.jpg');},
        function(){$(this).attr('src', '/images/headshots/stephanie.jpg');}
    );
    $('#kitt').hover(
        function(){$(this).attr('src', '/images/headshots/kitt-bluesteel.jpg');},
        function(){$(this).attr('src', '/images/headshots/kitt.jpg');}
    );
});
</script>
{% endblock bottompagescript %}
