{% extends "page_template.html" %}

{% import 'macros/analytics.html' as analytics %}

{% block meta_page_title %}About | {% endblock meta_page_title %}
{% block pagescript %}
    <style>
        #credits dt {
            font-weight: bold;
            float: left;
            margin-right: 1ex;
        }
        #credits dd:before {
            content: "- ";
        }
        #page_sub_nav {
            display: none;
        }
    </style>
{% endblock pagescript %}
{#
{% block pagesubmenu %}
    <span class="breadcrumbs_nav">
        <!--
        <a href="/about">De Site</a>
        <a href="http://blog.iktel.nl/p/het-team.html">Het Team</a>
        <a href="http://blog.iktel.nl/">Blog</a>
        -->
        <!--
        <a href="/about/contact">Contact</a>
        <a href="/about/faq">FAQ</a>
        <a href="/about/start">Aan de slag!</a>
        -->
    </span>
{% endblock pagesubmenu %}
#}

{% block pagecontent %}
<article id="about-us">
{% block aboutcontent %}
{% endblock aboutcontent %}
<div class="clear"></div>
</article>
{% endblock pagecontent %}

{% block bottompagescript %}
{% endblock bottompagescript %}
