{% extends "about/about_template.html" %}
{% import 'macros/youtube.html' as youtube %}

{% block aboutcontent %}

<div class="col1 forty-sixty" style="text-align: center; padding-top: 18px;">
    {{ youtube.player_embed("AkSGR_oj0rg", "99%", 300) }}
</div>
<div class="col2 forty-sixty">
<h2 class="main-headline" style="white-space: pre;">Khan Academy Discovery Lab</h2>
    <p>
        Want to spend two weeks at the Khan Academy Discovery Lab this summer? We're planning an in-person session in Palo Alto, California for campers who are curious about the world and have a hunger to learn and explore.  We'll do hands-on projects in Math, Science and Economics, explore robotics and engineering, and much more.  
	</p>
	<p> 
		Our excellent team (yes, the Khan Academy folks will be there) is looking forward to spending the time with you!  
	</p>
	<p>
		The Discovery Lab will allow us to show innovative ways to integrate technology into the hands-on learning experience. For an indication of the types of projects we will be doing, the video on the left is a snapshot from the 2010 summer camp that was co-run between Khan Academy and We Teach Kids Foundation. In addition, Sal has also written a <a href="/about/blog/post/6844033473/bringing-creativity-to-class-time-by-sal-khan"> blog post </a> about the summer camp and the importance of project-based learning and Khan Academy.
    </p>
</div>

<div class="clear"></div>
<hr style="margin-bottom: 36px;">
<div class="col1 forty-sixty">
        <img class="rounded-background" src="/images/summer3.jpg" style="width:400px;" />
</div>

<div class="col2 forty-sixty" >
    <h2>What you need to know</h2>
     <p><b>Who?</b>  The Discovery Lab is open to students entering 6-9th grade in Fall 2012.</p>
     <p><b>When?</b>  Each Discovery Lab session is 2 weeks long, and will be from Monday to Friday, 9am-3:30pm. 
		<menu>
    	<li type = "disc"> Session 1: June 25 - July 6 (no camp on July 4) </li>
    	<li> Session 2: July 16 - July 27 </li>
    	<li> Session 3: July 30 - August 10 </li>
    	</menu></p>
    <p><b>Where?</b>  The Discovery Lab will be located in Palo Alto, California, at the <a href="http://www.istp.org">International School of the Peninsula</a> at 151 Laura Lane, Palo Alto, CA 94303. </p>
    <p><b>How much?</b>  Camp fees are $500 <em>per week</em>.</p>
    <p><b>How to apply?</b>  Applications are now closed. If you have applied for the Discovery Lab, we will notify you of your application status as soon as possible, no later than <u>March 1, 2012</u>. </p>
</div>

<div class="clear"></div>
<hr style="margin-bottom: 36px;">
<div class="col1 forty-sixty">
        <img class="rounded-background" src="/images/summer2.png" style="width:400px;" />
</div>
    <h2>More details</h2>
		<p>
		<br> <b>Lunch options:</b> Participants may bring their own lunch; otherwise a lunch plan can be included for an additional cost.
		<br> <b>Extended hours:</b> Extended hours will be available for an additional cost. We are not able to provide an overnight option at this time.
                <br> <b>Financial aid:</b> We will provide financial aid for prospective participants who need financial assistance. For financial aid requests, please send an email to <a href="mailto:discoverylab@khanacademy.org">discoverylab@khanacademy.org</a>.
                <br> <b>Interest list:</b> If you would like to be kept in the loop for future summer activities, please join the <a href="/r/summercamp">interest list</a>.
                <br> <b>Other questions?</b> Please email <a href="mailto:discoverylab@khanacademy.org">discoverylab@khanacademy.org</a> if you have any other questions.
		</p>
		<p>
		We are excited to have you join us at the Khan Academy Discovery Lab 2012!
		</p>
</div>
<div class="clear"></div>
<hr style="margin-bottom: 36px;">

{% endblock aboutcontent %}
