{% extends "about/about_template.html" %}

{% import 'macros/analytics.html' as analytics %}
{% import 'macros/coach.html' as coach %}

{% block meta_page_title %}About | {% endblock meta_page_title %}
{% block pagescript %}
    <style>
        #credits dt {
            font-weight: bold;
            float: left;
            margin-right: 1ex;
        }
        #credits dd:before {
            content: "- ";
        }
#page_sub_nav {
  display: none;
}
    </style>
	<style>
    #faq {
        padding-top: 18px;
    }
    #faq-nav {
        background: #eee;
        padding: 9px;
        max-width: 31%;
        min-width: 31%;
        margin-right: 3%;
        margin-bottom: 90px;
    }
    #faq-nav ul {
        list-style: outside decimal;
        margin-left: 18px;
    }
    #faq-nav li {
        margin-bottom: 5px;
    }
    #faq-nav li a {
        text-decoration: none;
        text-shadow: 0 1px 0 #fff;
    }
    #faq-nav li a:hover {
        text-decoration: underline;
    }
	</style>
	<script type="text/javascript" src="/javascript/homepage-package/waypoints.min.js?{{App.version}}"></script>
{% endblock pagescript %}

{% block aboutcontent %}
<div id="faq">
    
    <div id="faq-nav-wrapper">
        <div id="faq-nav" class="col1 forty-sixty vertical-shadow visited-no-recolor">
            <h2 class="pulls">Frequently Asked Questions</h2>
            <p id="wp1" style="margin-top: 9px;">
                <em></em>
            </p>
            <ul>
                <li><a href="#why">Wat is iktel.nl?</a></li>
                <li><a href="#wat">Wat maakt iktel.nl totaal anders dan alle andere onderwijsmogelijkheden?</a></li>
                <li><a href="#lesprogramma">Wat voor soort lesprogramma volg je?</a></li>
                <!--<li><a href="#werkt">Hoe weet je dat de iktel.nl werkt?</a></li>
                <li><a href="#leraar">Ik ben een leraar die gebruik wil gaan maken van iktel.nl in mijn klas of een ouder die zijn/haar kind wil inschrijven. Hoe pak ik dit aan?</a></li>
                <li><a href="#youtube">Mijn YouTube toegang is om een bepaalde reden geblokkeerd of ik heb geen toegang tot internet op de plek waar ik ben. Is er een andre manier om bij de lesstof te komen?</a></li>
                <li><a href="#videos">Maak je alle video's zelf?</a></li>
                <li><a href="#vertalen">Kan ik de video's in een andere taal omzetten? Hoe pak ik dat aan?</a></li>
                <li><a href="#termijn">Wat is het lange termijn doel van de Khan Academy?</a></li>-->
            </ul>
        </div>
        <div id="nav-placeholder" class="col1 forty-sixty" style="height: 1px; padding: 0 9px; max-width: 31%; min-width: 31%; margin-right: 3%;">
            &nbsp;
        </div>
    </div>
    <div class="col2 forty-sixty" style="text-align: justify; padding-top: 9px;">
    
    <a name="why"><h2>Wat is iktel.nl?</h2></a>
    <p>
        Iktel.nl is gebaseerd op de Amerikaanse Khan Academy. 
		Aangezien we heel enthousiast waren over de toegevoegde waarde van de oorspronkelijke Khan Academy, 
		en we er van overtuigd zijn dat dit concept ook toepasbaar is op de Nederlandse situatie, hebben we een eigen versie ge&iuml;nstalleerd en zijn we de Amerikaanse site gaan vertalen. 
		Dit was dankzij de Open Source filosofie van Khan Academy mogelijk.
    </p>
	<a name="wat"><h2>Wat maakt iktel.nl totaal anders dan alle andere onderwijsmogelijkheden?</h2></a>
    <p>
        Er zijn een aantal opvallende verschillen. Iktel.nl geeft leerlingen de mogelijkheid vrijwel alle leegtes in hun kennis op te vullen. Het materiaal is beschikbaar in hapklare brokken van 10 tot 20 minuten en speciaal ontwikkeld om te bekijken op een computer. Daarmee is het wezenlijk anders dan video-opnames van gewone lessen. Het relaxte taalgebruik is het tegenovergestelde van wat mensen normaal verwachten van reken- en wiskundelessen. 
    </p>		
	<a name="lesprogramma"><h2>Wat voor soort lesprogramma volg je?</h2></a>
    <p>
		Eigenlijk volg je geen lesprogramma, aldus Salman Khan. Ik ben ervan overtuigd dat degene die de kern van de lesstof goed begrijpt met succes onderwijs kan volgen zonder dat dat is ingebed in een lesprogramma. Om nog wat verder te gaan: ik geloof dat wie de vreugde ervaart van iets echt goed te begrijpen nooit meer tevreden zal zijn met het oppervlakkige leren waaraan de meeste studenten gewend zijn geraakt. Voor iktel.nl is niets zo belangrijk als echt begrip te kweken.
		Dat gezegd hebbende, in landelijke examens komt allerlei stof aan bod waar leerlingen kennis van moeten hebben om de examens met succes te kunnen afleggen. Daarom probeer ik alle mogelijke onderwerpen aan bod te laten komen.
		</br></br>
		Ik geef les zoals ik zelf les had willen krijgen. De lessen komen van mij, een mens van vlees en bloed, gefascineerd door de wereld om mij heen. De lesstof wordt uitgelegd zoals ik het zelf begrijp niet zoals ze in een stoffig lesboek staan.
		Wie mijn video's bekijkt ziet dat er met veel liefde  aan gewerkt is door  een beetje aparte, eigenwijze man die een passie heeft voor leren en onderwijzen. Ik denk niet dat er &eacute;&eacute;n bedrijf of overheidsinstantie is die dit voor elkaar krijgt, hoeveel geld ze er ook tegenaan gooien.
		</br></br>
		In de jaren dat ik zelf onderwijs kreeg heb ik me vaak dood ge&euml;rgerd aan de manier waarop informatie werd overgebracht in lesboeken en colleges. Er waren verbanden aan te brengen tussen bepaalde onderdelen van het lesprogramma waar totaal aan voorbijgegaan werd ondanks dat het de lesstof toegankelijker gemaakt zou hebben, en vooral ook leuker en beter te onthouden.
		</br></br>
		Ik had het gevoel dat fascinerende en prachtige concepten min of meer expres gepropt werden in vele bladzijden van slaapverwekkende teksten en eentonige, van papier opgelezen lessen. Ik zag hoe overigens slimme leeftijdgenoten onderdelen en formules van examenstof uit hun hoofd zaten te leren zonder enig idee waar het eigenlijk over ging en de lesstof dus binnen een paar weken helemaal kwijt waren. Met deze video's laat ik zien hoe die concepten eigenlijk uitgelegd hadden moeten worden, zonder daarbij concessies te doen aan de kern van de stof of de volledigheid.
		</br></br>
	    De Nederlandse iktel.nl bestaat nog maar kort, dus we hebben nog niet veel vragen ontvangen :-)</br>
		Heb je een vraag die hier niet wordt beantwoord? <a href="https://www.google.com/moderator/#15/e=1d97ce&t=1d97ce.40" target="_blank">Stel 'm hier!</a>
        </br></br>
		Heb je een vraag over een oefening? Ga dan naar die oefening en kies daar linksonder voor "Probleem melden". Op die manier weten wij meteen over welke oefening je de vraag stelt.
	</p>	
    <br />
	</div>
    <div class="clear"></div>
</div>
<script type="text/javascript">
    $(document).ready(function() {	
        // Waypoint behavior not supported in IE7-
        if ($.browser.msie && parseInt($.browser.version) < 8) return;

        $.waypoints.settings.scrollThrottle = 50;

        $("#wp1").waypoint(function(event, direction) {

            var jel = $("#faq-nav");
            var jelPlaceholder = $("#nav-placeholder");
            
            if (direction == "down") {
                jel.css('position', 'fixed').css('top', '-80px').css('max-width', jelPlaceholder.width()).css('min-width', jelPlaceholder.width());
            }
            else {
                jel.css('position', 'static').css('max-width', '31%').css('min-width', '31%');
            }
        });
    });
</script>
{% endblock aboutcontent %}

{% block bottompagescript %}
{#    {{ analytics.crazyegg_tracker(False) }} #}
{% endblock bottompagescript %}
