#topic-page {
    padding: 0;
}

/* TODO (Maarten:)  I think .main-video-placeholder doesn't exist anywhere*/
.main-video-placeholder {
    position: relative;
    background: #000;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 395px;
    cursor: pointer;
}
a.main-video-link:visited,
a.main-video-link:hover {
    color: #fff;
}
.main-video-placeholder .youtube-placeholder-title {
    padding: 7px 12px;
    font-size: 18px;
    color: #FFF;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0) transparent;
    /* RGBa with 0.5 opacity */
    background: rgba(0, 0, 0, 0.5);
}
.main-video-placeholder .youtube-play {
    position: absolute;
    left: 50%;
    top: 162px;
    width: 107px;
    height: 73px;
    margin-left: -53px;
    opacity: 0.82;
    filter:alpha(opacity=82);
}
.main-video-placeholder:hover .youtube-play {
    opacity: 1.0;
    filter:alpha(opacity=100);
}

.topic-page-header {
    position: relative;
    width: 500px;
    height: 240px;
    margin: 10px;
    top-margin: 20px;
}

.topic-page-header #thumbnails tr {
    height: 120px;
}
.topic-page-header #thumbnails .thumbnail_td {
    padding: 8px;
}

.topic-page-header div.main-header {
    position: absolute;
    top: 10px;
    left: 450px;
    width: 450px;
}

.topic-page-content {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
}
.topic-page-content > .container {
    position: relative;
    width: 100%;
}

.topic-page-content > .container > .nav-pane {
    display: inline-block;
    border-right: solid 1px #ccc;
    width: 300px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: -510px;
}

.topic-page-content > .container > .nav-pane-spacer {
    display: inline-block;
    width: 330px;
    height: 100%;
}

.topic-page-content > .container > .nav-pane h2 {
    font-family: "MuseoSans500", sans-serif;
    font-size: 25px;
    line-height: 32px;
    margin: 10px 0px;
}

.topic-page-content > .container > .nav-pane > ul {
    width: 240px;
    margin-top: 0px;
    padding: 3px 0;
    padding-top: 12px;
}
.topic-page-content > .container > .nav-pane > ul > li {
    position: relative;
    width: 302px;
}
.topic-page-content > .container > .nav-pane > ul > li.subheading {
    padding-top: 20px;
}
.topic-page-content > .container > .nav-pane > ul > li.subheading span {
    color: #000;
    font-family: MuseoSans500;
    font-size: 16px;
    padding: 4px 8px;
    padding-right: 20px;
}
.topic-page-content > .container > .nav-pane > ul > li > a {
    display: block;
    position: relative;
    text-transform: none;
    margin-left: 0;
    border-bottom: none;
    letter-spacing: 0;
    font-family: MuseoSans300;
    color: #333;
    width: 271px;
    font-weight: normal;
    font-size: 16px;
    padding: 8px 8px;
    padding-right: 20px;
    line-height: 18px;
}
.topic-page-content > .container > .nav-pane > ul > li > a > .right-arrow {
    right: 8px;
}
.topic-page-content > .container > .nav-pane > ul > li.selected > a {
    text-decoration: none;
    background-color: #fff;
    border-left: solid 1px #ccc;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    border-right: solid 1px #fff;
    padding: 7px 21px 7px 7px;
}
.topic-page-content > .container > .nav-pane > ul > li.selected > a > .right-arrow {
    right: 9px;
}

.topic-page-content > .container > .content-pane {
    display: inline-block;
    vertical-align: top;
    width: 1162px
}
.topic-page-content > .container > .content-pane.indent {
    width: 66%;
    padding-left: 16px;
}

.topic-page-content > .container > .content-pane .topic-loading {
    font-family: MuseoSans300;
    font-size: 20px;
    font-weight: bold;
    padding: 36px 0;
}

.topic-page-content > .container > .content-pane .title {
    font-family: MuseoSans300;
    color: #333;
    font-weight: bold;
    font-size: 16pt;
    margin-top: 14px;
    margin-bottom: 10px;
}
.topic-page-content > .container > .content-pane .description {
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 2px #ddd;
}
.topic-page-content > .container > .content-pane .video-link {
    line-height: 30px;
    margin-left: 0px;
    font-size: 10pt;
}
.topic-page-content > .container > .content-pane .video-link a:hover {
    color: black;
    text-decoration: none;
}
.topic-page-content > .container > .content-pane .videos-list .vid-progress {
    display: inline-block;
    padding: 6px 14px;
    line-height: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content-pane div.main-header {
    border-bottom: solid 1px #ddd;
    margin-top: 10px;
    padding: 20px;
}

.content-pane div.main-header a.thumbnail_link:hover,
.content-pane div.subtopics-list a.thumbnail_link:hover {
    text-decoration: none;
}
.content-pane div.main-header div.thumbnail_container {
    width: 300px;
    position: absolute;
}
.content-pane div.main-header div.thumbnail_label {
    padding: 5px 10px;
    max-width: 280px;
    text-align: left;
    margin-left: 1px;
    margin-top: -33px;
    background: #333;
    background-color: rgba(30, 30, 30, 0.9);
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content-pane div.subtopics-list div.thumbnail_label {
    max-width: 230px;
}
.content-pane div.main-header div.thumbnail_desc,
.content-pane div.subtopics-list div.thumbnail_desc {
    width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content-pane div.main-header div.thumbnail_teaser,
.content-pane div.subtopics-list div.thumbnail_teaser {
    height: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    text-decoration: none;
    font-size: 11px;
}

.content-pane div.main-header .topic-info .topic-title {
    font-family: "MuseoSans500", sans-serif;
    font-size: 20px;
    margin-bottom: 12px;
}
.content-pane div.main-header .topic-info .topic-desc {
    font-size: 11pt;
    color: #777;
}
.content-pane div.main-header .topic-video .thumb {
    background-repeat: no-repeat;
    background-position: 0px -37px;
    width: 300px;
    height: 160px;
    border: 1px solid #aaa;
    -webkit-box-shadow: 0 0 3px #ccc;
    -moz-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    background-size: 300px 234px;
}

.content-pane div.main-header .topic-video {
    float: left;
}
.content-pane div.main-header .topic-video a {
    display: block;
    width: 316px;
}

.content-pane div.subtopic-list-container {
    overflow: hidden;
    margin-left: 6px;
}
.content-pane div.subtopics-list {
    width: 390px;
    display: inline-block;
    margin-left: -1px;
}
.content-pane div.subtopics-list.second {
    border-left: solid 1px #ccc;
    vertical-align:top;
}

.content-pane .subtopic-header {
    font-family: "MuseoSans500", sans-serif;
    font-size: 20px;
    margin: 22px 0 12px 0;
    padding-left: 20px;
}
.content-pane div.subtopics-list .subtopic {
    position: relative;
    float: left;
    width: 100%;
    height: 102px;
}
.content-pane div.subtopics-list a.subtopic-link-and-scroll {
    display: block;
    color: #356700;
    height: 102px;
}
.content-pane div.subtopics-list a.subtopic-link-and-scroll:hover {
    background-color: #DFEBF1;
    color: #000;
    text-decoration: none;
}
.content-pane div.subtopics-list .thumbnail-link {
    display: inline-block;
    width: 150px;
    vertical-align: top;
}
.content-pane div.subtopics-list .thumb {
    display: inline-block;
    background-position: no-repeat top left;
    width: 140px;
    height: 80px;
    border: 1px solid #aaa;
    -webkit-box-shadow: 0 0 3px #ccc;
    -moz-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    background-size: 140px 80px;
    margin: 10px 5px 10px 14px;
}

.content-pane div.subtopics-list .topic-info {
    position: relative;
    display: inline-block;
    width: 224px;
    height: 68px;
    padding-top: 10px;
    padding-bottom: 20px;
    vertical-align: top;
}
.content-pane div.subtopics-list .topic-info .topic-title {
    font-family: "MuseoSans500", sans-serif;
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 6px;
    margin-top: 5px;
}
.content-pane div.subtopics-list .topic-info .topic-description {
    font-size: 12px;
    line-height: 14px;
    color: #666;
}
.content-pane div.subtopics-list .topic-info .topic-video-count {
    position: absolute;
    font-size: 10pt;
    left: 0px;
    bottom: 5px;
}

.content-pane div.videos-list .videos-header {
    font-family: "MuseoSans500", sans-serif;
    font-size: 20px;
    margin: 22px 0 12px 0;
    padding-left: 20px;
}
.videos-table {
    display: table;
    width: 100%;
}
.content-pane div.videos-list ol {
    display: table-cell;
    width: 50%;
    vertical-align: top;
}
.content-pane div.videos-list ol.first {
    border-right: solid 1px #ccc;
}
.content-pane div.videos-list ol > li {
    width: 100%;
}
.content-pane div.videos-list ol > li > a {
    position: relative;
    font-size: 11pt;
    color: #356700;
    width: 100%;
    display: inline-block;
}
.content-pane div.videos-list ol > li > a > .indent {
    display: inline-block;
    margin-left: 8px;
}
.content-pane div.videos-list ol > li > a:hover {
    background-color: #DFEBF1;
    color: #356700;
}
.content-pane div.videos-list ol > li > a .vid-progress {
    position: relative;
    z-index: 2;
}

/* Responsive stuff */
@media (max-width: 767px) {
    /* Tablets */
}

@media (max-width: 480px) {
    /* Phones */
    .topic-page-content > .container > .nav-pane {
        width: 100%;
        //Javascript fokt height op
    }
}
