{% extends "page_template.html" %}

{% block meta_page_title %}Discussion Moderation | {% endblock meta_page_title %}

{% block pagecss %}
    {{ js_css_packages.css_package("moderation") }}
{% endblock pagecss %}

{% block pagesubmenu %}
    <span class="breadcrumbs_nav">
        <a href="/discussion/mod" {% if "panel" == selected_id %}class="selected"{% endif %}>Moderation Panel</a>
        <a href="/discussion/mod/moderatorlist" {% if "moderatorlist" == selected_id %}class="selected"{% endif %}>Moderators</a>
        <a href="/discussion/mod/flaggedfeedback" {% if "flaggedfeedback" == selected_id %}class="selected"{% endif %}>Flag Queue</a>
        <a href="/discussion/mod/bannedlist" {% if "bannedlist" == selected_id %}class="selected"{% endif %}>Banned Users</a>
    </span>
{% endblock pagesubmenu %}

{% block pagecontent %}
<article>
    <div id="modpanel">
    {% block panelcontent %}
    {% endblock panelcontent %}
    </div>
</article>
{% endblock pagecontent %}
