{{{ video.player_html }}}
{{{ video.subtitles_html }}}
{{#if video.extra_properties }}
{{#if video.extra_properties.original_url }}
<span>
Learn more about this work of art in context at <a href="{{{ video.extra_properties.original_url }}}">smarthistory.khanacademy.org</a>
</span>
{{/if}}
{{/if}}
{{{ video.discussion_html }}}

