{% extends "coach_resources/view_toolkit.html" %}
{% import 'macros/youtube.html' as youtube %}

{% block resourcecontent %}
<div id="demo">
    <div class="col1 fifty-fifty" style="text-align: center; padding-top: 18px;">
        {{ youtube.player_embed("DLt6mMQH1OY", "99%", 440) }}
    </div>
    <div class="col2 fifty-fifty">
        <h2 class="main-headline" style="white-space: pre;">Demo</h2>
        <p>
        Naast de content die de Iktel aanbiedt met de video's en oefeningen, kan een coach ook nog een hoop informatie over zijn of haar klas en/of student(en) verkrijgen. De videolink legt uit wat de mogelijkheden zijn.
        </p>

        <p>
        Om dit zelf te ontdekken hebben we een manier ontwikkeld om informatie over je klas te krijgen door het scenario te simuleren. Sommigen van ons hebben zich toegevoegd aan een klas en je krijgt toegang tot deze 
    	klas via<a href="/coach/accessdemo" target="_blank">
        demo</a>.
        <ul class=bullet>
            <li>Klik op de demoknop (als je ingelogd bent met je eigen account moet je eerst uitloggen)
            <li>Ontdek de kracht van data door de verschillende rapporten te bekijken. 
            <li>Wanneer je klaar bent kun je uitloggen van het demoaccount(en inloggen met je eigen account)
        </ul>
        </p>

        <p>
        <form id="coach_demo_form" action="/coach/accessdemo" method="post">
            <input id="demo-submit" type="submit" value="Access Demo" class="call-to-action simple-button blue">
        </form>
        </p>

        <script>
            $(document).ready(function(e) {
                var logged_in = {{ is_logged_in }}
                if (logged_in) {
                    $("input[id='demo-submit']").val("Logout and access demo")
                    $("input[id='demo-submit']").removeClass("blue")
                    $("input[id='demo-submit']").addClass("orange")
                }
            });

            $("#coach_demo_form").submit(function(e) {
                if ($("input[id='demo-submit']").val() != "Access Demo") {
                    window.location = "/logout?continue=/coach/demo"

                    $("input[id='demo-submit']").val("Access Demo")
                    $("input[id='demo-submit']").removeClass("orange")
                    $("input[id='demo-submit']").addClass("blue")

                    e.preventDefault()
                }
            });
        </script>
    </div>
</div>

{% endblock resourcecontent %}
