<div class="exercise-badge">
	<span class="pan-to simple-button" data-id="name" style="display:none;"><img src="/images/map-target.png" title="Toon op kaart" alt="Toon op kaart"></span>
    <h4>
        <div class="topic-exercise-badge">
            <img class="topic-exercise-image" src="{{icon_url}}">
        </div>

        <a href="{{url}}" title='Oefen alle problemen in  "{{standalone_title}}" topic.'>{{standalone_title}}</a>

    </h4>
</div>
