<div class="layer backdrop videoframe"></div>
<div class="layer controls">
    <form class="qtip-question" style="width: 480px">
        <p>Let's see if you already know this.</p>
        <p>Write your answer below.</p>
        answer =
        <span class="fraction-input" style="width: 60px">
            <input type="text" name="numerator" placeholder="?">
            <hr>
            <input type="text" name="denominator" placeholder="?">
        </span>
        {{>submit-area}}
    </form>
    <div class="watermark-blocker"></div>
</div>
