<div class="layer backdrop videoframe"></div>
<div class="layer controls">
    <form>
        <div class="label" style="left: 484px; top: 228px; ">Enter the value at A[1,3] above.</div>
        <div class="inputtext" style="position: absolute; width: 25px; height: 25px; left: 639px; top: 147px; ">
        <input type="text" name="answer" placeholder="?">
        </div>
        <div class="label" style="left: 599px; top: 151px; ">=</div>
        <div class="watermark-blocker">
        {{>submit-area}}
        </div>
    </form>
</div>
