<div class="layer backdrop whiteout"></div>
<div class="layer controls">
    <form class="popout">
        <a class="close" href="javascript: void 0">&times;</a>
        <h2>{{title}}</h2>
        <p>Sal gave us some examples of what matrices are used for. Let's see if we can think of some other uses.</p>
        <p>Check the items below if you think matrices were used to help create them.</p>

        <label class="checkbox"><input type="checkbox" name="answer"> Google's search engine</label>
        <label class="checkbox"><input type="checkbox" name="answer"> Calculating a satellite's orbit</label>
        <label class="checkbox"><input type="checkbox" name="answer"> Recording music to mp3 format</label>
        <label class="checkbox"><input type="checkbox" name="answer"> Making a Pixar movie like Finding Nemo</label>
        <label class="checkbox"><input type="checkbox" name="answer"> Moving a robot arm</label>
        <label class="checkbox"><input type="checkbox" name="answer"> This website!</label>

        {{>submit-area}}
    </form>
</div>
