{% macro globals(username, is_mobile_capable, logged_in_user_profile, user_data, server_time) %}
<script type="text/javascript">
    // TODO: Sweep below into KA
    // TODO: Change USERNAME var since it is actually the user's nickname
    {% if App.is_dev_server -%}
    var KA_IS_DEV = true;
    {%- endif %}
    var KA_VERSION = '{{ App.version }}';
    var FB_APP_ID = '{{ App.facebook_app_id }}';
    var USERNAME = '{{ username|escapejs }}';

    var KA = {
        "isMobileCapable": {{ templatetags.jsonify(is_mobile_capable, True) }},
        "FB_APP_NAMESPACE": "{{ App.facebook_app_namespace }}",
        {# The Backbone ProfileModel for the currently logged in user
         or a phantom user. Will be null if the user is pre-phantom.
        #}
        userProfileModel_: null,
        getUserProfile: function() {
            {% if logged_in_user_profile %}
            if (!KA.userProfileModel_) {
                KA.userProfileModel_ = new ProfileModel({{ templatetags.jsonify(logged_in_user_profile, True) }});
            }
            {% endif %}
            return KA.userProfileModel_;
        },
        getUserID: function() {
            {% if user_data %}
            return {{ templatetags.jsonify(user_data.user_id, True) }};
            {% else %}
            return null;
            {% endif %}
        },
        currentServerTime: function() {
            return {{ templatetags.jsonify(server_time, True) }};
        }

    };
</script>
{% endmacro %}
