{% macro comments(user_data, video, topic, page=0) -%}
    {% set logged_in = user_data and not user_data.is_phantom %}

    <div class="video_comments requires_script">
        <a name="comments"></a>
        <strong>Opmerkingen:</strong>

        <div class="comments_container"><em>Laden...</em> <img class="icon" src="{{ "/images/throbber.gif"|static_url }}"/></div>

        {% if logged_in %}
            {% if not user_data.is_child_account() %}
            <a href="#" class="control comment_add">
                <img class="icon" src="{{ "/images/balloon-plus.png"|static_url }}" />
                Voeg een opmerking toe
            </a>
            {% endif %}
        
        {% else %}
        <a href="{{ ("/video?v=%s" % video.youtube_id)|login_url }}" class="control">
            <img class="icon" src="{{ "/images/balloon-plus.png"|static_url }}" />
            Log in om een opmerking toe te voegen
        </a>
        {% endif %}

        <span class="comments_show_more">
            <a href="javascript:void(0);" class="comment_show control uses_script">
                <img class="icon" src="{{ "/images/balloons.png"|static_url }}" />
                Laat meer zien
            </a>
        </span>

        <div class="comment_form" style="display:none;">
            <form class="comments" name="comments">
                <input type="hidden" id="video_key" name="video_key" value="{{ video.key() }}" />
                <textarea name="comment_text" class="comment_text" rows="3" cols="40">
                </textarea>
                <br/>
                {{ feedback_controls_comment("Plaats opmerking") }}
            </form>
        </div>

    </div>
{%- endmacro %}

{% macro qa(user_data, video, topic, page=0, qa_expand_key=None, sort_override=-1) -%}

    {% set sort_order = 1 %} {# voting.VotingSortOrder.HighestPointsFirst #}
    {% if user_data %}
        {% set sort_order = user_data.question_sort_order %}
    {% endif %}
    {% if sort_override >= 0 %}
        {% set sort_order = sort_override %}
    {% endif %}

    {% set logged_in = user_data and not user_data.is_phantom %}
    <div class="video_questions requires_script">
        <a name="qa"></a>
        <nav class="css-menu" style="float:right;">
            <ul data-role="listview" data-inset="true">
                <li style="color:black;">
                    {% if sort_order == 2 %}
                        Nieuwe vragen eerst
                    {% else %}
                        Meeste stemmen eerst
                    {% endif %}
                    <ul>
                        <li><a href="/discussion/updateqasort?sort=1&readable_id={{video.readable_id}}&topic_title={{topic.title|urlencode}}#qa">Meeste stemmen eerst</a></li>
                        <li><a href="/discussion/updateqasort?sort=2&readable_id={{video.readable_id}}&topic_title={{topic.title|urlencode}}#qa">Nieuwe vraag eerst</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <strong>Vragen en antwoorden over {{ video.title|lower|escape|truncate(50) }}:</strong>
        <div class="questions_container"><em>Laden...</em> <img class="icon" src="{{ "/images/throbber.gif"|static_url }}"/></div>

        <!-- HACK(marcia): Clean up the below id and keys -->
        <input type="hidden" id="readable_id" value="{{video.readable_id}}">
        <input type="hidden" id="video_key" class="video_key_primary" name="video_key" value="{{ video.key() }}" />
        <input type="hidden" id="topic_key" name="topic_key" value="{{ topic.key() }}" />
        <input type="hidden" id="sort" value="{{ sort_order }}" />
        <input type="hidden" id="qa_page" value="{{ page }}" />
        <input type="hidden" id="qa_expand_key" value="{{ qa_expand_key }}" />

        <div class="info_note note" style="display:none;">
            <span class="note_desc"></span>
            <a href="#" class="close_note">Sluit</a>
        </div>

        {% if not logged_in %}
            <div class="login_note note" style="display:none;">
                <a class="login_link" href="{{ ("/video?v=%s" % video.youtube_id )|login_url }}">
                    Log in om verder te gaan
                </a>
                <span class="note_desc"></span>
                <a href="#" class="close_note">Sluit</a>
            </div>
        {% endif %}

    </div>
    <br/>

{%- endmacro %}

{% macro feedback_controls_comment(button_label, target=None) -%}
    {{ feedback_controls("comment", button_label, target, True, False) }}
{%- endmacro %}

{% macro feedback_controls(feedback_type, button_label, target=None, show_chars_remaining=False, hidden=False) -%}
    <div class="{{ feedback_type }}_controls_container"
        {% if hidden %}
            style="display:none;"
        {% endif %}
    >
        <div class="{{ feedback_type }}_add_controls feedback_add_controls">
            <div class="controls">
                {% if target %}
                    <input name="entity_key" type="hidden" value="{{ target.key() }}"/>
                {% endif %}

                <input class="simple-button {{ feedback_type }}_submit" 
                       type="button" 
                       value="{{ button_label }}" />

                of <a href="#" class="{{ feedback_type }}_cancel control">Sluit</a>
            </div>

            {% if show_chars_remaining %}
                <div class="chars_remaining">
                    <span class="chars_remaining_count">500</span> tekens over
                </div>
            {% endif %}
            <div class="clearFloat">&nbsp;</div>

        </div>
    </div>
{%- endmacro %}

{% macro vote_tools(target) -%}
    <div class="vote_tools">
        <div class="control vote_tools_show" >
            <a href="#" class="control vote_for {% if target.up_voted %}voted{% endif %}" title="Positieve stem, dit is aanmoedigend of behulpzaam (klik nog een keer om ongedaan te maken)" data-key="{{ target.key()|escape }}" data-vote-type="1"><img src="{{ "/images/vote-up-gray.png"|static_url }}" class="vote_up_gray"/><img src="{{ "/images/vote-up.png"|static_url }}" class="vote_up"/></a>
            {% if not target.is_type("comment") %}
                {{ vote_sum(target) }}
            {% endif %}
            <a href="#" class="control vote_for {% if target.down_voted %}voted{% endif %}" title="Negatieve stem, dit is niet aanmoedigend of behulpzaam (klik nog een keer om ongedaan te maken)" data-key="{{ target.key()|escape }}" data-vote-type="-1"><img src="{{ "/images/vote-down-gray.png"|static_url }}" class="vote_down_gray"/><img src="{{ "/images/vote-down.png"|static_url }}" class="vote_down"></a>
        </div>
    </div>
{%- endmacro %}

{% macro vote_sum(target) -%}
    {% if target.is_type("comment") %}
    <span class="sum_votes">{% if target.sum_votes_incremented %}{{ target.sum_votes_incremented }} vote{{ "s" if target.sum_votes_incremented != 1 else "" }}, {% else %}&nbsp;{% endif %}</span>
    {% else %}
    <div class="sum_votes">{{ target.sum_votes_incremented }}</div>
    {% endif %}

{%- endmacro %}

{% macro flag_tools(target) -%}
    <span class="flag_tools">
        <span class="control flag_tools_show">
            <a href="#" class="control flag_show" title="Rapporteer"><img class="feedback_flag_gray" src="{{ "/images/flag_gray.png"|static_url }}" /><img class="feedback_flag" src="{{ "/images/flag.png"|static_url }}" /></a>
        </span>
        <span class="flag_tools_hidden message" style="display:none;">
            Rapporteer als:
            <a href="#" class="control flag_as" title="Flag as inappropriate content" data-flag="inappropriate" data-key="{{ target.key() }}">Ongepast</a>
            | <a href="#" class="control flag_as" title="Flag as low quality content" data-flag="lowquality" data-key="{{ target.key() }}">Slechte kwaliteit</a>
            | <a href="#" class="control flag_as" title="Flag as content that does not belong here" data-flag="doesnotbelong" data-key="{{ target.key() }}">Hoort hier niet</a>
            | <a href="#" class="control flag_as" title="Flag as spam" data-flag="spam" data-key="{{ target.key() }}">Spam</a>
        </span>
    </span>
{%- endmacro %}

{% macro mod_tools(target) -%}
    <span class="mod_tools">
        Opties:
        <a href="javascript:void(0)" class="control mod_delete" data-key="{{ target.key() }}">Verwijder</a>
        | <a href="javascript:void(0)" class="control mod_change" data-target-type="question" data-key="{{ target.key() }}">Verander naar vraag</a>
        | <a href="Javascript:void(0)" class="control mod_clear_flags" data-key="{{target.key()}}">Verwijder markeeringspunten</a>
        <span class="message"></span>
    </span>
{%- endmacro %}

{% macro author_tools(target) -%}
    <span class="mod_tools">
        <span class="mod_tools_hidden">
            {% if not target.is_type("comment") %}
                <a href="#" class="control mod_edit" data-key="{{ target.key() }}">Aanpassen</a>
                | 
            {% endif %}
            <a href="#" class="control mod_delete" data-key="{{ target.key() }}">Verwijder</a>
        </span>
    </span>
{%- endmacro %}

{% macro signature(target=None, verb=None) -%}
    <nobr>
        {% if target %}

            {% if target and target.is_type("comment") %}
                {{ vote_sum(target) }}
            {% endif %}

            <a class="author-nickname" data-user-id="{{ target.get_author_user_id()|escape }}">{{ target.author_nickname|escape }}</a>{% if verb %} {{ verb }} {{ target.date|timesince_ago }}
            {% else %}, {{ target.date|timesince_ago }}
            {% endif %}

            {{ flag_tools(target) }}

            {% if UserData.current().moderator %}
                {% if target %}
                    {{ mod_tools(target) }}
                {% endif %}
            {% else %}
                {% if target and target.authored_by(UserData.current()) %}
                    {{ author_tools(target) }}
                {% endif %}
            {% endif %}
        {% else %}
            &ndash;Voorbeeld
        {% endif %}
    </nobr>
{%- endmacro %}
