{{#if showAuthorControls}}
<span class="mod_tools" data-is-author="{{showAuthorControls}}">
    <a href="#" class="control mod_edit" data-key="{{key}}">edit</a>
    | <a href="#" class="control mod_delete" data-key="{{key}}">delete</a>
    <span class="message"></span>
</span>
{{/if}}
