<div class="alert alert-info">
    <span class="close" data-dismiss="alert">&#215;</span>
    <div><strong>Thanks for {{verb}}!</strong></div>
    <div>You can view your public discussion history
        <a class="alert-link" href="{{profileRoot}}discussion">on your
        profile</a>.
    </div>
</div>
