<div class="alert alert-info">
    <span class="close" data-dismiss="alert">&#215;</span>
    <div><strong>Bedankt voor {{verb}}!</strong></div>
    <div>Je kunt al je discussies terugzien op de pagina 
        <a class="alert-link" href="{{profileRoot}}discussion">van je 
        profiel</a>.
    </div>
</div>
