<div class="layer backdrop videoframe"></div>
<div class="layer controls">
    <form class="qtip-question" style="width: 480px">
        <p>Based on Sal's drawing of the pie, do you think 4/8 of a pie is equivalent to a half a pie?</p>
        <label class="radio inline"><input type="radio" name="answer" value="yes"> Yes</label>
        <label class="radio inline"><input type="radio" name="answer" value="no"> No</label>
        {{>submit-area}}
    </form>
    <div class="watermark-blocker"></div>
</div>
