<div class="layer backdrop videoframe"></div>
<div class="layer controls">
    <form class="qtip-question" style="width: 480px">
        <p>What value for the numerator will make these fractions equivalent?</p>
        numerator =
        <input type="text" name="answer" placeholder="?">
        {{>submit-area}}
    </form>
    <div class="watermark-blocker"></div>
</div>
