<!DOCTYPE html>
<html>
    <head>
        <title>Khan Academy</title>
        {{ js_css_packages.css_package("shared") }}
        {{ js_css_packages.css_package("bootstrap-grids") }}
        {{ js_css_packages.css_package("login") }}
    </head>
    <body>
        <div class="completesignup-container card-case vertical-shadow">
            <div class="completesignup-contents">
            <img src="/images/hand-tree.png" width="75" height="75" class="tree">
            <h3><strong>Great!</strong>
            {% if user %}
                {% if user.is_facebook_user %}
                    Now create your Khan Academy login and we'll connect it to your existing Facebook account.
                {% else %}
                    Now create your Khan Academy login and we'll connect it to your existing Google account.
                {% endif %}
            {% else %}
                Now create your Khan Academy login.
            {% endif %}
            </h3>

            <form method="POST" class="auth-form container" id="signup-form" action="/completesignup?continue={{continue|urlencode}}">
            {% if token %}
            <input type="hidden" name="token" id="token" value={{token.value}}>
            {% endif %}


            <div class="field-container row-fluid">
                <label class="field-label span4" for="email">Email</label>
                <input id="email" name="email" class="simple-input ui-corner-all span6" value="{{values['email']|escape}}" disabled="true">
            </div>

            <div class="field-container row-fluid">
                <label class="field-label span4" for="nickname">Your name</label>
                <input id="nickname" name="nickname" class="simple-input ui-corner-all span6" value="{{values['nickname']|escape}}">
            </div>

            <div class="field-container row-fluid">
                <label class="field-label span4" for="gender">Male/Female (optional)</label>
                <select id="gender" name="gender" class="simple-input ui-corner-all span6">
                    <option value="unspecified" {% if values['gender'] == 'unspecified' %}selected{% endif %}> </option>
                    <option value="male" {% if values['gender'] == 'male' %}selected{% endif %}>Male</option>
                    <option value="female" {% if values['gender'] == 'female' %}selected{% endif %}>Female</option>
                </select>
            </div>

            <div class="field-container row-fluid">
                <label class="field-label span4" for="username">Username</label>
                <input id="username" name="username" class="simple-input ui-corner-all span6" value="{{ values['username']|escape }}">
            </div>

            <div class="field-container row-fluid">
                <label class="field-label span4" for="password">Password</label>
                <input id="password" name="password" type="password" class="simple-input ui-corner-all span6">
            </div>

            <div class="error-container row-fluid">
                {# Whitespace included so that the layout doesn't change if text is added/removed #}
                <div class="field-error span10" id="error-text">&nbsp;</div>
            </div>

            <div class="field-container submit-container row-fluid">
                <div class="span3">{# spacer #}&nbsp;</div>
                <div class="span7">
                    <span class="tos-area">By clicking "Signup", you agree to our <a href="/about/tos" target="_blank" tabindex="1">Terms of Service</a> and <a href="/about/privacy-policy" target="_blank" tabindex="1">Privacy Policy</a></span>
                    <input type="button" id="submit-button" name="submit-button" value="Signup" class="simple-button green">
                </div>
            </div>

            </form>

            {{ js_css_packages.js_package("shared") }}
            {{ js_css_packages.js_package("login") }}
            <script>
            $(function() {
                Login.initCompleteSignupForm({
                    basePostLoginUrl: "{{ templatetags.to_insecure_url('/') }}"
                });
            });
            </script>
            </div>
        </div>
    </body>
</html>

