{% extends "page_template.html" %}

{% import 'macros/analytics.html' as analytics %}

{% block meta_page_title %}Contribute | {% endblock meta_page_title %}
{% block pagecss %}
    {{ js_css_packages.css_package("bootstrap-grids") }}
    {{ js_css_packages.css_package("contribute") }}
{% endblock pagecss %}

{% block pagecontent %}
<article id="contribute">
    <div class="col1 sixty-forty">
        <h2 class="section-headline">Help mee!</h2>
		<p>
			We kunnen je hulp goed gebruiken. Geloof je ook in de mogelijkheden die de Khan Academie biedt? Help dan mee met:</p>
			<ul>
				<li style="font-size:14px;"><a href="http://blog.khanacademie.nl/p/help-met-vertalen.html">het vertalen van reken- en wiskundeoefeningen</a></li>
				<li style="font-size:14px;"><a href="http://blog.khanacademie.nl/p/maak-filmpjes.html">het maken van uitlegvideo's</a></li>
				<li style="font-size:14px;"><a href="http://blog.khanacademie.nl/p/content-voor-taaloefeningen.html">het ontwikkelen van content voor taaloefeningen</a></li>
			</ul>
			<p>Daarnaast zijn we erg benieuwd naar ervaringen uit de praktijk. Buitenlandse ervaringen staan op;&nbsp; <a href="http://www.khanacademy.org/stories" target="_blank">http://www.khanacademy.org/stories</a>
		</p>		
		<p>Jan Knevers deelt elke week zijn ervaringen in de klas op <a href="http://blog.khanacademie.nl" target="_blank">blog.khanacademie.nl</a>
		</p>
	</div>
    
    <div class="clear"></div>
    <hr>
    <div class="col1 sixty-forty">
			<h2>Verspreid het nieuws!</h2>
			<p>
				Door anderen te vertellen over de Khan Academie help je ons ook.
				De eerste enthousiaste gebruikers zijn er, er zijn zelfs al scholen die er gebruik van maken, maar er is eigenlijk geen enkele reden waarom  
				niet heel Nederland leert met behulp van de Khan Academie.
				Vertel je netwerk over de kracht, het nut en de mogelijkheden van de Khan Academie.
			</p>
			<p>
				<a href="http://www.facebook.com/pages/Khanacademie-NL/123650984422563" class="simple-button action-gradient social-button">
					Facebook
				</a>
				<a href="http://twitter.com/khanacademie" class="simple-button action-gradient social-button">
					Twitter
				</a>				
				<a href="https://plus.google.com/b/100213809438509670719/" class="simple-button action-gradient social-button">
					Google+
				</a>				
				<a href="http://www.linkedin.com/groups/Khan-Academy-Nederland-4223536?gid=4223536&trk=hb_side_g" class="simple-button action-gradient social-button">
					LinkedIn
				</a>
			</p>

	</div>
		<div class="clear"></div>
		<hr>
    <div style="text-align:center; padding-bottom: 18px;"><p>De Nederlandse Khan Academie zou niet bestaan zonder de hulp, tijd, energie en expertise van de vele vrijwilligers.</p></div>
</article>
{% endblock pagecontent %}
{% block bottompagescript %}
    {{ js_css_packages.js_package("exercisestats") }}
    {{ analytics.crazyegg_tracker(False) }}
{% endblock bottompagescript %}
