{% extends "page_template.html" %}
{% block meta_page_title %}Forgot Password | {% endblock meta_page_title %}

{% block pagecss %}
    {{ js_css_packages.css_package("login") }}
{% endblock pagecss %}

{% block pagecontent %}
<article id="page-root" class="login">
    <div class="forgot-pw-container card-case vertical-shadow">
        {% if sent_email %}
        <h4>We hebben je een bericht gestuurd op:</h4>
        {% else %}
        <h4>Om je wachtwoord opnieuw in te stellen, vul je e-mailadres in.</h4>
        {% endif %}
        {% if sent_email %}
            <h5 class="email">{{ sent_email }}</h5>
            <br>

            <div class="instructions">
                Klik op de link in dat bericht om je wachtwoord te herstellen.
            </div>

            {% if debug_link %}
                <div style="clear:both">
                <a href="{{debug_link}}">{{debug_link}}</a>
                </div>
            {% endif %}
        {% else %}
            <form id="forgot-pw-form" method="POST" class="auth-form">
                <div class="field-container">
                    <label class="field-label" for="email">E-mail</label>
                    <input name="email" id="email" class="simple-input ui-corner-all" autofocus>
                </div>

                <div class="field-container" style="margin-top: 1.5em">
                    <input name="reset" id="reset"
                        type="submit"
                        class="simple-button ui-corner-all green"
                        value="Herstel wachtwoord">
                </div>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}
