{% extends "page_template.html" %}
{% block meta_page_title %}Forgot Password | {% endblock meta_page_title %}

{% block pagecss %}
    {{ js_css_packages.css_package("login") }}
{% endblock pagecss %}

{% block pagecontent %}
<article id="page-root">
    <div class="forgot-pw-container card-case vertical-shadow">
        {% if sent_email %}
        <h4>We've sent you a message at:</h4>
        {% else %}
        <h4>To reset your password, enter your email:</h4>
        {% endif %}
        {% if sent_email %}
            <h5 class="email">{{ sent_email }}</h5>
            <br>

            <img src="/images/hand-tree.png" width="75" height="75" class="tree">
            <div class="instructions">
                Follow the link in that message to reset your Khan Academy password.
            </div>

            {% if debug_link %}
                <div style="clear:both">
                <a href="{{debug_link}}">{{debug_link}}</a>
                </div>
            {% endif %}
        {% else %}
            <img src="/images/hand-tree.png" width="75" height="75" class="tree">
            <form id="forgot-pw-form" method="POST" class="auth-form">
                <div class="field-container">
                    <label class="field-label" for="email">Email</label>
                    <input name="email" id="email" class="simple-input ui-corner-all" autofocus>
                </div>

                <div class="field-container" style="margin-top: 1.5em">
                    <input name="reset" id="reset"
                        type="submit"
                        class="simple-button ui-corner-all green"
                        value="Reset Password">
                </div>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}
