{% extends "page_template.html" %}
{% block meta_page_title %}Forgot Password | {% endblock meta_page_title %}
{% import 'macros/login_buttons.html' as login_macros %}

{% block pagecss %}
    {{ js_css_packages.css_package("login") }}
{% endblock pagecss %}

{% block pagecontent %}
<article id="page-root">
    <div class="forgot-pw-error-container card-case vertical-shadow error">
        We can't find a Khan Academy account connected to <strong>{{ email }}</strong>,
        but this doesn't mean you don't have an account.
    </div>
    <div class="forgot-pw-signup-container card-case vertical-shadow">
        <h3>Have you used Google or Facebook to login to Khan Academy?</h3>
        <div class="providers">
            <h4>Log in with</h4>
            <div>
                {{ login_macros.google_button(google_url) }}

                {{ login_macros.facebook_button(App.facebook_app_secret) }}

                <div class="providers-info">...and then we'll update or create your Khan Academy password for your account.</div>
            </div>
        </div>

        <div class="signup-prompt-container">Have you never created an account? <a class="signup-link" href="/signup">Sign up now</a>.</div>
    </div>
</div>
{% endblock %}

{% block bottompagescript %}
    {{ js_css_packages.js_package("login") }}
    <script>
    $("#login-facebook").click(function(e) {
        Login.connectWithFacebook(
                "/postlogin?completesignup=1",
                true /* requireEmail */);
    });
    </script>
{% endblock bottompagescript %}
