{% extends "page_template.html" %}
{% block pagescript %}
<style type="text/css">
  .info-list ul li {
  	list-style-type: circle;
  	font-size: 0.9em;
  }
  .info-list ol li {
  	list-style-type: lower-roman;
  	font-size: 0.9em;
  }
</style>
{% endblock pagescript %}
{% block pagecontent %}
<article>
	<div>

		<h1>Gebruiksvoorwaarden</h1>
		<p>
		Welkom bij www.iktel.nl en hartelijk dank voor je bezoek. Door het bezoeken en gebruiken van deze website ga je akkoord met de volgende algemene gebruiksvoorwaarden. Deze zijn bedoeld om ervoor te zorgen dat de website voor iedereen werkt.</p>

		<p>Iktel.nl geïnspireerd op Khan Academy.</p>

		<p>De website is een initiatief van Perceptum en is geïnspireerd op- en gelanceerd met toestemming van www.khanacademy.org, maar maakt hier geen deel vanuit. De op deze website opgenomen faciliteiten zoals de oefeningen en video's, informatie, nieuws, gegevens en andere informatie op de website is samengesteld door iktel.nl en haar vrijwilligers.</p>

		<h6>Voorwaarden toegang</h6>
        <div class="info-list"><p>
			<ol style="list-style-position:inside">
				<li>
					Toegang tot deze Website, faciliteiten en informatie wordt verleend onder de voorwaarden van hetgeen in dit bezoekers regelement is opgenomen. Bezoekers zijn geen vergoeding verschuldigd voor de diensten die op deze Website beschikbaar worden gesteld, tenzij uitdrukkelijk anders is vermeld.
				</li>
			    <li> Je kunt inloggen op de Website met een Google- of Facebook account. Door in te loggen op de Website via Google en Facebook, ga je akkoord met de  gebruiksvoorwaarden van deze partijen. iktel.nl is niet verantwoordelijk voor de interactie die tussen jou en Google of Facebook plaatstvindt.  
			    </li>	
			</ol>
        </div></p>

		<h6>Privacy</h6>

		<p>Jouw privacy is belangrijk voor ons. Ten aanzien van de bescherming- en verwerking van jouw persoonsgegevens hanteren wij daarom een privacybeleid. Deze vind je onderaan de Website. Dit privacybeleid maakt onderdeel uit van de gebruiksvoorwaarden. Lees ons privacybeleid zorgvuldig voor je gebruik maakt van de Website.</p>

		<h6>Wijzigingen</h6>
		<div><p>
			<ol style="list-style-position:inside">
				<li>
					De informatie op de Website is continu aan wijziging onderhevig en deels afkomstig van derden, iktel.nl betracht de grootst mogelijke zorgvuldigheid in de samenstelling van de informatie, maar garandeert niet dat de informatie compleet en/of accuraat is, noch aanvaardt iktel.nl enige aansprakelijkheid voor directe of indirecte schade welke is ontstaan door gebruikmaking van de informatie, behoudens opzet of bewuste roekeloosheid van iktel.nl.
			    </li>
			    <li>
					iktel.nl behoudt zich tevens het recht voor deze gebruiksvoorwaarden te wijzigen. Wanneer wij de gebruiksvoorwaarden wijzigen zullen we je hierover via de blog op de Website informeren.
				</li>
			</ol>
	    </div></p>

		<h6>Gebruik van de aangeboden informatie</h6>

		<p>De informatie wordt voor algemene onderwijsdoeleinden aan bezoekers beschikbaar gesteld, maar berust niet in zijn geheel op bestaande leerlijnen en is ook niet, in zijn geheel, gebaseerd op wetenschappelijk onderwijs. Elk besluit om gebruik te maken van de beschikbare informatie is een zelfstandig besluit van de bezoeker en behoort tot zijn eigen verantwoordelijkheid.</p>

		<h6>Internet</h6>
		<p>iktel.nl wijst bezoekers op deze Website op het feit dat het internet niet een geheel betrouwbare voorziening is voor de overbrenging van, en toegang tot informatie en dat zich op willekeurige momenten storingen, vertragingen en fouten kunnen voordoen. iktel.nl kan niet aansprakelijk gesteld worden voor directe of indirecte schade als gevolg van (tijdelijke) storingen, vertraging of fouten op de Website, alsmede voor enige vertraging of fouten in het verzenden of ontvangen van berichten, waaronder mededelingen en instructies  door middel van de Website.</p>

		<h6>Intellectuele eigendomsrechten</h6>

		<p>De rechten op de Website en de informatie die daarop beschikbaar wordt gesteld behoort toe aan iktel.nl en/of haar toeleveranciers en zijn beschermd op basis van het auteursrecht en andere intellectuele eigendomsrechten. Behoudens voor persoonlijk en niet-commercieel gebruik mag de informatie en/of andere delen van de Website niet worden verveelvoudigd, opgeslagen in een geautomatiseerd gegevensbestand, of openbaar gemaakt, in enige vorm of op enige wijze, hetzij elektronisch, hetzij mechanisch, door fotokopieën, opnamen of enige andere manier, zonder voorafgaande schriftelijke toestemming van iktel.nl. In het bijzonder is het bezoeker uitdrukkelijk niet toegestaan Informatie geheel of gedeeltelijk door te zenden naar newsgroups, mailing lists, electronic bulletin boards, chat boxes of daarmee vergelijkbare discussiefora zonder voorafgaande schriftelijke toestemming van iktel.nl. Onmiskenbaar onrechtmatig materiaal wordt na melding van de Website verwijderd.</p>

		<h6>Inzendingen</h6>
		<p>iktel.nl heeft het recht inzendingen niet te plaatsen, te verwijderen, dan wel aan te passen, indien deze lasterlijk, obsceen of bedreigend van aard zijn. Tevens behoud iktel.nl zich het recht voor filmpjes en oefeningen van de Website te verwijderen wanneer zij van mening zou zijn dat deze van slechte kwaliteit zijn, verouderd zijn, of op enige andere wijze ongeschikt worden bevonden voor de Website. Onmiskenbaar onrechtmatig materiaal wordt na melding verwijderd.</p>

		<h6>Beëindiging gebruik</h6>

		<p>iktel.nl biedt een gratis online-dienst. iktel.nl behoudt zich het recht voor op enig moment uw registratie op te heffen indien zij daar aanleiding toe wordt gezien. iktel.nl kan hier op geen enkele manier aansprakelijk voor worden gehouden tenzij anders is overeengekomen.</p>

		<h6>Algemeen</h6>

		<p>Op deze gebruikersvoorwaarden is Nederlands recht van toepassing. Geschillen welke voortvloeien uit, of samenhangen met deze gebruikersvoorwaarden, de Website en/of informatie worden voorgelegd aan de bevoegde rechter te Amsterdam. </p>

	</div>
</article>


{% endblock pagecontent %}
