{% extends "page_template.html" %}

{% import 'macros/youtube.html' as youtube %}
{% import 'macros/analytics.html' as analytics %}
{% import 'macros/mailing_lists.html' as mailing_lists %}

{% block pagecss %}
<style>
	#page_sub_nav { display: none; }
	td { vertical-align: top; }
	.ui-tooltip, .qtip { max-width: 200px; }
</style>
{% endblock pagecss %}

{% block pagetitle %}{% endblock pagetitle %}
{% block pagecontent %}
<article id="homepage">
    <div id="main-video">

        {% if is_mobile_capable %}
            {{ youtube.player_embed(marquee_video["youtube_id"], 480, 395) }}
        {% else %}
            <a id="main-video-link" href="{{ marquee_video["href"] }}" data-tag="Homepage Featured">
                <div id="main-video-placeholder" style="background-image:url('{{ marquee_video["thumb_urls"]["sd"]|escape }}')">
                    <div class="youtube-placeholder-title">{{ marquee_video["title"]|escape }}</div>
                    <img class="youtube-play" src="/images/youtube_play.png" />
                </div>
            </a>
        {% endif %}
    </div>
    <div id="homepage-text" class="visited-no-recolor">
        <h1 class="section-headline pulls"><a href="/#browse" data-tag="Homepage Headline">Watch.</a> <a href="/exercisedashboard" data-tag="Homepage Headline">Practice.</a></h1>
        <h1>Learn almost anything for free.</h1>
        <p>
            With over <a href="/#browse" data-tag="Homepage Description">{{approx_vid_count|thousands_separated}} videos</a> on
            everything from arithmetic to physics, finance, and history and <a href="/exercisedashboard" data-tag="Homepage Description">hundreds of skills to practice</a>,
            <a href="/about" data-tag="Homepage Description">we're on a mission</a> to help you learn what you want, when you want, at your own pace.
        </p>
        <div>
            <a href="/#browse" data-tag="Homepage C2A" class="call-to-action simple-button green watch-a-video">Watch a Video</a>
            <a href="/exercisedashboard" data-tag="Homepage C2A" class="call-to-action simple-button blue">Take a Challenge</a>
        </div>
        <p class="try-teacher-toolkit">Teacher or administrator? <a href="/coach/resources">Explore our Teacher Resources</a>.</p>
        <div id="social-actions">
            <table>
                <tr>
                    <td class="social-action">
                        <span id="fb-like-badge">
                            <div id="fb-root"></div><fb:like href="http://www.khanacademy.org" send="true" layout="button_count" width="100" show_faces="false" font=""></fb:like>
                        </span>
                    </td>
                    <td class="social-action">
                        <a href="http://twitter.com/share" class="twitter-share-button" data-counturl="http://www.khanacademy.org" data-url="http://www.khanacademy.org" data-text="Watch. Practice. Learn almost anything for free." data-count="horizontal" data-via="khanacademy">Tweet</a>
                    </td>
                    <td class="social-action">
                        <g:plusone size="medium" href="http://www.khanacademy.org"></g:plusone>
                    </td>
                </tr>
                <tr>
                    <td colspan=3 class="homepage-mailing">
                        <span>{{ mailing_lists.signup_form(3, "Get Updates", "Enter your email to learn about new courses.") }}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <h2>
        New <span class="ampersand">&amp;</span> Noteworthy
    </h2>
    {% if thumbnail_link_sets %}
    <div id="thumbnails_container">
        <table width="100%">
            <tr>
                <td width="3%">
                    <div class="thumbnails_arrow action-gradient" id="arrow-left">
                        <div class="arrow-left"></div>
                    </div>
                </td>
                <td width="94%">
                    <div id="thumbnails" class="visited-no-recolor">
                        {% for thumbnail_link_set in thumbnail_link_sets %}
                            {% set outerloop = loop %}
                            <div {% if not loop.first %}style="display:none;"{% endif %}><table style="width:100%"><tr>
                            {% for thumbnail_link in thumbnail_link_set %}
                            <td style="width:25%" class="thumbnail_td {{ thumbnail_link["type"] }} {% if thumbnail_link["selected"] %}selected{% endif %}" data-key="{{ thumbnail_link["key"]|escape }}" data-youtube-id="{{ thumbnail_link["youtube_id"]|escape }}">

                                <a href="{{ thumbnail_link["href"]|escape }}" data-tag="Homepage Featured" class="thumbnail_link"><div 
                                        {% if outerloop.first %}
                                        class="thumb" style="background-image:url('{{ thumbnail_link["thumb_urls"]["hq"]|escape }}')"
                                        {% else %}
                                        class="thumb pending" data-src="{{ thumbnail_link["thumb_urls"]["hq"]|escape }}"
                                        {% endif %}
                                        ></div></a>

                                    <a href="{{ thumbnail_link["href"]|escape }}" data-tag="Homepage Featured" class="thumbnail_link"><div class="thumbnail_label"><div class="thumbnail_desc">{{ thumbnail_link["desc_html"] }}</div><div class="thumbnail_teaser">{{ thumbnail_link["teaser_html"] }}</div></div></a>
                                </td>
                            {% endfor %}
                            </tr></table></div>
                        {% endfor %}
                    </div>
                </td>
                <td width="3%">
                    <div class="thumbnails_arrow action-gradient" id="arrow-right">
                        <div class="arrow-right"></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    {% endif %}

    <div class="clear"></div>

<div data-role="page" data-theme="b" {% if is_mobile %}id="browse"{% endif %}>
    <div data-role="content">
        <div id="mobile-homepage" class="mobile-only">
            <img data-src="{{ "/images/logo-horizontal-large.png"|static_url }}" id="mobile-logo" />
            <span id="page_visitors">
                    <span id="page_num_visitors">
                        <!-- Content will get populated by javacript at end of page -->
                    </span>&nbsp;lessons delivered
            </span>
        </div>
        <h2 class="main-headline">Browse our library of over {{approx_vid_count|thousands_separated}} educational videos...</h2>
        {% if DVD_list %}
        <ul class="menu" id="menu">
            {% for topic in DVD_list %}
        	    <li><a href="#{{topic}}" class="menulink">{{topic}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <div id="browse-control-anchor"></div>
        {{ templatetags.topic_browser("browse", version_number) }}
        {{ templatetags.topic_browser("browse-fixed", version_number) }}

        {% endif %}
        <a href="/mobilefullsite" class="mobile-only" data-role="button" data-ajax="false">View standard site</a>
    </div>
</div>
<div class="clear"></div>
{{ library_content }}

</article>

<div id="back-to-top">
    <a class="arrow" href="#">▲</a>
    <a class="text" href="#">Back to Top</a>
</div>
{% endblock pagecontent %}

{% block bottompagescript %}
    {% if not is_mobile %}
        {{ js_css_packages.js_package("homepage") }}
    {% endif %}

    <script type="text/javascript">
        $(function(){
            VideoStats.startLoggingProgress("{{ marquee_video["key"]|escapejs }}");

            if (typeof(Homepage) !== "undefined") {
                Homepage.initPlaceholder("{{ marquee_video["youtube_id"]|escapejs }}");
            }
        });

        (function(){
            var twitterWidgets = document.createElement('script');
            twitterWidgets.type = 'text/javascript';
            twitterWidgets.async = true;
            twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
            // Setup a callback to track once the script loads.
            twitterWidgets.onload = _ga.trackTwitter;
            document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
        })();

        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
        _ga.trackFacebook();
    </script>

    {{ analytics.crazyegg_tracker(False) }}

    {%- if link_heat -%}
    <script type="text/javascript" src="/javascript/random/linkheat.js?{{App.version}}"></script>
    {%- endif -%}
{% endblock bottompagescript %}
