{% extends "page_template.html" %}

{% import 'macros/youtube.html' as youtube %}
{% import 'macros/analytics.html' as analytics %}

{#
{% import 'macros/mailing_lists.html' as mailing_lists %}
#}

{% block pagecss %}
<style>
	#page_sub_nav { display: none; }
	td { vertical-align: top; }
	.ui-tooltip, .qtip { max-width: 200px; }
  .blog-entry { 
    margin-top:20px;
  }
  a.blog-title { 
    font-size: 16px;
    color: #26a8e0;
    display: block;
  }
  a.blog-title:visited { 
    color: #1688b0;
  }
  a.begin-button {
    width: 340px;
    height: 100%;
    background: -webkit-linear-gradient(top, #26a8e0 40%,#8cc4eb 100%);
    border-radius: 8px;
    font-size: 30px;
    display: block;
    text-align: center;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 5px 5px 5px grey;
    text-shadow: 0px 1px 1px black;
    color: white;
    padding: 30px;
    margin-top: 16px;
  }
  a.begin-button:hover {
    box-shadow: 3px 3px 4px grey;
    color: white;
    text-shadow: 0px 0px 2px black;
    text-decoration: none;
  }
  a.begin-button:visited {
    color: white;
    text-decoration: none;
  }
  .blog-date {
    font-color: gray;
  }
  #homepage-left-col {
    text-align: justify;
    max-width: 55%;
    margin-top: 20px;
    float: left;
  }
  #homepage-right-col h3 {
	  border-bottom: 1px solid black;
	  margin-top: 20px;
	  padding-bottom: 10px;
	  text-align: center;
  }
  #homepage-right-col {
    float: right;
    max-width: 40%;
    margin-top:20px;
  }
  #homepage-logo {
    background: url("images/logo-horizontal-large.png") -231px 0px;
    width: 325px;
    height: 186px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #homepage-text {
    margin-left: 0px;
    max-width: 100%;
    height: auto;
  }
  #homepage {
    background: none;
  }
  #social-actions {
    margin-bottom: 26px;
    margin-top: 33px;
  }
  #social-actions table {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }
  td.social-action { 
    text-align: center;
    display: inline-block;
    margin-right: auto;
    width: 100px;
  }
  td.social-action.gplus { 
    padding-left: 15px;
    width: 85px;
  }
</style>
{% endblock pagecss %}

{% block pagetitle %}{% endblock pagetitle %}
{% block pagecontent %}
<article id="homepage">
<!--
    <div id="main-video">
      <iframe width="560" height="315" src="http://www.youtube.com/embed/tC80BNOKJtk" frameborder="0" allowfullscreen></iframe>
    </div>
    -->
    <div id="homepage-left-col">
        <div id="homepage-logo">
            <div id="spare-leaves"></div>
        </div>
        <div id="social-actions">
            <table>
                <tr>
                    {#
                    <td class="social-action">
                        <span id="fb-like-badge">
                            <div id="fb-root"></div><fb:like href="http://www.khanacademie.nl" send="true" layout="button_count" width="100" show_faces="false" font=""></fb:like>
                        </span>
                    </td>
                    #}
                    <td class="social-action">
                        <a href="http://twitter.com/share" class="twitter-share-button" data-counturl="http://www.khanacademie.nl" data-url="http://www.khanacademie.nl" data-text="Kijk. Oefen. Leer bijna alles online, en gratis." data-count="horizontal" data-via="khanacademie">Tweet</a>
                    </td>
                    <td class="social-action gplus">
                        <g:plusone size="medium" href="http://www.khanacademie.nl"></g:plusone>
                    </td>
                    <td class="social-action">
                        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fkhanacademie&amp;send=false&amp;layout=button_count&amp;width=110&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:110px; margin-left:5px; height:21px;" allowTransparency="true"></iframe>
                    </td>
                </tr>
                <tr>
                    {#
                    <td colspan=3 class="homepage-mailing">
                        <span>{{ mailing_lists.signup_form(3, "Ontvang updates", "Registeer hier je email in de mailinglist") }}</span>
                    </td>
                    #}
                </tr>
            </table>
        </div>
        <div id="homepage-text" class="visited-no-recolor">
            <p>
                <b><i>Welkom op de site van de Nederlandse Khan Academie. (Bètaversie)<br> Wij zijn op een missie om jou te helpen alles te leren over onderwerpen waar jij interesse in hebt, wanneer jij het wilt en in je eigen tempo.</b><br><br> 
                Achter de schermen wordt er hard gewerkt om de site te optimaliseren. Wij hebben ons ten doel gesteld alle oefeningen die op dit moment op de website staan rond nieuwjaar vertaald te hebben naar het Nederlands en bij elke video een oefening te plaatsen. 
                Vanaf 2013 gaan er nieuwe oefeningen toegevoegd worden en worden de oefeningen ingedeeld volgens de referentieniveaus van Meijerink. Ook komt er een mogelijkheid om de bestaande video's te vervangen door eigen gemaakte video's. Wij geloven namelijk in de kracht van onderwijzers en willen samen een krachtig platform maken.</i><br><br>
                 
    
                <!--
            <div>
                <a href="/#browse" data-tag="Homepage C2A" class="call-to-action simple-button green watch-a-video">Bekijk een video</a>
                <a href="/exercisedashboard" data-tag="Homepage C2A" class="call-to-action simple-button blue">Ga de uitdaging aan</a>
            </div>
            -->
    
        </div>
        <a class="begin-button" href="/exercisedashboard">Begin met Oefenen!</a>
        <br />
        
    </div>
    <div id="homepage-right-col">
        <h3>Laatste Nieuws</h3>
        {% for entry in rssblog %}
        <div class="blog-entry">
        <span class="blog-date">{{ entry.pub_date|formatdate }}</span>
        <a href="{{ entry.link }}" class="blog-title" target="_blank">{{ entry.title }}</a>
        <div class="blog-body">{{ entry.description|striptags|truncate }}</div>
        </div>
        {% endfor %}
    </div>
    <!--
    <h2>
        Nieuw <span class="ampersand">&amp;</span> Opmerkelijk
    </h2>
    <h3>
        <a href="http://blog.khanacademie.nl/">Bekijk ook ons Blog!</a>
    </h3>
    -->
    {% if thumbnail_link_sets %}
    <div id="thumbnails_container">
        <table width="100%">
            <tr>
                <td width="3%">
                    <div class="thumbnails_arrow action-gradient" id="arrow-left">
                        <div class="arrow-left"></div>
                    </div>
                </td>
                <td width="94%">
                    <div id="thumbnails" class="visited-no-recolor">
                        {% for thumbnail_link_set in thumbnail_link_sets %}
                            {% set outerloop = loop %}
                            <div {% if not loop.first %}style="display:none;"{% endif %}><table style="width:100%"><tr>
                            {% for thumbnail_link in thumbnail_link_set %}
                            <td style="width:25%" class="thumbnail_td {{ thumbnail_link["type"] }} {% if thumbnail_link["selected"] %}selected{% endif %}" data-key="{{ thumbnail_link["key"]|escape }}" data-youtube-id="{{ thumbnail_link["youtube_id"]|escape }}">

                                <a href="{{ thumbnail_link["href"]|escape }}" data-tag="Homepage Featured" class="thumbnail_link"><div
                                        {% if outerloop.first %}
                                        class="thumb" style="background-image:url('{{ thumbnail_link["thumb_urls"]["hq"]|escape }}')"
                                        {% else %}
                                        class="thumb pending" data-src="{{ thumbnail_link["thumb_urls"]["hq"]|escape }}"
                                        {% endif %}
                                        ></div></a>

                                    <a href="{{ thumbnail_link["href"]|escape }}" data-tag="Homepage Featured" class="thumbnail_link"><div class="thumbnail_label"><div class="thumbnail_desc">{{ thumbnail_link["desc_html"] }}</div><div class="thumbnail_teaser">{{ thumbnail_link["teaser_html"] }}</div></div></a>
                                </td>
                            {% endfor %}
                            </tr></table></div>
                        {% endfor %}
                    </div>
                </td>
                <td width="3%">
                    <div class="thumbnails_arrow action-gradient" id="arrow-right">
                        <div class="arrow-right"></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    {% endif %}

    <div class="clear"></div>

<div data-role="page" data-theme="b" {% if is_mobile %}id="browse"{% endif %}>
    <div data-role="content">
        <div id="mobile-homepage" class="mobile-only">
            <img data-src="{{ "/images/logo-horizontal-large.png"|static_url }}" id="mobile-logo" />
            <span id="page_visitors">
                    <span id="page_num_visitors">
                        <!-- Content will get populated by javacript at end of page -->
                    </span>&nbsp;geleverde lessen:
            </span>
        </div>
        <!--
        <h2 class="main-headline">Neem een kijkje in onze collectie video's</h2>
        -->
        {% if DVD_list %}
        <ul class="menu" id="menu">
            {% for topic in DVD_list %}
        	    <li><a href="#{{topic}}" class="menulink">{{topic}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <div id="browse-control-anchor"></div>
        {{ templatetags.topic_browser("browse", version_number) }}
        {{ templatetags.topic_browser("browse-fixed", version_number) }}

        {% endif %}
        <a href="/mobilefullsite" class="mobile-only" data-role="button" data-ajax="false">zie standaard site</a>
    </div>
</div>
<div class="clear"></div>

{{ library_content }}

<br />
</article>

<div id="back-to-top">
    <a class="arrow" href="#">▲</a>
    <a class="text" href="#">terug naar top</a>
</div>
{% endblock pagecontent %}

{% block bottompagescript %}
    {% if not is_mobile %}
        {{ js_css_packages.js_package("homepage") }}
    {% endif %}

    <script type="text/javascript">
        $(function(){
            VideoStats.startLoggingProgress("{{ marquee_video["key"]|escapejs }}");

            if (typeof(Homepage) !== "undefined") {
                Homepage.initPlaceholder("{{ marquee_video["youtube_id"]|escapejs }}");
            }
        });

        (function(){
            var twitterWidgets = document.createElement('script');
            twitterWidgets.type = 'text/javascript';
            twitterWidgets.async = true;
            twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
            // Setup a callback to track once the script loads.
            twitterWidgets.onload = _ga.trackTwitter;
            document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
        })();

        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
        _ga.trackFacebook();
    </script>

    {{ analytics.crazyegg_tracker(False) }}

    {%- if link_heat -%}
    <script type="text/javascript" src="/javascript/random/linkheat.js?{{App.version}}"></script>
    {%- endif -%}
{% endblock bottompagescript %}
