{% import 'macros/library.html' as library %}

<!-- Topic tree version: #{{ version_id }}, published {{ version_date }} -->
<div id="library">
    <div id="library-content">
        <div id="library-content-main">
            {% for topic in tree.subtopics recursive %}
            <a id="{{ topic.id }}" href="{{ topic.topic_page_url }}"><h2>
                      <img src="/images/power-mode/badges/default-40x40.png" />{{ topic.title }}
              </h2>
      </a>
              <div style="margin-left:10px">
              {% if topic.subtopics %}
                {{ loop(topic.subtopics) }}
              {% elif(topic.content) %}
                <ul>
                {% for content in topic.content %}
                  <li>
                  <span class="span2">{{ content.kind }}</span>
                  <a href="{{content.ka_url}}">
                  {% if content.kind == "Video" %}
                    {{ content.title }}
                  {% elif content.kind == "Exercise" %}
                    {{ content.display_name }}
                  {% endif %}
                  </a>
</a>
                  </li>
                {% endfor %}
                </ul>
              {% endif %}
              </div>
            {% endfor %}
        </div>
    </div>
</div>


