{% extends "page_template.html" %}

{% import 'macros/youtube.html' as youtube %}
{% import 'macros/analytics.html' as analytics %} {#
#}

{% block pagecss %}
<style>
</style>
{% endblock pagecss %}

{% block pagetitle %}
Ontbrekende video's
{% endblock pagetitle %}
{% block pagecontent %}
<div id="myGrid" style="width:100%;height:500px;"></div>
{{ js_css_packages.js_package("slickgrid") }}
{{ js_css_packages.css_package("slickgrid") }}
<script>
  var data = {{ json.dumps(rows) }};
  var grid;
  var linkFormatter = function ( row, cell, value, columnDef, dataContext ) {
      return '<a href="' + dataContext['ka_url'] + '" target="_blank">' + value + '</a>';
  };
  var columns = [
    {id: "topics", name: "Onderwerp", field: "topics", width: "450" },
    {id: "display_name", name: "Naam", field: "display_name", width: "300"},
    {id: "name", name: "Naam van de oefening", field: "name", width: "300", formatter: linkFormatter},
    {id: "video_requests_count", name: "Aantal video aanvragen", width: "100", field: "video_requests_count"},
  ];

  var options = {
    enableCellNavigation: true,
    enableColumnReorder: false,
    forceFitColumns: true 
  };

  grid = new Slick.Grid("#myGrid", data, columns, options);
</script>
{% endblock pagecontent %}
