<footer id="footer">
  <div class="social-media-banner overflow overflow-orange" >
    <a href="https://www.facebook.com/pages/Khan-Academie/123650984422563"><img src="/images/social-media-icons/facebook-256.png" height="128px" width="128px"></a>
    <a href="http://twitter.com/khanacademie"><img src="/images/social-media-icons/twitter-256.png" height="128px" width="128px"></a>
    <a href="https://plus.google.com/u/0/108155339552803678462/posts"><img src="/images/social-media-icons/googleplus-256.png" height="128px" width="128px"></a>

    <a href="https://github.com/PerceptumNL"><img src="/images/social-media-icons/github-256.png" height="128px" width="128px"></a>
    <!-- <a href="https://www.khanacademy.org/"><img src="/images/social-media-icons/khanacademy-256.png" height="128px" width="128px"></a> -->
    
    <a href="http://www.youtube.com/PerceptumNL"><img src="/images/social-media-icons/youtube-256.png" height="128px" width="128px"></a>
    <a href="http://www.linkedin.com/groups/Perceptum-4916670"><img src="/images/social-media-icons/linkedin-256.png" height="128px" width="128px"></a>

  </div>
  <div class="footer-container">
    <div class="container-fluid">
      <div class="main-links">
        <ul>
          <li>Over Ons</li>
          <li><a href="/about">Onze Missie en Visie</a></li>
          <li><a href="/stichting">Stichting Iktel</a></li>
          <li><a href="/voorleraren">Hoe werkt het?</a></li>
          <!-- <li><a href="http://blog.khanacademie.nl">Blog</a></li> -->
        </ul>
<!--         <ul>
          <li>Help</li>
          <li><a href="">FAQ</a></li>
          <li><a href="">Handleiding</a></li>
        </ul> -->
        <ul>
          <li>Community</li>
          <li><a href="http://wiki.khanacademie.nl/">Wiki</a></li>
          <li><a href="/helpmee">Draag bij</a></li>
          <li><a href="http://blog.khanacademie.nl/">Blog</a></li>
          <li><a href="http://www.khanacademie.nl/reportissue?type=Defect&issue_labels=">Fouten Melden</a></li>
        </ul>
        <ul>
          <li>Informatie</li>
          <li><a href="/browse">Blader door video's</a></li>
          <li><a href="/partners">Partnerschap en Pilots</a></li>
          <li><a href="/training">Training en Ondersteuning </a></li>
          <li><a href="/about/contact">Contact</a></li>
        </ul>
        <ul>
          <li>Overig</li>
          <li><a href="/login?continue=%2Fpostlogin&direct=1">Inloggen Leerling</a></li>
          <li><a href="/login?continue=http%3A//www.khanacademie.nl/class_profile">Inloggen Coach</a></li>
          <li><a href="/gebruiksvoorwaarden">Gebruikersvoorwaarden</a></li>
          <li><a href="/privacybeleid">Privacybeleid</a></li>
        </ul>
      </div>
      <!-- REMOVE LOGO? -->
      <!-- <a class="footerlogo rollover span2" target="_blank" href="http://www.perceptum.nl"><img src="/images/perceptum_logo_pms_gray.png" rel="/images/perceptum_logo_pms.png" class="begin-button rollover"/></a> 
 -->
    </div>

    <div class="inner">
      <div id="copyright" class="tiny" title="Version: {{ App.version|escape }}">
        <small>
            &#0169;2013 Iktel, Iktel is geïnspireerd door, maar volledig onafhankelijk van de Khan Academy.&#0153;
        </small>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/"
           id="creative-commons-link"></a>
        </div>
      </div>
  </div>
</footer>

</div>
