{% extends "page_template.html" %}

{% import 'macros/youtube.html' as youtube %}
{% import 'macros/analytics.html' as analytics %}

{#
{% import 'macros/mailing_lists.html' as mailing_lists %}
#}

{% block pagescript %}
<link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
<!-- <link href='https://s3.amazonaws.com/gallery-css/gallery.css' rel='stylesheet' type='text/css'>
<link href='https://s3.amazonaws.com/gallery-css/gallery.theme.css' rel='stylesheet' type='text/css'> -->


{% endblock pagescript %}
{% block pagetitle %}{% endblock pagetitle %}
{% block pagecontent %}
    <article id="homepage" >
    <div id="homepage-content" >
        <div id="slideshow">
            <div class="" style="background:#d3e8f2">
            <!-- <h1>1</h1> -->
                <!-- student icons stuff -->
                <div class="focus-box">
                    <a href="/browse">
                    <div class="focus-box-inner" id="kijk">
                    <img src="/images/icons/Oefen.png" width='230px' height='192px'>
                    <h3>Oefen</h3>
                    <p>Maak oefeningen en bekijk hulpvideo's.</p>
                    </div>
                    </a>
                </div>
                <div class="focus-box">
                    <a href="/exercisedashboard">
                    <div class="focus-box-inner" id="leer">
                    <img src="/images/icons/Herhaal.png" width='230px' height='192px'>
                    <h3>Herhaal</h3>
                    <p>Oefen totdat je het onder die knie hebt.</p>
                    </div>
                    </a>
                </div>
                <div class="focus-box">
                    <a href="/profile">
                    <div class="focus-box-inner" id="groei">
                    <img src="/images/icons/Groei.png" width='230px' height='192px'>
                    <h3>Groei</h3>
                    <p>Zie je voortgang en verdien punten.</p>
                    </div>
                    </a>
                </div>
                <!-- end student icons stuff -->
          </div>
          <div class="" style="background:#d3e8f2;">
            <!-- <h1>2</h1> -->
            <!-- teachers icons stuff -->
                <div class="focus-box">
                    <a href="/browse">
                    <div class="focus-box-inner" id="kijk">
                    <img src="/images/icons/volg.png" width='230px' height='192px'>
                    <h3>Volg</h3>
                    <p>Volg wat je leerlingen doen en zie hoever ze komen</p>
                    </div>
                    </a>
                </div>
                <div class="focus-box">
                    <a href="/browse">
                    <div class="focus-box-inner" id="leer">
                    <img src="/images/icons/leer.png" width='230px' height='192px'>
                    <h3>Leer</h3>
                    <p>Leer van de statistieken waar leerlingen moeite mee hebben</p>
                    </div>
                    </a>
                </div>
                <div class="focus-box">
                    <a href="/browse">
                    <div class="focus-box-inner" id="groei">
                    <img src="/images/icons/Groei.png" width='230px' height='192px'>
                    <h3>Verrijk</h3>
                    <p>Geef meer aandacht aan  probleem gebieden en help je leerlingen om te groeien</p>
                    </div>
                    </a>
                </div>
                <!-- end teachers icons stuff -->
          </div> 
        </div>
        <div class='homepage-sell overflow-white' style="font-size: 3em">
            Het digitale oefenboekje, speciaal geschreven voor jou.
        </div>
        <div class='homepage-video-blurb' style="padding: 60px 0px;">
            <div class="homepage-video" style="display: inline-block; width:600px; margin-right: 40px">
                <img src="/images/school-plaatje-home.jpeg">
                <!-- <iframe width="600" height="360" frameborder="0" allowfullscreen></iframe>
                </iframe> --> <!-- src="http://www.youtube.com/embed/ewsvvVtVfmo" -->
            </div>
            <div class='open-source-blurb' style="display: inline-block; background:white; width: 460px;">
              <h4 style="color:#0776A0; font-family:Raleway;font-size: 1.8em">Iktel <strong>open source</strong></h4>
              <p style="color:black; font-family:Raleway; letter-spacing: 1.5px; font-size: 1em">
                De Iktel is volledig open source. Dit betekent dat elke enthousiasteling kan meewerken aan dit platform.
                Wij willen graag dat deze Nederlandse Iktel groeit met behulp van een community van programmeurs en leraren.
                Hierdoor kan de Iktel gratis blijven voortbestaan en wordt deze eigendom en ontwikkeld volgens de visie 
                van de onderwijs community.</p>
                <a href="https://github.com/PerceptumNL/KhanLatest">U kunt de code vinden in <strong>GitHub</strong></a>
            </div>
        </div>
        <div class="sites-blurb overflow-white" > <!-- style="background: white; padding: 30px;" -->
          <div class="wikizoek-blurb"> <!-- style="display: inline-block; width: 49%; text-align: center; font-size: 1.5em; text-transform: uppercase;" -->
            <a href="http://video.iktel.nl">
            <img src="/images/icons/iconmonstr-video-icon.png" height="32px" width="32px">
            <h6>
                Ga naar de video zoekmachine
            </h6>
            </a>
          </div>
          <div class="wikizoek-blurb" >
            <a href="http://wiki.iktel.nl">
            <img src="/images/icons/iconmonstr-livejournal-icon.png" height="32px" width="32px">
            <h6>
                Denk mee over oefeningen op de wiki
            </h6>
            </a>
          </div>
        </div>
    </div>
    </article>




    
    <div class="social-media-banner overflow overflow-orange" >
    <a href="https://www.facebook.com/pages/Khan-Academie/123650984422563"><img src="/images/social-media-icons/facebook-256.png" height="128px" width="128px"></a>
    <a href="http://twitter.com/khanacademie"><img src="/images/social-media-icons/twitter-256.png" height="128px" width="128px"></a>
    <a href="https://plus.google.com/u/0/108155339552803678462/posts"><img src="/images/social-media-icons/googleplus-256.png" height="128px" width="128px"></a>

    <a href="https://github.com/PerceptumNL"><img src="/images/social-media-icons/github-256.png" height="128px" width="128px"></a>
    <!-- <a href="https://www.khanacademy.org/"><img src="/images/social-media-icons/khanacademy-256.png" height="128px" width="128px"></a> -->
    
    <a href="http://www.youtube.com/PerceptumNL"><img src="/images/social-media-icons/youtube-256.png" height="128px" width="128px"></a>
    <a href="http://www.linkedin.com/groups/Perceptum-4916670"><img src="/images/social-media-icons/linkedin-256.png" height="128px" width="128px"></a>

  </div>

{% endblock pagecontent %}

{% block bottompagescript %}
    {% if not is_mobile %}
        {{ js_css_packages.js_package("homepage") }}
        {{ js_css_packages.css_package("homepage") }}
    {% endif %}
    <script type="text/javascript">
    $(document).onclick(function () {
        $('#slideshow > div:gt(0)').hide();
        setInterval(function () {
            $('#slideshow > div:first')
                .fadeOut(1000)
                .delay(1000)
                .next()
                .delay(1000)
                .fadeIn(1000)
                .end()
                //.previous()
                .appendTo('#slideshow');

        }, 6000);
    });
</script>

    <script type="text/javascript">
        $(function () {
            VideoStats.startLoggingProgress("{{ marquee_video["key"]|escapejs }}");

            if (typeof(Homepage) !== "undefined") {
                Homepage.initPlaceholder("{{ marquee_video["youtube_id"]|escapejs }}");
            }
        });

        (function () {
            var twitterWidgets = document.createElement('script');
            twitterWidgets.type = 'text/javascript';
            twitterWidgets.async = true;
            twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
            // Setup a callback to track once the script loads.
            twitterWidgets.onload = _ga.trackTwitter;
            document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
        })();

        (function () {
            var po = document.createElement('script');
            po.type = 'text/javascript';
            po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        })();
        _ga.trackFacebook();
    </script>

    {{ analytics.crazyegg_tracker(False) }}

    {%- if link_heat -%}
        <script type="text/javascript" src="/javascript/random/linkheat.js?{{ App.version }}"></script>
    {%- endif -%}
{% endblock bottompagescript %}
