{% extends "new_page_template.html" %}

{% import 'macros/youtube.html' as youtube %}
{% import 'macros/analytics.html' as analytics %}

{#
{% import 'macros/mailing_lists.html' as mailing_lists %}
#}

{% block pagescript %}
<link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
<link href='https://s3.amazonaws.com/gallery-css/gallery.css' rel='stylesheet' type='text/css'>
<link href='https://s3.amazonaws.com/gallery-css/gallery.theme.css' rel='stylesheet' type='text/css'>
{% endblock pagescript %}
{% block pagetitle %}{% endblock pagetitle %}
{% block pagecontent %}
    <article id="homepage" > {# class="overflow" #}
    <div id="homepage-content" > {# class="container" #}
        <!-- gallery stuff -->
        <div class="gallery autoplay items-2" style="background:#d3e8f2">
          <div id="item-1" class="control-operator"></div>
          <div id="item-2" class="control-operator"></div>
          <!-- <div id="item-3" class="control-operator"></div> -->

          <figure class="item" style="background:#d3e8f2">
            <!-- <h1>1</h1> -->
                <!-- student icons stuff -->
                <div id="focus1" class="focus-box">
                    <a href="/browse">
                    <div id="kijk">
                    {# <img src="images/icons/iconmonstr-video-icon.png" width='128px' height='128px'> #}
                    <img src="images/icons/Oefen.png" width='230px' height='192px'>
                    <h3>Oefen</h3>
                    <p>Maak oefeningen en bekijk hulpvideo's.</p>
                    </div>
                    </a>
                </div>
                <div id="focus2" class="focus-box">
                    <a href="/browse">
                    <div id="leer">
                    {# <img src="images/icons/iconmonstr-livejournal-icon.png" width='128px' height='128px'> #}
                    <img src="images/icons/Herhaal.png" width='230px' height='192px'>
                    <h3>Herhaal</h3>
                    <p>Oefen totdat je het onder die knie hebt.</p>
                    </div>
                    </a>
                </div>
                <div id="focus3" class="focus-box">
                    <a href="/browse">
                    <div id="groei">
                    {# <img src="images/icons/iconmonstr-star-5-icon.png" width='128px' height='128px'> #}
                    <img src="images/icons/Groei.png" width='230px' height='192px'>
                    <h3>Groei</h3>
                    <p>Zie je voortgang en verdien punten.</p>
                    </div>
                    </a>
                </div>
                <!-- end student icons stuff -->
          </figure>
          <figure class="item" style="background:#d3e8f2">
            <!-- <h1>2</h1> -->
            <!-- teachers icons stuff -->
                <div class="focus-box">
                    <div id="kijk">
                    {# <img src="images/icons/iconmonstr-video-icon.png" width='128px' height='128px'> #}
                    <img src="images/icons/Oefen.png" width='230px' height='192px'>
                    <h3>Volg</h3>
                    <p>Maak oefeningen en bekijk hulpvideo's.</p>
                    </div>
                </div>
                <div class="focus-box">
                    <div id="leer">
                    {# <img src="images/icons/iconmonstr-livejournal-icon.png" width='128px' height='128px'> #}
                    <img src="images/icons/Herhaal.png" width='230px' height='192px'>
                    <h3>Leer</h3>
                    <p>Oefen totdat je het onder die knie hebt.</p>
                    </div>
                </div>
                <div class="focus-box">
                    <div id="groei">
                    {# <img src="images/icons/iconmonstr-star-5-icon.png" width='128px' height='128px'> #}
                    <img src="images/icons/Groei.png" width='230px' height='192px'>
                    <h3>Verrijk</h3>
                    <p>Zie je voortgang en verdien punten.</p>
                    </div>
                </div>
                <!-- end teachers icons stuff -->
          </figure>
<!--           <figure class="item">
            <h1>3</h1>
          </figure> -->

          <div class="controls">
            <a href="#item-1" class="control-button">•</a>
            <a href="#item-2" class="control-button">•</a>
            <!-- <a href="#item-3" class="control-button">•</a> -->
          </div>
        </div>
        <!-- end gallery stuff -->

        <div class='homepage-sell overflow-white'> {# class="overflow" #}
            Het digitale oefenboek, speciaal geschreven voor jou.
        </div>
        <div class='homepage-video-blurb' style="padding: 30px;">
            <div class="homepage-video" style="display: inline-block; width:59%">
                <!-- <iframe src=""></iframe> -->
                <!-- <iframe width="560" height="315" src="http://www.youtube.com/embed/tC80BNOKJtk" frameborder="0" allowfullscreen></iframe> -->
                <iframe width="320" height="180" src="http://www.youtube.com/embed/tC80BNOKJtk?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class='open-source-blurb' style="display: inline-block; width:40%">
              <h4>Khan Academie open source</h4>
              <p>De Khan Academie is volledig open source. Dit betekent dat enige enthousiasteling kan meewerken aan dit platform.
                Wij willen graag dat deze Nederlandse Khan Academie groeit met behulp van een community van programmeurs en leraren.
                Hierdoor kan de Khan Academie gratis bkijven voortbestaan en wordt deze eigendom en ontwikkeled volgens de visie 
                van de onderwijs community.</p>
                <a href="https://github.com/PerceptumNL/KhanLatest">U kunt de code vinden in GitHub</a>
            </div>
        </div>
        <div class="sites-blurb overflow-white" style="background: white; padding: 30px;">
          <div class="zoek-blurb" style="display: inline-block; width: 49%; text-align: center; font-size: 1.5em; text-transform: uppercase;"><h4>Ga naar de video zoekmachine</h4></div>
          <div class="wiki-blurb" style="display: inline-block; width: 49%; text-align: center; font-size: 1.5em; text-transform: uppercase;"><h4>Denk mee over oefeningen op de wiki</h4></div>
        </div>
    </div>
    {# MOVE TO ACTUAL FOOTER #}
{#     <div>
        <div class="mini-footer">
            <div class="mini-footer-link">
                Help Mee
            </div>
            <div class="mini-footer-link">
                Handleiding
            </div>
            <div class="mini-footer-link">
                Blog
            </div>
            <div class="mini-footer-link">
                Wiki
            </div>
        </div>
    </div>     #}
    </article>


{% endblock pagecontent %}

{% block bottompagescript %}
    {% if not is_mobile %}
        {{ js_css_packages.js_package("homepage") }}
        {{ js_css_packages.css_package("homepage") }}
    {% endif %}

    <script type="text/javascript">
        $(function () {
            VideoStats.startLoggingProgress("{{ marquee_video["key"]|escapejs }}");

            if (typeof(Homepage) !== "undefined") {
                Homepage.initPlaceholder("{{ marquee_video["youtube_id"]|escapejs }}");
            }
        });

        (function () {
            var twitterWidgets = document.createElement('script');
            twitterWidgets.type = 'text/javascript';
            twitterWidgets.async = true;
            twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
            // Setup a callback to track once the script loads.
            twitterWidgets.onload = _ga.trackTwitter;
            document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
        })();

        (function () {
            var po = document.createElement('script');
            po.type = 'text/javascript';
            po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        })();
        _ga.trackFacebook();
    </script>

    {{ analytics.crazyegg_tracker(False) }}

    {%- if link_heat -%}
        <script type="text/javascript" src="/javascript/random/linkheat.js?{{ App.version }}"></script>
    {%- endif -%}
{% endblock bottompagescript %}
