{% extends "page_template.html" %}

{% import 'macros/youtube.html' as youtube %}
{% import 'macros/analytics.html' as analytics %}

{% block pagetitle %}{% endblock pagetitle %}
{% block pagecontent %}
<article>
  <div class='constrained'>
  	 <h1>
        Welkom bij Khan Academie
    </h1>

    <p>
        Wij zijn op een missie om jou te helpen alles te leren, over onderwerpen 
		die jou interesseren, wanneer jij het wilt en in je eigen tempo. De 
		uiteenlopende onderwerpen worden met een groeiend aantal
		aangeboden in de vorm van video’s en oefeningen. 
    </p>
  </div>
</article>
{% endblock pagecontent %}