{%- import 'macros/user.html' as user -%}
{%- import 'macros/app.html' as app -%}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html itemscope itemtype="http://schema.org/Organization"
    xmlns:mml="http://www.w3.org/1998/Math/MathML" xmlns:og="http://opengraphprotocol.org/schema/"
    xmlns:fb="http://www.facebook.com/2008/fbml" {{ data_require }}>
      <head prefix="og: http://ogp.me/ns#{{ App.facebook_app_namespace }}:
                        http://ogp.me/ns/apps/{{ App.facebook_app_namespace }}#">
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"/>
        {% if include_errorception and not hide_analytics -%}
        <script>
        var _errs=["4efc1674aa8bc407591e0ad6"];(function(a,b){a.onerror=function(){_errs.push(arguments)};
        var d=function(){var a=b.createElement("script"),c=b.getElementsByTagName("script")[0];
        a.src="//d15qhc0lu1ghnk.cloudfront.net/beacon.js";a.async=!0;
        c.parentNode.insertBefore(a,c)};a.addEventListener?a.addEventListener("load",d,!1):
        a.attachEvent("onload",d)})(window,document);
        </script>
        {%- endif %}
        <!--[if lte IE 7]><script src="/javascript/ie-warning.js"></script><script>window.onload=function(){e("/images/ie-warning/")}</script><![endif]-->
        {{ app.globals(username, is_mobile_capable, logged_in_user_profile, user_data, server_time) }}

        <title>{% block meta_page_title %}{% endblock meta_page_title %}Khan Academie NL</title>
        {% if video -%}
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        {%- endif %}
        <meta name="description" content="{% block meta_description -%}
        With a library of over 3,000 videos covering everything from arithmetic to physics, finance, and history and hundreds of skills to practice, we're on a mission to help you learn what you want, when you want, at your own pace.
        {%- endblock %}" />
        <meta name="keywords" content="{% block meta_keywords %}khan academy, learn, videos, lectures, practice, exercises, skills{% endblock %}" />

        <meta property="fb:app_id" content="{{ App.facebook_app_id }}"/>
        <meta property="fb:admins" content="100004182250626"/> 
        <meta property="og:site_name" content="Khan Academie"/>
        {% block meta_facebook_tags %}
        <meta property="og:url" content="http://www.facebook.com/khanacademie"/>
        <meta property="og:type" content="page"/>
        <meta property="og:title" content="Khan Academie"/>
        <meta property="og:description"
              content="With a library of over 3,000 videos covering everything from arithmetic to physics, finance, and history and hundreds of skills to practice, we're on a mission to help you learn what you want, when you want, at your own pace."/>
        <meta property="og:image" content="http://www.khanacademie.nl/images/khan-logo-header.png" />
        <meta property="fb:page_id" content="123650984422563" />
        {% endblock meta_facebook_tags %}

        {# Google+ -#}
        <meta itemprop="name" content="Khan Academie">
        <meta itemprop="description" content="Kijk. Oefen. Learn almost anything for free.">
        <meta itemprop="image" content="/images/khan-logo-vertical-transparent.png">
        {# End Google+ -#}

        <link rel="shortcut icon" href="/favicon.ico?leaf">
        <link rel="apple-touch-icon" href="/images/apple-touch-icon.png"/>

        {% if is_mobile %}
            {{ js_css_packages.css_package("mobile") }}
            {{ js_css_packages.js_package("mobile") }}
        {% else %}
            {{ js_css_packages.css_package("shared") }}
            {% block pagecss %}{% endblock pagecss %}
            {{ user.user_video_css(user_data) }}
            {{ js_css_packages.js_package("shared") }}
        {% endif %}

        {# Functions that load packages at run-time -#}
        <script type="text/javascript">
          {{ js_css_packages.js_dynamic_package("maps") }}
        </script>

        {% block pagescript %}
        {% endblock pagescript %}

    <script type="text/javascript">
      window._gaq = window._gaq || [];
    {%- if not hide_analytics -%}
      _gaq.push(['_setAccount', 'UA-28120495-1']);
      _gaq.push(['_setDomainName', '.khanacademie.nl']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_trackPageLoadTime']);
      {% for variable in ga_custom_vars %}
      _gaq.push(['_setCustomVar', {{ loop.index }}, '{{ variable[0] }}', '{{ variable[1] }}', 1 ]);
      {% endfor %}
      {% if analytics_bingo %}
      _gaq.push(['_setCustomVar', 5, '{{ analytics_bingo.name }}', '{{ analytics_bingo.value }}', 1 ]);
      {% endif %}

      {# For OER Analytics #}
      _gaq.push(['ht._setAccount', 'UA-28120495-1']);
      _gaq.push(['ht._setDomainName', '.khanacademie.nl']);
      _gaq.push(['ht._trackPageview']);

      {# Mixpanel #}
      window.mpq = [];
      {% if mixpanel_enabled %}
      {% if mixpanel_test %}
      mpq.push(["init","{{ mixpanel_test }}"]);
      {% else %}
      mpq.push(["init","5f375bcfa7dc57184da63393e2af841c"]);
      {% endif %}
      {% endif %}
      window._initialPageTime = (new Date()).getTime(); // For page load time tracking
    {%- endif -%}
    </script>
    </head>
<!--[if lt IE 7]>  <body class="ie ie6 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 7]>     <body class="ie ie7 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 8]>     <body class="ie ie8 lte9 lte8"> <![endif]-->
<!--[if IE 9]>     <body class="ie ie9 lte9"> <![endif]-->
<!--[if gt IE 9]>  <body> <![endif]-->
<!--[if !IE]><!--> <body> <!--<![endif]-->
    <div id="outer-wrapper">
    {{ phantom_users.login_notifications(user_data, continue) }}
    {% if user_data.is_demo %}
        <div class="demo-notification-bar" style="display:none;">
            <span class="notification-bar-content">You are logged in to the Khan Academy Demo account, access is limited! You should <a href="/logout?continue={{ continue }}" class="simple-button orange">Remember to logout</a></span>
            <span class="notification-bar-close">(<a href="/class_profile?coach_email=khanacademy.demo@gmail.com">demo home</a>)</span>
            <script>$(function(){ DemoNotifications.show(); });</script>
        </div>
    {% endif %}
    <div id="page-container">
    <div id="page-container-inner">
        {# Facebook connect root #}
        <div id="fb-root"></div>

        {# Make script-requiring elements visible. #}
        <script>document.writeln('<style scoped type="text/css">a[href="#"], .requires_script { visibility: visible; }</style>');</script>

            <div id="goals-nav-container" style="display: none" class="ui-corner-bottom"></div>
            <header>

                <div id="top-header">
                    <div class="top-header-links">
                        <span class="page_links" id="page_auth">
                            <span id="goals-container"></span>
                                <span id="user-info" class="badge-target">
                                {% if user_data and not user_data.is_pre_phantom %}
                                    {{ user.user_info(username, user_data, login_url, logout_url) }}
                                {% else %}
                                    <a href="{{ login_url|escape }}">Inloggen</a>
                                {% endif %}
                                </span>
                        </span>
                        <div class="clear"></div>
                        <div id="nav-and-search">
                            <div class="sitewide-navigation">
                                <nav>
                                    <span class="links nav-subheader">
                                        <span class="dropdown topic-browser-dropdown">
                                            {% if watch_topic_browser_enabled %}
                                            <a href="{% if user_data.is_demo %}/logout?continue={% endif %}/#browse" data-tag="Header" class="watch-link dropdown-toggle{%if user_data.is_demo %} show-demo-dialog{% endif %}">Bekijk <span class="caret"></span></a>
                                            {% else %}
                                            <a href="{% if user_data.is_demo %}/logout?continue={% endif %}/#browse" data-tag="Header" class="{% if selected_nav_link == 'watch' %}selected{% endif %} watch-link{%if user_data.is_demo %} show-demo-dialog{% endif %}">Bekijk</a>
                                            {% endif %}
                                            <a href="{% if user_data.is_demo %}/logout?continue={% endif %}/exercisedashboard" data-tag="Header" class="{% if selected_nav_link == 'practice' %}selected{% endif %} practice-link{%if user_data.is_demo %} show-demo-dialog{% endif %}">Oefen</a>
                                            
                                            {% if not user_data or not user_data.is_child_account() %}
                                            <a href="{% if user_data.is_demo %}/logout?continue={% endif %}/class_profile" data-tag="Header" class="{% if selected_nav_link == 'coach' %}selected{% endif %} coach-link{%if user_data.is_demo %} show-demo-dialog{% endif %}">Coach</a>
                                            {% endif %}
                                            <a href="{% if user_data.is_demo %}/logout?continue={% endif %}/contribute" data-tag="Header" class="{% if selected_nav_link == 'contribute' %}selected{% endif %} contribute-link{%if user_data.is_demo %} show-demo-dialog{% endif %}">Help Mee</a>
                                            <a href="http://blog.khanacademie.nl/" target="_blank" data-tag="Header">Blog</a>
                                            <!--
                                            <a href="{% if user_data.is_demo %}/logout?continue={% endif %}/about" data-tag="Header" class="{% if selected_nav_link == 'about' %}selected{% endif %} about-link{%if user_data.is_demo %} show-demo-dialog{% endif %}">Over Ons</a>
                                            -->
                                            <a href="/about/start" data-tag="Header" class="{% if selected_nav_link == 'gettingstarted' %}selected{% endif %} about-link{%if user_data.is_demo %} show-demo-dialog{% endif %}">Aan de slag!</a>
                                            <div style="clear: both"></div>
                                            {{ handlebars_template('shared', 'topic-browser-pulldown', {'topics': templatetags.topic_browser_data()}) }}
                                        </span>
                                    </span>
                                </nav>
                            </div>
                            <div id="search-box">
                                <form class="page-search" action="/search">
                                    <input id="search-input" type="text" placeholder="Zoek op videos en oefeningen" name="page_search_query" value='{{page_search_query|escape}}' class="ui-corner-all placeholder simple-input search-input blur-on-esc" /><input type="submit" value=" " class="search-submit" />
                                </form>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div id="logo">
                        <a id="logo-image" href="/" title="Take me home!" data-tag="Header"></a>
                        <div id="stats">
							<div id="cookieMessage" style="display:none;position:absolute;width:100%;padding:4px;bottom:0px;background:rgba(0,0,0,0.1);">
								Video.Khanacademie maakt gebruik van cookies. Lees <a href="https://docs.google.com/document/pub?id=1qPIp5yEEHGDXMI_1No43p9uaGJnGDtj2BY3NGsyYySc">hier</a> meer over cookies en hoe wij cookies <a href="https://docs.google.com/document/pub?id=1mnNKQkW6H0RAQ4nD1qpz0L6zuny7mcTlTZh1dxc61Hs">gebruiken<a/>. <a onclick="readCookieMessage();">Ok</a>
							</div>
							<script src="http://video.khanacademie.nl/js/lib/jquery.cookie.js"></script>
							<script>
								var readCookieMessage = function(){
									$.cookie("cookieMessage", "read");
									$("#cookieMessage").hide();
								};
								if($.cookie("cookieMessage") == null){
									$("#cookieMessage").show();
								}
							</script>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>


                <nav id="page_sub_nav">
                    {% block pagesubmenu %}<b>{% block pagetitle %}{% endblock pagetitle %}</b>
                    {% endblock pagesubmenu %}
                </nav>
                {% block pagemessage %}

                {% endblock pagemessage %}

            </header>
            {% block pagecontent %}
            {% endblock pagecontent %}
            <div id="end-of-page-spacer" style="height: 38px;">&nbsp;</div>

    </div>
    </div>
    </div>
    <div class="push"></div>
    {% block pagefooter %}
    {% include "page_footer_short.html" %}
    {% endblock %}

    {% block bottompagescript %}
    {% endblock bottompagescript %}

    {%- if not hide_analytics -%}
    <script type="text/javascript">
        {# GA #}
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        {# Mixpanel #}
        {% if mixpanel_enabled %}
        (function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
        {% endif %}

        {# Analytics utility #}
        {% if mixpanel_enabled %}
        $(function() {
            mpq.identify("{{ mixpanel_id }}");
            mpq.register({ "Version": Analytics.getVersionNumber() }, "all", 31);
            mpq.register({{ json.dumps(mixpanel_superprops) }}, "all", 31);
            {% if analytics_bingo %}
            mpq.register({ "{{ analytics_bingo.name }}": "{{ analytics_bingo.value }}" }, "all", 31);
            {% endif %}

            {# Slightly nicer display name in MixPanel dashboard #}
            {% if logged_in %}
            mpq.name_tag("{{ username }}");
            {% endif %}

            // Send the page load event & initialize MixPanel analytics
            Analytics.trackInitialPageLoad(_initialPageTime);
        });
        {% endif %}
    </script>
    {%- endif -%}

    {%- if global_goals -%}
    <script type="text/javascript">
    window.GoalsBootstrap = {{ global_goals }};
    </script>
    {%- endif -%}

    {%- if badges_earned -%}
    <script type="text/javascript">
    $(function(){
        var data = {{ badges_earned }};
        Badges.show(data);
    });
    </script>
    {%- endif -%}

    {% if watch_topic_browser_enabled %}
    <script type="text/javascript">
    $(function() {
        HeaderTopicBrowser.init();
    });
    </script>
    {% endif %}

    {% if user_data.is_demo %}
    <script>
        $(".show-demo-dialog").click(function(e) {
            e.preventDefault()
            var target = e.target.href
            if (e.target.href == undefined || e.target.href == "") {
                target = "/logout?continue=/"
            }
            popupGenericMessageBox({
                title: "Leaving Demo",
                message: "The Demo allows you to view coach and student reports for a demo account. Navigating out of the demo area will log you out of the demo account. Do you want to leave the demo?",
                buttons: [
                    { title: "No, stay within the demo", action: hideGenericMessageBox, button_color: "gray" },
                    { title: "Yes, log me out of demo account", action: function() { hideGenericMessageBox; window.location = target }, button_color: "green" }
                ]
            })
        })
    </script>
    {% endif %}
    </body>
</html>
