{% extends "page_template.html" %}
{% block meta_page_title %}Password Reset | {% endblock meta_page_title %}

{% block pagecss %}
    {{ js_css_packages.css_package("login") }}
{% endblock pagecss %}

{% block pagecontent %}
<article id="page-root">
    <div class="pw-reset-container card-case vertical-shadow">
        <iframe frameborder="0"
                scrolling="no"
                width="390px"
                height="280px"
                allowtransparency="yes"
                src="{{templatetags.to_secure_url('/pwchange')}}?form=1&reset_token={{reset_token}}">
        </iframe>
    </div>
</div>
{% endblock %}

