{# A simple password change form.

   To be used in an https iframe for password change (in the settings page),
   or in an https iframe for a password reset flow.
#}
<!DOCTYPE html>
<html>
    <head>
        <title>Khan Academy</title>
        {{ js_css_packages.css_package("shared") }}
        {{ js_css_packages.css_package("login") }}
    </head>
    <body>
        <form id="pw-change-form" class="auth-form" method="POST" action="{{templatetags.to_secure_url('/pwchange')}}">
        {% if reset_token %}
            <img src="/images/hand-tree.png" width="75" height="75" class="tree">
        {% endif %}
        <h4>
        {% if reset_token %}
        Create a new password for your account.
        {% else %}
        Change password.
        {% endif %}
        </h4>
        <br>
        <table class="pw-change-table">
        {% if request_info.target.email %}
        <tr>
            <td class="input-label-cell">Email</td>
            <td><input id="email" disabled="true" class="simple-input ui-corner-all" value={{request_info.target.email}}></td>
        </tr>
        {% endif %}
        <tr>
            <td class="input-label-cell">Username</td>
            <td><input id="username-placeholder" disabled="true" class="simple-input ui-corner-all" value={{request_info.target.username}}>
                {# disabled fields aren't sent up in the form POST, so we create a hidden one here
                   that will actually be sent #}
                <input id="username-hidden" name="username" type="hidden" value="{{request_info.target.username}}">
            </td>
        </tr>
        {% if reset_token %}
        <input id="reset-token" name="reset_token" type="hidden" value="{{reset_token}}">
        {% endif %}

        {% if request_info.requires_prev_password %}
        <tr>
            <td class="input-label-cell">Current password</td>
            <td><input id="existing" name="existing" type="password" class="simple-input ui-corner-all"></td>
        </tr>
        {% endif %}
        <tr>
            <td class="input-label-cell">New password</td>
            <td><input id="password1" name="password1" type="password" class="simple-input ui-corner-all"></td>
        </tr>
        <tr>
            <td class="input-label-cell">Re-type new password</td>
            <td><input id="password2" name="password2" type="password" class="simple-input ui-corner-all"></td>
        </tr>
        <tr>
            <td colspan="2" class="message-container {% if success %}success{% else %}error{% endif %}">
                {{message}}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="submit-container">
                <input id="submit-settings" type="button" value="Change password" class="simple-button green" style="margin-top: 1em;">
            </td>
        </tr>
        </table>

        <input id="transfer-token" name="transfer_token" type="hidden" value="{{transfer_token}}">
        </form>

        {% if success and reset_token %}
            {# A successful reset means we should redirect the host frame to
                the login page #}
            <script>
            window.top.location = "{{ templatetags.to_insecure_url('/login') }}";
            </script>
        {% else %}
            {{ js_css_packages.js_package("shared") }}
            {{ js_css_packages.js_package("login") }}
            <script>
            $(Settings.init);
            </script>
        {% endif %}
    </body>
</html>


