{% extends "page_template.html" %}
{% block pagescript %}
<script type="text/javascript">
function submitForm(value)
{
        document.forms['reportissue'].submit();
}
</script>
<style>
	p { margin-bottom: 1em; }
</style>
{% endblock pagescript %}
{% block pagetitle %}Meld een probleem{% endblock pagetitle %}
{% block pagecontent %}
<article id="report-problem">
	{% if message %}
	<p style="color: red;">
	{{message}}
	</p>
	{% endif %}
        <h2 class="main-headline">{% block have_an_issue %}Heb je een probleem?{% endblock have_an_issue %}&nbsp;
        We horen het graag van je!
        </h2>
				{% block exercise_warning %}{% endblock exercise_warning %}
        <p>Als je geluk hebt, heeft iemand al
        {% block submitted_the_issue %}je probleem gemeld.{% endblock submitted_the_issue %}
        Je kunt je hier makkelijk bij aansluiten door te klikken op <b>de ster ernaast</b> in
        de
        {% block list_of_issues_link %}<a href="http://code.google.com/p/khanacademie-nl/issues/list?can=2&q=Status:Accepted,Started%20Type:Defect&sort=-stars&colspec=Summary">lijst van bekende problemen</a>{% endblock list_of_issues_link %}.
        Wanneer dit niet het geval is, kun het beste de onderstaande stappen volgen om een nieuw probleem aan te maken in ons volgsysteem.
	<ol>
		<li>Ga naar het 
	        {% block new_issue_link %}<a href="http://code.google.com/p/khanacademie-nl/issues/entry?template=Defect%20report%20from%20user">nieuw probleem-formulier</a>{% endblock new_issue_link %}.
		</li>
		<li>Vul de <b>Samenvatting</b> en <b>Omschrijving</b> velden in. <span style="color: red; font-size: 12px;"/>Let op: De informatie die je verstrekt wordt openbaar, dus neem geen persoonlijk informatie op.</span></li>
		<li>Klik op de <b>Submit Issue</b> knop.</li>
	</ol>
        <p>Jouw bijdrage zal in de lijst opgenomen worden nadat wij het probleem bekeken hebben.
        <p>Wanneer je je aansluit bij een bestaand probleem, of wanneer je een nieuw probleem aanmaakt, zul je e-mails ontvangen wanneer mensen op het probleem reageren.&nbsp;
        Wanneer wij denken dat we het probleem hebben opgelost zul je een e-mail ontvangen waarin staat "Status: Probleem verholpen", en je zult zelf het verschil zien
        bij de volgende keer dat we de site upgraden. Wanneer je geen e-mails meer wilt krijgen, volg dan de Link in één van de e-mails en klik op de ster. 
        </p>
        <p><em>Hartelijk dank dat je de tijd neemt om ons te helpen met het verbeteren van de Khan Academie!</em></p>
</article>
{% endblock pagecontent %}
