{% extends "page_template.html" %}
{% import 'macros/login_buttons.html' as login_macros %}

{# This is the initial registration form that asks a user for their birthdate
    and e-mail. All other fields about the user are collected after they
    verify ownership of their e-mail address in completesignup.html #}

{% block meta_page_title %}Sign Up | {% endblock meta_page_title %}
{% block pagetitle %}{% endblock pagetitle %}

{% block pagecss %}
    {{ js_css_packages.css_package("bootstrap-grids") }}
    {{ js_css_packages.css_package("login") }}
{% endblock pagecss %}

{% block pagecontent %}
<article id="page-root" class="login">
    <div class="signup-container card-case vertical-shadow">
        <form method="POST" class="auth-form" id="signup-form" action="/signup">
        {% if continue_url %}
        <input type="hidden" name="continue" value="{{ continue_url|escape }}">
        {% endif %}

        <h3>Maak je voor het eerst gebruik van iktel.nl?</h3>
        <div class="pw-signup container">
            <div class="field-container row-fluid">
                <label class="field-label span4" for="email">E-mail</label>
                <input id="email" name="email" type="email" class="simple-input ui-corner-all span4" value="{{ values['email']|escape }}" {% if values['email'] %}disabled{%endif%}>
                <div class="field-error span4" id="error-text"></div>
            </div>

            <div class="field-container row-fluid">
                <label class="field-label span4" for="birthday">Geboortedatum</label>
                <div id="birthday-picker" class="span4" data-date="{{ values['birthdate']|escape }}">{# contents filled by JS #}</div>

                {# Note that the actual name of the field sent to the server is "birthdate"
                   (it is a hidden input populated by the JS) #}
            </div>

            <div class="field-container row-fluid">
                <span class="span8 simple-input-container submit-button-container">
                    <input type="button" id="submit-button" name="signup" value="Aan de slag" class="simple-button green">
                </span>
            </div>
        </div>

        <div class="horizontal-separator">
            <span class="separator-text">OF</span>
        </div>


        <h3>Heb je al een Google- of Facebook account?</h3>
        <div class="providers container">
            <h4>Log dan in met:</h4>
            <div class="row-fluid">
                <div class="span4">
                    {# The google_url has the continue_url already embedded in it #}
                    {{ login_macros.google_button(google_url) }}
                </div>

                <div class="span4">
                    {{ login_macros.facebook_button(App.facebook_app_secret) }}
                </div>

                <div class="providers-info span4">...dan maken wij een iktel.nl gebruikersnaam en wachtwoord voor je aan.</div>
            </div>
        </div>

        </form>
    </div>
</article>
{% endblock pagecontent %}

{% block bottompagescript %}
    {{ js_css_packages.js_package("login") }}
    <script>
    $(function() {
        Login.initSignupPage({
            'continue': "{{ continue_url|escapejs }}"
        });
    });
    </script>
{% endblock bottompagescript %}


