{% import 'macros/user.html' as user %}
{% set logged_in = user_data and not user_data.is_phantom %}

<span class="extra-link-bar desktop-only">
    <span class="options dropdown">
        <span class="dropdown-toggle">
            <i class="icon-cog icon-large"></i>
            Options
            <i class="icon-caret-down"></i>
        </span>
        <ul class="dropdown-menu no-submenus">
            <li>
                <label {% if not subtitles_json %}class="disabled"{% endif %}>
                    <input type="checkbox" class="transcript-enable" {% if not subtitles_json %}disabled{% endif %}>
                    Interactive transcript
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" class="subtitles-enable">
                    Translated subtitles
                </label>
            </li>
            <li style="display: none">
                <label>
                    <input type="checkbox" class="socrates-enable" >
                    Embedded questions
                </label>
            </li>
            <li>
                <a  href="
                    {%- if video_path -%}
                        {{ video_path }}
                    {%- else -%}
                        javascript:void 0
                    {%- endif -%}"
                    title="Download this video
                    {%- if not video_path %} not available{% endif %}"
                    class="download-icon download-link
                    {%- if not video_path %} disabled{% endif %}">
                        <i class="icon-download-alt icon-large"></i>
                        Download this video
                </a>
            </li>
            <!--
            <li>
                <a  href="javascript:void 0"
                    title="Continuous Play is OFF"
                    class="simple-button continuous-play">
                        Continuous Play is OFF
                </a>
            </li>
            -->
        </ul>
    </span>

    <span class="share dropdown">
        <span class="dropdown-toggle">
            <i class="icon-share icon-large"></i>
            Share
            <i class="icon-caret-down"></i>
        </span>
        <ul class="dropdown-menu no-submenus">
            <li>
            <a  href="javascript:void 0"
                class="facebookShare"
                onclick="_gaq.push(['_trackEvent', 'Click', 'Video-Page-Share-Facebook']);Social.facebookVideo('{{video.title|escapejs}}','{{video.description|escapejs}}','/video?v={{video.youtube_id}}');">
                <i class="icon-facebook icon-large"></i>
                Share
            </a>
            </li>
            <li>
            <a  href="http://twitter.com/share?url=http%3A%2F%2Fwww.khanacademy.org%2Fvideo%3Fv%3D{{video.youtube_id|urlencode|escape}}&amp;text={{video.description|urlencode|escape}}&amp;related=khanacademy%3AMaking%20a%20world-class%20education%20available%20to%20anyone%2C%20anywhere.&amp;via=khanacademy"
                class="twitterShare"
                onclick="_gaq.push(['_trackEvent', 'Click', 'Video-Page-Share-Twitter']);">
                <i class="icon-twitter icon-large"></i>
                Tweet
            </a>
            </li>
            <li>
            <a  class="emailShare"
                href="mailto:?Subject=I+just+learnt+about+{{video.title|urlencode}}+at+Khan+Academy&amp;Body=You+can+learn+about+it+too.+Check+out+http%3A%2F%2Fwww.khanacademy.org%2Fv%2F{{video.youtube_id|urlencode}}"
                onclick="_gaq.push(['_trackEvent', 'Click', 'Video-Page-Share-Email']);">
                <i class="icon-envelope icon-large"></i>
                Email
            </a>
            </li>
        </ul>
    </span>

    <span id="points-badge-hover">
        {{ user.possible_points_badge(awarded_points, video_points_base,
            logged_in) }}
    </span>
 </span>
