{% extends "profile_template.html" %}

{% import 'macros/coach.html' as coach %}
{% import 'macros/profiles.html' as profile_macros %}

{% block meta_page_title %}Class Profile | {% endblock meta_page_title %}

{% block pagecss %}
    {{ super() }}
    {{ js_css_packages.css_package("studentlists") }}
    <style>
        /* TODO(kamens): have this removed during code review after commit */
        #page_sub_nav { display: block; }
    </style>
{% endblock pagecss %}

{% block pagesubmenu %}
<span class="breadcrumbs_nav">
    <a href="{% if user_data.is_demo %}/logout?continue={% endif %}/coach/resources" id="teacher-resources" {%if user_data.is_demo %}class="show-demo-dialog"{% endif %}>Middelen voor de leraar(es)<span style="font-size:8px;color:orange;font-weight:bold"> NEW</span></a>
    <a href="{% if user_data.is_demo %}/logout?continue={% endif %}/students" id="manage-students" {%if user_data.is_demo %}class="show-demo-dialog"{% endif %}>Manage leerlingen</a>
    <a href="{% if user_data.is_demo %}/logout?continue={% endif %}/class_profile" id="class-stats" class="selected{%if user_data.is_demo %} show-demo-dialog{% endif %}">Klassen overzicht voor</a>
    <span id="studentlists_dropdown" style="display:none;">
        <a>{{ student_list.name|escape }}</a>
        <div id="studentlists_menu">
            <ol>
                {% for list in student_lists %}
                <li data-selected="{% if list.key == list_id %}selected{% endif %}" data-list_id={{ list.key }}>
                <a href="/class_profile?list_id={{ list.key }}">{{list.name|escape}}</a>
                </li>
                {% endfor %}
            </ol>
        </div>
    </span>
</span>
{% endblock pagesubmenu %}

{% block statistics_title %}Class Statistics{% endblock statistics_title %}

{% block graph_accordion %}
<div id="high-level-class-stats">
    <span id="students-coached">
        <span class="profile-header-icon"><img src="/images/class-students-icon-shadow.png" /></span>
        <span class="count">
            <span id="count_students">&hellip;</span><br />
            <span class="label">Students</span>
        </span>
    </span>
    <span id="energy-points">
        <span class="energy-points-badge">&hellip;</span><br />
        <span class="label">Class Energy Points</span>
    </span>
</div>

    <ul id="nav-accordion">
        <li>
            <a href="/class_profile/progress-report" class="graph-link graph-link-header header graph-link-selected graph-link-selected">Progress Report</a>
            <div class="accordion-content">
                Laat je zien aan welke vaardigheden jouw klas heeft gewerkt en heeft afgerond.
                <div class="graph-options">
                    <span class="progress-legend exercise-color started">Beginner</span>
                    <span class="progress-legend exercise-color proficient">Gevorderd</span>
                    <span class="progress-legend exercise-color review light">Herzien</span>
                    <span class="progress-legend exercise-color struggling">Worstelt</span>
                </div>
            </div>
        </li>
        <li>
            <a href="/class_profile/progress-summary" class="graph-link graph-link-header header">samenvatting voortgang</a>
            <p class="accordion-content">
                Laat je zien aan welke vaardigheden jouw klas heeft gewerkt en heef afgerond.
            </p>
        </li>
        <li>
            <a href="/class_profile/daily-activity" class="graph-link graph-link-header header">Dagelijks Activiteiten Verslag.</a>
            <p class="accordion-content">
                Toont je de totale klassenactiviteit op een bepaalde datum. <br /><br />

              <span class="instructions">Licht blauwe activiteit toont normale schooluren en donker blauw toont de activiteit die is verricht buiten de normale schooluren.</span>
        </li>
        <li>
            <a href="/class_profile/exercise-progress-over-time" class="graph-link graph-link-header header ">Periodieke Voortgang Vaardigeheden</a>
            <div class="accordion-content">Laat zien hoeveel vaardigheden jouw student heeft afgerond binnen een bepaalde periode.<br /><br />
                <span class="instructions">Highlight een<a href="#" class="highlight-section show-students-highlight">specifieke student</a> of een <a href="#" class="highlight-section show-exercises-highlight">bepaalde vaardihheid</a>.</span><br />

                <div id="students-highlight" class="vertical-choice-container" style="display:none;">
                    <ul>
                        <li>&hellip;</li>
                    </ul>
                </div>

                <div id="exercises-highlight" class="vertical-choice-container" style="display:none;">
                    <ul>
                        {% for exercise in exercises %}
                        <li>
                        <a href="#" class="highlight-exercise-points" data-exercise="{{ exercise.name|escape }}">{{ exercise.display_name|escape }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </li>
        <li>
            <a href="/class_profile/points-per-minute" class="graph-link graph-link-header header">Klassen Punten per minuut</a>
            <p class="accordion-content">
                Toont het totale aantal energie punten per minuut als een continu ge-update rollend gemiddelde.
            </p>
        </li>
        <li>
            <a href="/class_profile/goals" class="graph-link graph-link-header header {% if graph_type == selected_type %}graph-link-selected{% endif %}">Doelen</a>
            <div class="accordion-content">
                Toont de doelen van actieve studenten en hun voortgang richting het behalen van deze doelen.
                <div class="graph-options">
                    <span class="progress-legend exercise-color started">Beginner</span>
                    <span class="progress-legend exercise-color proficient">Gevorderd</span>
                    <span class="progress-legend goal-complete" title="Entire goal is complete">Afgerond</span>
                    <span class="progress-legend exercise-color struggling">Worstelt</span>
                </div>
            </div>
        </li>
    </ul>
{% endblock graph_accordion %}

{% block stats_filters %}
  <!-- the goals filter -->
  <div class="filter">
    {{ profile_macros.class_api_link(user_data_coach, "Progress Report", "progressreport", selected_graph_type, list_id) }}

    <div class="filter-block">
      <h3>Voortgangs rapport</h3>
    </div>
    <div class="filter-block">
      <p>Toont alleen
        <input type="text" id="student-progressreport-search" placeholder="student or skill" class="search-input simple-input ui-corner-all blur-on-esc"></input>
        <span class="coach-filter-block">
            <input type="checkbox" class="progressreport-filter-check" id="progressreport-struggling" name="struggling" /><label for="progressreport-struggling">Worstelt</label></span>
      <span class="coach-filter-block"><input type="checkbox" class="progressreport-filter-check" id="progressreport-recent" name="recent" /><label for="progressreport-recent">Worked on in last:</label>
            <select id="progressreport-filter-last-time"><option value="1">dag</option><option value="2">2 dagen</option><option value="3">3 dagen</option><option selected value="7">week</option><option value="30">maand</option></select></span>
    </div>
  </div>

  <div class="filter">
    {{ profile_macros.class_api_link(user_data_coach, "Samenvatting voortgang", "progress/summary", selected_graph_type, list_id) }}

    <div class="filter-block">
      <h3>Samenvatting voortgang</h3>
    </div>
    <div class="filter-block">
      <p>Toont alleen
        <input type="text" id="student-progresssummary-search" placeholder="skill name" class="search-input simple-input ui-corner-all blur-on-esc"></input>
    </div>
  </div>

  <div class="filter">
    {{ profile_macros.class_graph_link(user_data_coach, "Daily Activity Report", "classtime", selected_graph_type, list_id) }}
    <div class="filter-block">
        <h3>Dagelijks Activiteiten Rapport <small> voor </small></h3>
        <input type="text" id="targetDatepicker" value="Today">
    </div>
  </div>

  <div class="filter">
    {{ profile_macros.class_api_link(user_data_coach, "Doelen", "doelen", selected_graph_type, list_id) }}

    <div class="filter-block">
      <h3>Doelen</h3>
      <p>Gerangschikt op:
        <select id="student-goals-sort">
          <option value="name"> Leerling </option>
          <option value="progress"> Voortgang </option>
          <option value="created"> Recentelijk begonnen </option>
          <option value="updated"> Recentelijk ge-update </option>
        </select>
      </p>
    </div>
    <div class="filter-block">
      <p>Toont alleen
        <input type="text" id="student-goals-search" placeholder="student or objective" class="search-input simple-input ui-corner-all blur-on-esc"></input>
      <span class="coach-filter-block"><input type="checkbox" class="student-goals-filter-check" id="goal-most-recent-filter" name="most-recent" />
        <label for="goal-most-recent-filter">Recentelijk ge-update</label></span>
      <span class="coach-filter-block"><input type="checkbox" class="student-goals-filter-check" id="goal-in-progress-filter" name="in-progress" />
        <label for="goal-in-progress-filter">Aan de gang</label></span>
      <span class="coach-filter-block"><input type="checkbox" class="student-goals-filter-check" id="goal-struggling-filter" name="struggling" />
        <label for="goal-struggling-filter">Worstelt</label>
      </span>
    </div>
  </div>
{% endblock %}

{% block profile_is_empty %}
{{ coach.empty_class_instructions(True) }}
{% endblock profile_is_empty %}

{% block bottompagescript %}
{{ super() }}
{{ js_css_packages.js_package("studentlists") }}
<script type="text/javascript">
$(function() {
    ClassProfile.studentLists = {{student_lists_json}};
    ClassProfile.initialGraphUrl = '{{ initial_graph_url|escapejs }}';
    ClassProfile.init();
})
</script>
{% endblock bottompagescript %}
