{% extends "page_template.html" %}

{% import 'macros/analytics.html' as analytics %}

{% block meta_page_title %}Contribute | {% endblock meta_page_title %}
{% block pagecss %}
<style>
#accordion h3 {
  padding: 10px;
  padding-left: 30px;
  margin: 5px;
}
#voorleraren{
	max-width: 1000px;
	margin: 0 auto;
    padding: 15px;
}
#contribute .section-headline {
	/*text-align: center;*/
}
#voorleraren ul, ol {
	list-style: inside;
}
#voorleraren ol {
	list-style-type: lower-roman;  
}
img {
    max-width: 100%;
}
</style>
    {{ js_css_packages.css_package("bootstrap-grids") }}
    {{ js_css_packages.css_package("contribute") }}
{% endblock pagecss %}

{% block pagecontent %}
    <article id='voorleraren'>
        <h1>Voor leraren</h1>
        <h3>Werken met Iktel</h3>
          <p>
            Iktel is helemaal gratis te gebruiken. 
            Dit past in ons doel om passend onderwijs voor iedereen mogelijk te maken. Het enige benodigde is een Google- of Facebookaccount.
            Deze zijn overigens ook gratis aan te maken.
            Naast het gratis gebruik van Iktel kun je ook kiezen voor extra ondersteuning in de vorm van support en/of trainingen.
            Hieraan zijn wel kosten gebonden. Deze worden overigens van te voren afgesproken.
          </p>
        <h3>Inloggen</h3>
          <p>
            Iktel is door iedereen te gebruiken. 
            Wil je echter inloggen en je vorderingen opslaan, dan heb je een Google- of Facebookaccount is nodig. 
            Wij raden aan om hiervoor gebruik te maken van Google Apps for Education. 
            Het gebruik hiervan is gratis en biedt de mogelijkheid om de hele klas een zelfde soort e-mail adres te geven. 
            (Bijvoorbeeld voornaam.achternaam@jouwschool.nl). 
            Dit geeft een duidelijk overzicht van de voortgang van de leerlingen van een bepaalde klas. 
            Bovendien is het alleen op deze manier mogelijk om (in grote getalen) accounts aan te maken voor kinderen onder de 13 jaar zonder hier de ouders voor in te schakelen. 
            Een geautoriseerde Google Apps reseller kan helpen met de implementatie van Google Apps. 
            Neem contact op met <a href="http://www.perceptum.nl/">Perceptum</a> voor meer informatie. 
          </p>
        <h3>Coach worden</h3>
          <p>
            Leerlingen moeten jou eerst als coach toevoegen voordat je de ontwikkelingen van de leerling kunt volgen. Laat de leerlingen de volgende stappen doorlopen:

            <ol>Optie 1:
                <li>Log in op Iktel met je eigen account</li>
                <li>Geef iedere leerling jouw Iktel ID (dit is je e-mail loginaccount).</li>
                <li>Laat iedere leerling zelf inloggen op zijn of haar Iktel account en laat ze naar hun eigen profielpagina gaan door rechtsboven op de naam van de leerling te klikken.</li>
                <li>Laat de leerlingen op ‘Coaches’ klikken en voeg hier jouw Iktel ID toe.</li>
                <li>Nu ben je coach van alle leerlingen, dat is te zien in je eigen profiel bij ‘Coach’.</li>
            </ol>
            <ol>Optie 2:
                <li>Log in op Iktel met je eigen account</li>
                <li>Ga naar “Coach” en naar “Beheer leerlingen”</li>
                <li>Voeg de emailadressen van de leerlingen toe waarvan jij coach wilt worden.</li>
                <li>Laat de leerlingen het verzoek goedkeuren.</li>
                <li>Nu ben je coach van alle leerlingen, dat is te zien in je eigen profiel bij ‘Coach’.</li>
            </ol>
          </p>
        <h3>Inzicht per leerling en per klas</h3>
          <p>
            Als coach heb je inzicht in de voortgang van je leerlingen. 
            Klik daarvoor op ‘Coach’ en vervolgens op ‘Beheer Leerlingen’. 
            Nu zie je een lijst met al je leerlingen. 
            Ook kun je hier klassen aanmaken, dat is handig als je bijvoorbeeld aan meerdere klassen lesgeeft. 
            Het beste overzicht krijg je echter via het klassenoverzicht of voortgangsrapport.
          </p>
        <h3>Voortgangsrapport</h3>
          <p>
            <img src="/images/voortgangsreport.jpg">
            In het voortgangsrapport zie je precies welke leerling waar moeite mee heeft.

            Lichtblauw betekent dat de leerling eraan begonnen is.

            Oranje dat de stof herhaald moet worden (fouten gemaakt, of lang niet aan gewerkt)

            Blauw betekent dat de leerling de opgave onder de knie heeft.

            Rood betekent dat de leerling ergens moeite mee heeft en dus wel wat persoonlijke aandacht kan gebruiken.

            Klik op een blokje voor specifiekere gegevens. 
            Zie bijvoorbeeld hoeveel moeite een leerling heeft gedaan, of er hints zijn aangevraagd, of de instructievideo al is bekijken of bekijk welke antwoorden de leerlingen heeft gegeven.

            Naast het voortgangsrapport heb je ook nog de onderdelen samenvatting voortgang, dagelijkse activiteiten verslag, periodieke voortgang vaardigheden, punten per minuut per klas en doelen. 
            Hieronder wordt meer uitleg gegeven over deze verschillende onderdelen.
          </p>
        <h3>Samenvatting voortgang</h3>
          <p>
            Je ziet in dit overzicht per leerling welke sommen ze hebben gemaakt, welke ze hebben gehaald en waar ze problemen hebben ondervonden. 
            Door op de naam van de leerling te klikken krijg je een specifiek overzicht van de leerling en kun je nagaan hoe de leerling te werk is gegaan.
            Klik op een opgave om te zien hoe de leerling de sommen gemaakt heeft. 
            Onderstaande tabel toont een voorbeeld van hoe zo’n overzicht eruitziet. 
            Je ziet nu precies hoeveel sommen er zijn gemaakt en hoelang daarover is gedaan. 
            Aan het vraagteken is te zien dat er hints zijn gebruikt, aan de rode balk dat er een fout antwoord is gegeven.
            <img src="/images/exercisereport.jpg">
            Wanneer je op de rode balk klikt, kun je precies zien hoe de leerling te werk is gegaan.
            <img src="/images/exercisevoorbeeld.jpg">
            Zie hier bijvoorbeeld na hoeveel seconden een hint is aangevraagd, of de leerling een video heeft bekeken en welk antwoord er uiteindelijk is gegeven.
          </p>
        <h3>Dagelijks activiteiten verslag</h3>
          <p>
            Hier zie je hoeveel tijd die er per leerling aan Iktel is besteed en aan welke sommen zij gewerkt hebben. 
            Ook kun je zien hoeveel tijd zij binnen en/of buiten schooluren hebben gewerkt. 
          </p>
        <h3>Periodieke voortgang vaardigheden</h3>
          <p>
            Laat zien hoeveel en welke vaardigheden jouw studenten hebben afgerond binnen een bepaalde periode.
          </p>
        <h3>Punten per minuut per klas</h3>
          <p>
            Dit overzicht toont het totale aantal energiepunten per minuut. 
            Dit geeft  de productiviteit weer van een klas. 
            Zo kun je bijvoorbeeld een wedstrijd tussen (delen van) klassen organiseren, of kijken op welk tijdstip leerlingen het meest efficiënt werken. 
          </p>
        <h3>Doelen</h3>
          <p>
            Binnen Iktel kun je werken met doelen. 
            Je kunt een leerling bijvoorbeeld het doel geven om alle video’s van breuken te gaan bekijken. 
            De leerling stelt dit dan in als doel. 
            Binnen deze tab zie je hoe ver de leerlingen met de vordering van hun doelen zijn. 
          </p>
        <h3>Zelf video’s maken en toevoegen</h3>
          <p>
            Als docent kun je naast het gebruk van bestaande video’s ook zelf video’s opnemen en toevoegen aan Iktel. 
            Er wordt nog een tool ontwikkeld waarmee je gemakkelijk je video kan uploaden. 
            Op dit moment vragen wij echter om in de wiki te kijken (wiki.iktel.nl). 
            Hier kun je zelf per leerdoel aangeven of je een geschikte video hebt gemaakt of er eentje weet. 
            Door op edit te klikken kun je zelf de link naar de video plaatsen.
          </p>
        <h3>Zelf opdrachten maken en toevoegen</h3>
          <p>
            Iktel is nog druk bezig met verbeteren en aanvullen van de website. 
            We zijn zelf bezig met het ontwikkelen van nieuwe oefeningen. 
            Ook dit proces is op onze wiki te volgen. 
            Hier staan alle oefeningen aangegeven die op den duur op de site komen. 
            Heb je ideeën over hoe je deze kunt toetsen of ken je soortgelijke oefeningen. 
            Plaats ze dan in <a href="wiki.iktel.nl">onze wiki op wiki.iktel.nl</a>. 
            Op ons <a href="http://blog.iktel.nl//search/label/Khan%20in%20de%20klas">blog</a> kun je lezen over de gebruikerservaring van een leraar die Khan in de klas gebruikt. 
          </p>
        <!-- <h3></h3><p></p> -->

    </article>

{% endblock pagecontent %}
{% block bottompagescript %}
    {{ js_css_packages.js_package("exercisestats") }}
    {{ analytics.crazyegg_tracker(False) }}
{% endblock bottompagescript %}
