{% import 'macros/exercises.html' as exercise_macros %}

<script>
function createGoalInitialize() {
    var mapParams = {
        'mapCoords': {{ map_coords }},
        'admin': false,
        'hideDrawer': true,
        'newGoal': true,
        'container': 'goal-choose-exercises',
        'graph_dict_data': {{ graph_dict_data }}
    };
    var knowledgeMap = new KnowledgeMap(mapParams);
    GoalCreator.init(knowledgeMap);
    knowledgeMap.setNodeClickHandler(GoalCreator.onExerciseClicked);
    GoalCreator.showExercises();
    GoalCreator.resize();
}
</script>

<div class="create-goal-page">
<form id="create-goal" action="javascript:">
    <div class="section-headline">
        <a id="goal-submit-button" onclick="javascript:GoalCreator.submit();" class="simple-button green">Maak een nieuwe doelstelling aan</a>
        <a class="simple-button close goals-close-button">Annuleer</a>
        <span id="goal-commit-response" style="display:none;" class="goal-response-text"></span>
        <input type="text" name="title" class="goal-title simple-input ui-corner-all blur-on-esc" placeholder="Nieuwe doelstelling (Klik hier om een titel toe te voegen)"></input>
    </div>
    <div id="goal-info-section">
        <div id="create-goal-view"></div>
        <div id="goal-hidden-values"></div>
    </div>
</form>

<div id="container" class="dashboard{% if not logged_in %} unregistered{% endif %}">
    <div class="objective-type-picker clearfix">
        <a href="javascript:GoalCreator.showExercises();" class="simple-button" id="show-ex-btn">Kies vaardigheden (<span id="goal-exercise-count">0</span> geselecteerd)</a>
        <a href="javascript:GoalCreator.showVideos();" class="simple-button" id="show-vid-btn">Kies video&#39; (<span id="goal-video-count">0</span> geselecteerd)</a>
    </div>
    <div id="goal-spacer"></div>
    <div id="goal-choose-exercises">
        {{ exercise_macros.exercise_legend() }}
        {{ exercise_macros.exercise_dashboard() }}

        <div class="dashboard-map">
            {{ exercise_macros.knowledgemap(false) }}
        </div>
    </div>

    <div id="goal-choose-videos" style="display: none;">
        <div class="dashboard-header">
            <div class="dashboard-nav">
                {{ templatetags.topic_browser("browse") }}
            </div>
            <div class="dashboard-title">
                <img src="/images/video.png" class="dashboard-icon" width=22 height=22 />
                Video#39;s
            </div>
        </div>
        <div class="dashboard-content-stretch">
            {{ library_content }}
        </div>
    </div>
</div>

</div>
