<div class="create-exercise modal fade hide">
    <div class="modal-header">
        <span class="title">Add exercise</span> <a href="#" class="close-button close">x</a>
    </div>
    <div class="modal-body">

      <div>
        <label for="name" style="font-weight: bold;">Name (file name without .html)</label>
        <input type="text" name="name" size="40" />
      </div>

      <a class="ok-button simple-button green" href="javascript:void(0)" style="float: right">Add exercise</a>

    </div>
</div>
