<div class="create-video modal fade hide">
    <div class="modal-header">
        <span class="title">Add video</span> <a href="#" class="close-button close">x</a>
    </div>
    <div class="modal-body">

      <div>
        <label for="youtube_id" style="font-weight: bold;">Youtube ID</label>
        <input type="text" name="youtube_id" size="40" />
      </div>

      <div class="create-video-preview">
        Enter a YouTube ID to look up a video.
      </div>

      <a class="ok-button simple-button disabled" href="javascript:void(0)" style="float: right">Add video</a>

    </div>
</div>
