<div class="list-versions modal fade hide">
    <div class="modal-header">
        <span class="title">View topic tree versions</span> <a href="#" class="close-button close">x</a>
    </div>
    <div class="modal-body">
        <div class="version-list">
            Loading...
        </div>
        <div style="clear: both"></div>
    </div>
</div>
