<div style="width: 500px" id="topic-search-bar">
  <img class="search-button" src="/images/jquery-mobile/icon-search-black.png" width="16" height="16">
  <div class="search-panel" style="display: none;">
    <input value="" style="width: 150px; height: 14px; margin-top: 2px;"></input>
    <img class="next-button" src="/images/vote-down-gray.png" width="18" height="13" style="float: right; margin-top: 5px;">
    <img class="prev-button" src="/images/vote-up-gray.png" width="18" height="13" style="float: right; margin-top: 5px;">
  </div>
</div>
