<div class="layer backdrop videoframe"></div>
<div class="layer controls">
    <form class="qtip-question" style="width: 480px">
        <p>Let's see if you already know this.</p>
        <p>Is the denominator on the top or bottom?</p>
        <p>
            <label class="radio inline"><input type="radio" name="answer" value="top"> Top</label>
            <label class="radio inline"><input type="radio" name="answer" value="bottom"> Bottom</label>
        </p>
        <p class="mem">
            Here's a good way to remember:<br>
            The <strong>N</strong>umerator is to the <strong>N</strong>orth. The <strong>D</strong>enominator is <strong>d</strong>own below.
        </p>
        {{>submit-area}}
    </form>
    <div class="watermark-blocker"></div>
</div>
