{% extends "devpanel/panel_template.html" %}

{% block panelcontent %}
<div>
    <h2>Developer Panel</h2>

    <p>If you're not supposed to be here, please turn yourself in to the appropriate authorities.</p>

    <ul>
        <li><a href="devadmin/coaches_list">View list of coaches</a></li>
        <li><a href="devadmin/emailchange">Merge user accounts</a></li>
        <li><a href="devadmin/deleteaccount">Delete an account</a></li>
        <li><a href="devadmin/managedevs">Add new developers</a></li>
        <li><a href="devadmin/managecoworkers">Add coworkers for specific coaches</a></li>
        <li><a href="devadmin/managecommoncore">Manage Common Core content</a></li>
        <li><a href="devadmin/content">Edit content topics tree</a></li>
        <li><a href="devadmin/maplayout">Edit knowledge map layout</a></li>
        <li><a href="devadmin/memcacheviewer">View memcache values</a></li>
        <li><a href="badges/custom/create">Create</a> or <a href="badges/custom/award">award</a> custom badges</li>
    </ul>

    <p>See also <a href="discussion/mod">moderator tools</a>.</p>
</div>
{% endblock panelcontent %}

