{% extends "devpanel/panel_template.html" %}

{% block panelcontent %}

<div id="devpanel" style="padding: 9px 23px;">
  <div>
      <h2>Upload common core map</h2>
      {% if not done %}
          Upload a TSV (tab-separated) file which maps common core standards to KA exercises and videos (need admin access)
          <form id="upload" method="POST" action="/devadmin/managecommoncore" enctype="multipart/form-data" style="display: block; margin: 22px 0">
          <input id="commoncore" name="commoncore" type="file" /><br><br>
          <input id="upload" type="submit" value="Update common core mapping" />
          </form>
      {% else %}
          Updating common core mapping (takes 5-10 mins to <a href="/commoncore">reflect changes</a>)
      {% endif %}
  </div>
</div>

{% endblock panelcontent %}
