<div class="notification-bar" style="display:none;">
{% if login_notification %}
	<span class="notification-bar-content"> De versie van de pagina die u bekijkt is een oude versie. Sommige kenmerken kunnen veranderen of stoppen met werken. Laad de pagina alstublieft <a href="javascript: location.reload(true)">opnieuw</a>.</span>
	<span class="notification-bar-close">(<a href="javascript:">close</a>)</span>
{% endif %}
</div>
<div class="notification-bar-spacer"></div>
