<div class="goals-area goals-personal fancy-scrollbar">
    {{#goals}}
    {{>shared_goalbook-row}}
    {{/goals}}
</div>
<div id="goalbook-controls">
    <a class="new-goal simple-button green" href="javascript:void(0)">New goal</a>
    <a class="goal-history simple-button seethrough" href="{{profileRoot}}goals">Goal History</a>
    <a class="close-button">x</a>
</div>
