<div class="exercise-edit" data-id="{{ name }}">
  <a href="{{ url }}" style="color: {{#if live}}#069{{else}}red{{/if}}; {{#unless live}}text-decoration: line-through{{/unless}}; display: block">{{ display_name }}</a></div>
</div>

