<div class="share-links" data-badge-name="{{name}}">
    <a class="emailShare" href="{{emailLink}}" target="_blank">
        <i class="icon-envelope"></i>
        Email
    </a>
    <a class="twitterShare" href="{{twitterLink}}" target="_blank">
        <i class="icon-twitter"></i>
        Tweet
    </a>
    <a class="facebookShare" href="javascript:void 0">
        <i class="icon-facebook"></i>
        Share
    </a>
	<div class="clearFloat"></div>
</div>
