<div class="calculating-end-of-stack">
    <div class="card-pocket">
        <div class="slit">&nbsp;</div>
        <div class="slit-overlay">&nbsp;</div>
    </div>

    <h2 class="calc-text-spin">
        <span>Counting hard-earned leaves...</span>
        <span>Crunching hard numbers...</span>
        <span>Calculating streaks...</span>
        <span>Updating proficiency...</span>

        <!-- silly spin messages -->
        <span class="egg" data-prob=".07">Reticulating splines...</span>
        <span class="egg" data-prob=".03">Doublechecking with Toby...</span>
        <span class="egg" data-prob=".005">Consulting with Sal...</span>
    </h2>

    <img class="throbber" src="/images/throbber.gif">
</div>
