<div class="calculating-end-of-stack">
    <div class="card-pocket">
        <div class="slit">&nbsp;</div>
        <div class="slit-overlay">&nbsp;</div>
    </div>

    <h2 class="calc-text-spin">
        <span>Tellen van welverdiende blaadjes...</span>
        <span>Getallen verwerken...</span>
        <span>Berekenen van series...</span>
        <span>Bijwerken van voortgang...</span>

        <!-- silly spin messages -->
        <span class="egg" data-prob=".07">Hyperlinks bijbestellen...</span>
        <span class="egg" data-prob=".03">Navragen bij Toby de hond...</span>
        <span class="egg" data-prob=".005">Overleggen met Sal...</span>
    </h2>

    <img class="throbber" src="/images/throbber.gif">
</div>
