<div class="leaves clearfix">
    <div class="leaf {{leaves.0.state}}" data-desc="Earn this leaf for completing this card.">
        <div class="full-leaf">
        </div>
    </div>
    <div class="leaf {{leaves.1.state}}" data-desc="Earn this leaf for completing this card without using all of the hints.">
    	<div class="full-leaf">
        </div>
    </div>
    <div class="leaf {{leaves.2.state}}" data-desc="Earn this leaf for answering correctly on your first try without any hints.">
    	<div class="full-leaf">
        </div>
    </div>
</div>
