<div class="current-card-container card-type-{{cardType}}">
    <div class="current-card-container-inner vertical-shadow">
    	<div class="leaves-container">
            {{> card-leaves}}
        </div>
        <div class="current-card-contents"></div>
    </div>
    <div id="extras" class="single-exercise">
		<!-- TODO: Toggle scratchpad display -->
		<ul>
			<li>
				<a id="scratchpad-show" href="">Show scratchpad</a>
				<span id="scratchpad-not-available">Scratchpad not available</span>
			</li>
		</ul>
	</div>
</div>

