<article class="exercises-content clearfix">

    <div class="exercises-header">{{> exercise-header}}</div>

    <div class="exercises-body">
        <div class="exercises-stack incomplete-stack"></div>
        <div class="exercises-card current-card"></div>
        <div class="exercises-stack complete-stack"></div>
        <div class="stack-spacer clearfix"></div>
    </div>

</article>
