<div class="happy-picture">
    <h4 class="caption">{{caption}}</h4>

	<input type="button" class="simple-button green" id="next-question-button" value="Next Question..."/><br>

    <div class="img-container"><img class="vertical-shadow" src="{{src}}"></div>
</div>
